@import "../../../../style/base/color.scss";

ion-header{
    ion-title{
        padding:0px !important;
    }
}

ion-footer {
    ion-toolbar:first-child {
        --background: white;

        ion-buttons {
            max-width: 100vw;

            ion-button {
                min-width: 25%;
                margin: 0px;
            }
        }
    }
}