<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-img src="../../../../assets/ng-img/logo.jpeg"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-tabs>
              <ion-tab-bar slot="top">
                <ion-tab-button tab="login">
                  <ion-label>Login</ion-label>
                </ion-tab-button>
            
                <ion-tab-button tab="signup">
                  <ion-label>Signup</ion-label>
                </ion-tab-button>
              </ion-tab-bar>
            </ion-tabs>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>