<ion-content [scrollX]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="12">
            <ion-img src="../../../../assets/ng-img/logo.jpeg"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-tabs>
              <ion-tab-bar slot="top">
                <ion-tab-button tab="login">
                  <ion-label class="ion-text-center ion-text-uppercase">Login</ion-label>
                </ion-tab-button>
                <ion-tab-button tab="signup">
                  <ion-label class="ion-text-center ion-text-uppercase">Signup</ion-label>
                </ion-tab-button>
              </ion-tab-bar>
            </ion-tabs>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>