@import "../../../style/util/mixins.scss";
@import "../../../style/util/variable.scss";

ion-content{
    >ion-img{
        width: 220px;
        height: 70px;
        margin: 6vh auto;
    }
    >ion-tabs {
        position: relative;
        max-height: 450px;
        >ion-tab-bar {
            --background: #{$transparent};
            border: 2px solid #{$selected-bg};
            --border:#{$selected-bg};
            margin: auto;
            height: 45px;
            min-width: 75vw;

            >ion-tab-button {
                --color :#{$text-color};
                &[aria-selected="true"] {
                    background: #{$selected-bg};
                }
            }
        }
    }
}
