<ion-content>
  <ion-text *ngIf="branches.length == 0" class="ion-text-center">Currently,You do not have any branch</ion-text>
  <ion-virtual-scroll *ngIf="branches.length > 0" [items]="branches" approxItemHeight="70px">
    <ion-item class="ion-activatable ripple-parent" lines="none" *virtualItem="let branch" (click)="editBranch(branch)">
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      <ion-row>
        <ion-row>
          <ion-text>{{branch.company_name}}</ion-text>
          <ion-text>{{branch.company_email}}</ion-text>
        </ion-row>
        <ion-row>
          <ion-text>{{branch.phone_number}}</ion-text>
        </ion-row>
      </ion-row>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>

