ion-header{
    >ion-item {
        background: white;
        border-bottom: 2px solid;
        min-width: -webkit-fill-available;
    }
}
ion-content{
    >ion-row{
        justify-content: center;
        padding: 5px 0px;
    }
    >ion-list{
        >ion-item{
            --inner-padding-end: 12px;
            --min-height:60px;
            --padding-end: 16px;
            margin:5px 22px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 2px 6px #00000029;
            border-radius: 8px;
            opacity: 1;
            >ion-skeleton-text{
                line-height: 45px;
            }
        }
    }
}