<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-text>Search City</ion-text>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon name="close-outline" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-item lines="full">
        <ion-label position="floating">Select City</ion-label>
        <ion-input type="text" (input)="searchCity($event.target.value)"></ion-input>
    </ion-item>
</ion-header>
<ion-content>
    <ion-list *ngIf="cities.length > 0">
        <ion-item lines="none" *ngFor="let city of cities" (click)="selectCity(city)">
            <ion-label>{{city.city_name}}</ion-label>
            <ion-text>{{city.city_code}}</ion-text>
        </ion-item>
        <ion-item lines="none">
            <ion-skeleton-text animated></ion-skeleton-text>
        </ion-item>
    </ion-list>
</ion-content>