<ion-header>
  <ion-toolbar>
    <ion-title>flight</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="one-way">
        <ion-label>one-way</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="round-trip">
        <ion-label>round-trip</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="multi-city">
        <ion-label>multi-city</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-content>