@import "../../../../../style/base/color.scss";
@import "../../../../../style/util/mixins.scss";


ion-tab-bar {
    justify-content: space-between;
    // --background:#{$transparent};
    --border:transparent;
    // --color:
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 6vh;

    @include first-tab-border("one-way", #{$geraldine});
    @include middle-tab-border("round-trip", #{$geraldine});
    @include last-tab-border("multi-city", #{$geraldine});

    >ion-tab-button {
        max-width: -webkit-fill-available;

        &[aria-selected="true"] {
            background:#{$geraldine};
            color:#{$geraldine};
        }
    }
}

ion-row{
    height: 35px;
    margin: 20px 40px;
}

ion-router-outlet{
    top:80px;
}
