@import "../../../../../style/util/variable.scss";
@import "../../../../../style/util/mixins.scss";


ion-tab-bar {
    justify-content: space-between;
    // --background:#{$transparent};
    --border:#{$transparent};
    // --color:
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 6vh;

    @include first-tab-border("one-way", #{$tab-border});
    @include middle-tab-border("round-trip", #{$tab-border});
    @include last-tab-border("multi-city", #{$tab-border});

    >ion-tab-button {
        max-width: -webkit-fill-available;
        background:#{$tab-background};
        color:#{$tab-color};

        >ion-icon {
            color:#{$icon-color} !important;
        }

        >ion-label {
            color:#{$tab-color} !important;
        }

        &[aria-selected="true"] {
            background:#{$tab-selected-background};
            color:#{$tab-selected-color};

            >ion-icon {
                color:#{$icon-color2} !important;
            }

            >ion-label {
                color:#{$tab-selected-color} !important;
            }

        }
    }
}
