ion-tab-bar{
    background: transparent;
    --color-focused:red;
    ion-tab-button{
        background: transparent;

    }

    ion-tab-button[aria-selected="true"]{
        background: #3566ee;
        ion-label{
            color : white;
        }
    }

    [tab="one-way"]{
        border-left : 2px solid #3566ee;
        border-top: 2px solid #3566ee;
        border-bottom:2px solid #3566ee;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    [tab="round-trip"]{
        border:2px solid #3566ee;
    }
    [tab="multi-city"]{
        border-right : 2px solid #3566ee;
        border-top: 2px solid #3566ee;
        border-bottom:2px solid #3566ee;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
