<ion-header>
  <ion-toolbar>
    <ion-item lines="none" slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-item>
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="onboard">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Onboard</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="vendor">
        <ion-icon name="map"></ion-icon>
        <ion-label>Vendor</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="booking">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Booking</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="invoice">
        <ion-icon name=""></ion-icon>
        <ion-label>Invoice</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
