ion-grid{
    --ion-grid-padding: 16px !important;
    >ion-row{
        height: -webkit-fill-available;
        >ion-col{
            ion-card{
                margin: 0px;
                height: 100%;
                >ion-card-header{
                    height: 15%;
                }
                >ion-card-content{
                    height: 85%;
                    >ion-row{
                        >ion-col{
                            margin:auto;
                            max-width: fit-content;
                        }
                    }
                }
            }
        }
    }
}
