<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
      <ion-card-header>

        <ion-card-title>
          {{ ($busDetail | async).operatorName }}
        </ion-card-title>
        <ion-card-subtitle>
          {{ ($busDetail | async).busType }}
        </ion-card-subtitle>

        <ion-segment (ionChange)="changeIndex($event)" [value]="$seatIndex | async" *ngIf="($upperSeat | async).length > 0">
          <ion-segment-button value="lower">Lower</ion-segment-button>
          <ion-segment-button value="upper">Upper</ion-segment-button>
        </ion-segment>

      </ion-card-header>
      <ion-card-content *ngIf="($seatIndex | async) == 'lower'">

        <ion-row *ngFor="let seats of ($lowerSeat | async);let i = index" class="ion-justify-content-between">
          <ion-col *ngFor="let seat of seats" (click)="selectLowerSeat(seat)">

            <ion-icon [src]="seatURL(seat) | async"></ion-icon>

          </ion-col>
        </ion-row>

      </ion-card-content>

      <ion-card-content *ngIf="($seatIndex | async) == 'upper'">

        <ion-row *ngFor="let seats of ($upperSeat | async);let i = index" class="ion-justify-content-between">
          <ion-col *ngFor="let seat of seats" (click)="selectUpperSeat(seat)">

            <ion-icon [src]="seatURL(seat) | async"></ion-icon>

          </ion-col>
        </ion-row>

      </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>