<ion-header>
   <ion-toolbar>
      <ion-title>
        <ion-text>select Date</ion-text>
      </ion-title>
     <ion-buttons slot="end" (click)="close(date)">
        <ion-icon size="large" name="close"></ion-icon>
     </ion-buttons>
   </ion-toolbar>
 </ion-header>
<ion-content>
   <ion-grid>
      <ion-row>
         <ion-col>
            <ion-calendar #calendar [(ngModel)]="date" [format]="'YYYY-MM-DD'" [options]="dateOptions"></ion-calendar>
         </ion-col>
      </ion-row>
   </ion-grid>
</ion-content>

