@import "../../../../style/util/variable.scss";


ion-content{
    >ion-item{
        &:first-child{
            ion-text{
                font-size: xx-small;
                color:#{$btn2-bg};
            }
        }
        ion-icon{
            margin-right: 11px;
        }
    }

    >ion-list{
        >ion-item{
            ion-checkbox {
                margin-right: 16px;
            }
        }
        >ion-text{
            margin-left:8px;
        }
        >ion-textarea{
            border: 1px solid grey;
            margin: 8px;
            width: auto;
        }
    }
    >ion-row{
        >ion-col{
            >ion-button {
                max-width: -webkit-fill-available;
                --opacity: 1;
                --background:#{$btn4-bg};

                ion-text,
                ion-icon {
                    color: white !important;
                }
            }
        }
    }
}