@import "../../../../../../style/util/variable.scss";
@import "../../../../../../style/util/mixins.scss";

ion-grid {
    @include flex-col-grid;
    margin:0px;
    >ion-row:first-child{
        @include flex-col-grid;
        height:auto;
        >ion-segment{
            ion-col{
                ion-segment-button {
                    min-width: calc(100% / 4);

                    ion-label {
                        font-size:.70em;
                    }
                }
            }
        }
    }
    >ion-row:last-child{
        @include flex-col-grid;
        flex-grow: 1;
            >app-result-list{
                @include flex-col-grid;
            }
        }
}

ion-segment {
    border-bottom:1px solid #{$text-color};
}

ion-segment-button {
    @include flex-col-grid;

    ion-text {
        font-size:.70em;
    }
}

ion-footer{
    background: rgb(218, 214, 214);
    ion-row{
        height:60px;
        ion-col{
            padding:3px;
            ion-row{
                height:50%;
                ion-text, ion-img{
                    margin-left:5px;
                    margin-top:auto;
                    margin-bottom:auto;
                }
                ion-button{
                    height:auto;
                    --background:blue;
                    ion-text{
                        color:white;
                    }
                }
            }
        }
    }
    ion-text{
        font-size:.70em;
    }
}