@import "../../../../style/util/mixins.scss";

ion-header{
    app-result-sorting {
            display: flex;
            height: 48px;
    }
}

.Blink {
    animation: blinker .5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}