@import "../../../../style/util/variable.scss";
@import "../../../../style/util/mixins.scss";

ion-header {
    ion-title:last-of-type {
        color: #fff !important;
        font-size: 13px !important;
    }
    ion-icon {
        filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(100%) contrast(100%);
        // color:#{$icon-color2};
    }
}

ion-content{
    --offset-top: -56px !important;
    --background: white !important;
}

.Blink {
    animation: blinker .5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}