<ion-grid>
  <ion-row>
    <ion-col>
      <ion-grid id="carrier">
        <ion-row>
          <ion-col size="3">
            <ion-row>
              <ion-col>
                <ion-item lines="none" button (click)="search('flight')">
                  <ion-icon size="large" src="../../../../../assets/icons/airport.svg"></ion-icon>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text>Flight</ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="3">
            <ion-row>
              <ion-col>
                <ion-item lines="none" button (click)="search('bus')">
                  <ion-icon size="large" src="../../../../../assets/icons/transportation.svg"></ion-icon>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text>Bus</ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="3">
            <ion-row>
              <ion-col>
                <ion-item lines="none" button (click)="search('hotel')">
                  <ion-icon size="large" src="../../../../../assets/icons/bed.svg"></ion-icon>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text>Hotel</ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="3">
            <ion-row>
              <ion-col>
                <ion-item lines="none" button (click)="search('cab')">
                  <ion-icon size="large" src="../../../../../assets/icons/taxi.svg"></ion-icon>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text>Cab</ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-trip-list></app-trip-list>
    </ion-col>
  </ion-row>
</ion-grid>