ion-grid#home-page{
    display: flex; 
    flex-flow: column;
    margin:0px 0px 0px 0px;
    height : 100%;
    >ion-row:last-child{
        display: flex; 
        flex-flow: column;
        flex-grow: 1;
    }
}

ion-grid#carrier{
    --ion-grid-padding:10px;

    ion-text{
        text-transform: uppercase;
        padding-left : 10px;
        color:grey;
        font-weight: bold;
        font-size: small;
    }


}

ion-virtual-scroll{
    background:transparent;
    box-sizing:unset;
}

ion-label{
    font-size: small;
}
