@import "../../../../../style/util/variable.scss";


ion-grid{
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
    ion-row:first-child{
        background: #{$bar-bg2};
        padding: 20px 0px;
        height: 150px;
        >ion-thumbnail{
            >ion-title{
                color:#{$white-text};
                padding: 0px;
                text-align: center;
            }
        }
    }
    ion-row:last-child{
        position: relative;
        top: -30px;
        background: #F7F7F7;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        height: calc(100% - 150px);
        >ion-item {
            width: -webkit-fill-available;
            margin: 0px 22px;
            --padding-start: 0px;
            height: fit-content;
        }
        >app-trip-list{
            width: -webkit-fill-available;
            height: -webkit-fill-available;
        }
    }
}


ion-virtual-scroll{
    background:transparent;
    box-sizing:unset;
}
