<ion-grid>
  <ion-row class="ion-justify-content-around">
    <ion-thumbnail>
      <ion-icon size="large" src="../../../../../assets/icons/dashboard/flight.svg" (click)="searchFlight()"></ion-icon>
      <ion-title>Flight</ion-title>
    </ion-thumbnail>
    <ion-thumbnail>
      <ion-icon size="large" src="../../../../../assets/icons/dashboard/bus.svg" (click)="searchBus()"></ion-icon>
      <ion-title>Bus</ion-title>
    </ion-thumbnail>
    <ion-thumbnail>
      <ion-icon size="large" src="../../../../../assets/icons/dashboard/hotel.svg" (click)="searchHotel()"></ion-icon>
      <ion-title>Hotel</ion-title>
    </ion-thumbnail>
    <ion-thumbnail>
      <ion-icon size="large" src="../../../../../assets/icons/dashboard/cab.svg" (click)="searchCab()"></ion-icon>
      <ion-title>Cab</ion-title>
    </ion-thumbnail>
  </ion-row>
  <ion-row>
    <ion-item>
      <ion-text>Upcoming Trips</ion-text>
    </ion-item>
    <app-trip-list></app-trip-list>
  </ion-row>
</ion-grid>