ion-content{
    ion-row{
        mat-accordion{
            >mat-expansion-panel{
                border-bottom : 2px solid grey;
                >mat-expansion-panel-header{

                    background: transparent;

                    border-bottom : 1px solid grey;
                    padding-left: 0px;
                    padding-right : 0px;
                    display: flex; 
                    flex-flow: column;
                    height : 100%;
                    >::ng-deep span{
                        width : 100%;
                        >ion-row{
                            width : 100%;
                        }
                        ion-row{
                            ion-col{
                                display: flex; 
                                flex-flow: column;
                                height : 100%;
                                align-items: stretch;
                                ion-row{
                                    margin : 0px;
                                    ion-text{
                                        font-size: small;
                                    }
                                }
                            }
                        }
                    }
                }

                ::ng-deep .mat-expansion-panel-body{
                    padding : 2px;
                    border-bottom : 1px solid grey;
                    >ion-row:first-child{
                        margin : 5px;
                        ion-text{
                            font-size: small;
                        }
                    }
                    >ion-row:last-child{
                        margin : 5px;
                            ion-col{
                                display: flex; 
                                flex-flow: column;
                                height : 100%;
                                align-items: stretch;
                                ion-row{
                                    margin : auto;
                                    ion-text{
                                        margin : 2px;
                                        font-size: small;
                                    }
                                }
                            }
                    }
                }
            }
        }
    }
}

.selectedItem{
    background: rgb(229, 173, 173) !important;
    ion-text{
        color:white;
    }
}