app-custom-stepper{
    height: 100%;
}

ion-grid{
    display: flex; 
    flex-flow: column;
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    >ion-row {
        padding : 0px 0px 0px 0px;
    }
    >ion-row:last-child{
        flex-grow: 1;
        height: 100%;
        >ion-col{
            display: flex; 
            flex-flow: column;
            >ion-row:last-child{
                flex-grow: 1;
                height: 100%;
                >ion-col{
                    padding : 0px 0px 0px 0px;
                }
            }
        }
    }
}

ion-searchbar{
    padding : 0px 0px 0px 0px;
}

ion-item, ion-searchbar, ion-input {
    --background:transparent;
}

ion-list {
    background: transparent;
}

form {
    >ion-item {
        --inner-padding-top : 5px;
        --inner-padding-bottom : 5px;
    }
}

ion-button{
    --opacity:0.4;
    margin-top : 20px;
}

button {
    padding : 0px 0px 0px 0px;
    >ion-button {
        margin : 0px 0px 0px 0px ;
    }
}

ion-label,a {
    font-size: x-small;
}

ion-icon{
    padding-right : 10px;
}

//////////////////////////////////////////////////////

ion-content{
    --background: none;
}