<form [formGroup]="personalForm" (ngSubmit)="onSignup()">
  <ion-item>
    <ion-icon slot="start" src="../../../assets/icons/name.svg"></ion-icon>
    <ion-row>
      <ion-input type="text" formControlName="name" placeholder="Name" type="text"></ion-input>
      <ion-label *ngIf="personalForm.controls['name'].touched &&
            personalForm.controls['name'].dirty &&
            personalForm.controls['name'].hasError('required')"
            color="danger">
            Name Required
      </ion-label>
      <ion-label *ngIf="personalForm.controls['name'].touched &&
              personalForm.controls['name'].dirty &&
              personalForm.controls['name'].hasError('pattern')"
              color="danger">
              Alphabet only
      </ion-label>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="phone-portrait"></ion-icon>
    <ion-row>
      <ion-input type="text" formControlName="mobile_number" placeholder="Mobile Number" type="number"></ion-input>
      <ion-label 
        *ngIf="personalForm.controls['mobile_number'].touched &&
              personalForm.controls['mobile_number'].dirty &&
              personalForm.controls['mobile_number'].hasError('required')"
              color="danger">
              Mobile Number Required
      </ion-label>
      <ion-label *ngIf="personalForm.controls['mobile_number'].touched &&
              personalForm.controls['mobile_number'].dirty &&
              personalForm.controls['mobile_number'].hasError('pattern')" color="danger">
        Invalid Mobile Number
      </ion-label>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" src="../../../../assets/ng-img/icons/mail.svg"></ion-icon>
    <ion-row>
      <ion-input type="text" formControlName="bussiness_email_id" placeholder="Bussiness Email" type="email"></ion-input>
      <ion-label 
        *ngIf="personalForm.controls['bussiness_email_id'].touched &&
              personalForm.controls['bussiness_email_id'].dirty &&
              personalForm.controls['bussiness_email_id'].hasError('required')"
              color="danger">
              Bussiness EmailID Required
      </ion-label>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="briefcase"></ion-icon>
    <ion-row>
      <ion-input type="text" formControlName="company_name" placeholder="Company Name"></ion-input>
      <ion-label 
        *ngIf="personalForm.controls['company_name'].touched &&
              personalForm.controls['company_name'].dirty &&
              personalForm.controls['company_name'].hasError('required')"
              color="danger">
              Company Name Required
      </ion-label>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" src="../../../assets/icons/address.svg"></ion-icon>
    <ion-row>
      <ion-input type="text" formControlName="company_address" placeholder="Company Address"></ion-input>
      <ion-label 
        *ngIf="personalForm.controls['company_address'].touched &&
              personalForm.controls['company_address'].dirty &&
              personalForm.controls['company_address'].hasError('required')"
              color="danger">
              Company Address Required
      </ion-label>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="phone-portrait"></ion-icon>
    <ion-row>
      <ion-input type="text" formControlName="gst_number" placeholder="GST Number"></ion-input>
      <ion-label 
        *ngIf="personalForm.controls['gst_number'].touched &&
              personalForm.controls['gst_number'].dirty &&
              personalForm.controls['gst_number'].hasError('required')"
              color="danger">
              GST Number Required
      </ion-label>
    </ion-row>
  </ion-item>
  <ion-button expand="block" fill="solid" type="submit">
    SignUp
  </ion-button>
</form>