@import "../../../../style/util/variable.scss";
@import "../../../../style/util/mixins.scss";

ion-grid{
    height: fit-content;
    margin: auto 10px;
    >ion-row:first-child{
         >ion-segment {
            max-width: 90vw;
            margin: 10px 0px;
            min-height: auto;
            height: 30px;

             >ion-segment-button {
                min-width: 16vw;
                min-height: max-content;
                width: 16vw;
                white-space: normal;
                --padding-start: 0px;
                --padding-end: 25px;
                --background: transparent;
                --background-checked:transparent;
                --color-checked:transparent;
                 >ion-text {
                     font-size: 7px;
                 }

                 >ion-icon {
                     font-size: 12px;
                         margin: auto;
                 }

                 &.segment-button-checked{
                     --background-checked:#{$selected-bg};
                    >ion-icon{
                        color:white !important;
                    }
                    >ion-text{
                        color:white;
                    }
                 }
             }
         }
    }
    >ion-row:last-child{
        min-height:fit-content;
        >ng-template {}
    }
}