ion-title {
    padding-left: 0px;
}

ion-grid{
    height:450px;
    // --ion-grid-padding:8px !important;
    >ion-row:last-child{
        display: flex; 
        flex-flow: column;
        flex-grow: 1;
    }
}


