@import "../../../../style/util/mixins.scss";

ion-grid{
    @include flex-col-grid;
    // --ion-grid-padding:8px !important;
    >ion-row:last-child{
        display: flex; 
        flex-flow: column;
        flex-grow: 1;
    }
}


