<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon src="../../../../assets/ionicons/chevron-back-outline.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title translucent="true">
      <ion-text>search {{'flight' | titlecase }}</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollX]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-router-outlet></ion-router-outlet>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>