@import "../../../../style/util/mixins.scss";

ion-grid{
    @include flex-col-grid;
    >ion-row:first-child{
        app-eligibility {
                width: -webkit-fill-available;
        }
    }
    >ion-row:last-child{
        display: flex; 
        flex-flow: column;
        flex-grow: 1;
    }
}


