@import '../base/color.scss';

//BACKBUTTON

$back-button-color:$white;
$back-button-color-type:(
    "focused":$white,
    "hover":$white
    );

$back-button-background:$white;
$back-button-background-type:(
    "focused":transparent,
    "hover":transparent,
    "focused-opacity":1,
    "hover-opacity":1
    );

$back-button-border-radius:0px;
$back-button-icon-margin:(
    "margin-bottom":0px,
    "margin-end":0px,
    "margin-start":0px,
    "margin-top":0px,
);

$back-button-icon-padding:(
    "padding-bottom":0px,
    "padding-end":0px,
    "padding-start":0px,
    "padding-top":0px
);

$back-button-min-height:initial;
$back-button-min-width:16px;

$back-button-margin:(
    "margin-bottom":0px,
    "margin-end":0px,
    "margin-start":0px,
    "margin-top":0px,
);

$back-button-opacity:1;
$back-button-padding:(
    "padding-bottom":0px,
    "padding-end":0px,
    "padding-start":0px,
    "padding-top":0px
);

$back-button-border-radius:0px;
$back-button-icon-font-size: 16px;
$back-button-icon-font-weight:none;

$back-button-ripple-color:$white;
$back-button-transition:none;

//BUTTON

//variable

$button-color:$white;
$button-color-type:(
    "activated":$white,
    "focused":$white,
    "hover":$white,
);
$button-opacity:1;
$button-border:(
    "color": $malibu,
    "style": none,
    "width": 0px,
    "radius": 4px
);
$button-padding:(
    "bottom":0px,
    "end":0px,
    "start":0px,
    "top":0px
);
$button-background:$geraldine;
$button-background-type:(
    "activated":$beauty-bush,
    "focused":$beauty-bush,
    "hover":$beauty-bush,
    "activated-opacity":0,
    "focused-opacity":0,
    "hover-opacity":0
);
$button-ripple-color: $white;
$button-transition:none;
$button-box-shadow:none;

//FABBUTTON

//variable

// $fab-color:;
// $fab-background:;
// $fab-color-type:(
//     "activated":,
//     "focused":,
//     "hover":
// );
// $fab-background-type:(
//     "activated":,
//     "focused":,
//     "hover":,
//     "activated-opacity":,
//     "focused-opacity":,
//     "hover-opacity":
// );
// $fab-border:(
//     "radius":,
//     "style":,
//     "width":
// );
// $fab-padding:(
//     "bottom":,
//     "end":,
//     "start":,
//     "top":
// );
// $fab-transition:;
// $fab-box-shadow:;

:root {
    ion-app {
        &.home-tab{
            $button-background:$geraldine;
    
            ion-button {
    
                --background: #{$button-background};
                --background-activated: map.get($button-background-type, "activated");
                --background-activated-opacity: map.get($button-background-type, "activated-opacity");
                --background-focused: map.get($button-background-type, "focused");
                --background-focused-opacity: map.get($button-background-type, "focused-opacity");
                --background-hover: map.get($button-background-type, "hover");
                --background-hover-opacity: map.get($button-background-type, "hover-opacity");
            
                --border-color: map.get($button-border,"color");
                --border-style: map.get($button-border,"style");
                --border-width: map.get($button-border, "width"); 
                --border-radius: map.get($button-border, "radius");
            
                --box-shadow:#{$button-box-shadow};
                --color:#{$button-color};
            
                --color-activated: map.get($button-color-type, "activated");
                --color-focused: map.get($button-color-type, "focused");
                --color-hover: map.get($button-color-type, "hover");
            
                --opacity:#{$button-opacity};
            
                --padding-bottom: map.get($button-padding, "bottom");
                --padding-end: map.get($button-padding, "end");
                --padding-start: map.get($button-padding, "start");
                --padding-top: map.get($button-padding, "top");
                
                --ripple-color: #{$button-ripple-color};
                --transition:#{$button-transition};
            
                /////////////////////////////////
            
                >ion-label, >ion-text{
                    color:#{$white};
                }
            
                &.swap {
            
                    --opacity: 1;
                    --background: transparent;
            
                   >ion-icon {
                       color:#{$geraldine};
                   }
            
                }
            
                &.add {
            
                    >ion-icon {
                        color:#{$white};
                    }
            
                }
            
            
            }
            
            ion-back-button {
    
                $button-background:$limerick;
            
                --background: #{$back-button-background};
                --background-focused: map.get($back-button-background-type, "focused");
                --background-focused-opacity: map.get($back-button-background-type, "focused-opacity");
                --background-hover: map.get($back-button-background-type, "hover");
                --background-hover-opacity: map.get($back-button-background-type, "hover-opacity");
            
                --border-radius: #{$back-button-border-radius};
                --color: #{$back-button-color};
                --color-focused: map.get($back-button-color-type, "focused");
                --color-hover: map.get($back-button-color-type, "hover");
                --icon-font-size: #{$back-button-icon-font-size};
                --icon-font-weight: #{$back-button-icon-font-weight};
            
                --opacity:#{$back-button-opacity};
            
                --padding-bottom: map.get($back-button-padding, "bottom");
                --padding-end: map.get($back-button-padding, "end");
                --padding-start: map.get($back-button-padding, "start");
                --padding-top: map.get($back-button-padding, "top");
            
                --ripple-color: #{$back-button-ripple-color};
                --transition:#{$back-button-transition};
            
                --min-height:#{$back-button-min-height};
                --min-width:#{$back-button-min-width};
            
                --margin-bottom: map.get($back-button-margin, "bottom");
                --margin-end: map.get($back-button-margin, "end");
                --margin-start: map.get($back-button-margin, "start");
                --margin-top: map.get($back-button-margin, "top");
            
                --icon-padding-bottom: map.get($back-button-icon-padding, "bottom");
                --icon-padding-end: map.get($back-button-icon-padding, "end");
                --icon-padding-start: map.get($back-button-icon-padding, "start");
                --icon-padding-top: map.get($back-button-icon-padding, "top");
            
                --icon-margin-bottom: map.get($back-button-icon-margin, "bottom");
                --icon-margin-end: map.get($back-button-icon-margin, "end");
                --icon-margin-start: map.get($back-button-icon-margin, "start");
                --icon-margin-top: map.get($back-button-icon-margin, "top");
            
            
            
            }
    
        }
        &.expense-tab {
    
            $button-background:$limerick;
            
            ion-button {
    
                --background: #{$button-background};
                --background-activated: map.get($button-background-type, "activated");
                --background-activated-opacity: map.get($button-background-type, "activated-opacity");
                --background-focused: map.get($button-background-type, "focused");
                --background-focused-opacity: map.get($button-background-type, "focused-opacity");
                --background-hover: map.get($button-background-type, "hover");
                --background-hover-opacity: map.get($button-background-type, "hover-opacity");
            
                --border-color: map.get($button-border,"color");
                --border-style: map.get($button-border,"style");
                --border-width: map.get($button-border, "width"); 
                --border-radius: map.get($button-border, "radius");
            
                --box-shadow:#{$button-box-shadow};
                --color:#{$button-color};
            
                --color-activated: map.get($button-color-type, "activated");
                --color-focused: map.get($button-color-type, "focused");
                --color-hover: map.get($button-color-type, "hover");
            
                --opacity:#{$button-opacity};
            
                --padding-bottom: map.get($button-padding, "bottom");
                --padding-end: map.get($button-padding, "end");
                --padding-start: map.get($button-padding, "start");
                --padding-top: map.get($button-padding, "top");
                
                --ripple-color: #{$button-ripple-color};
                --transition:#{$button-transition};
            
                /////////////////////////////////
            
                >ion-label, >ion-text{
                    color:#{$white};
                }
            
                &.swap {
            
                    --opacity: 1;
                    --background: transparent;
            
                   >ion-icon {
                       color:#{$geraldine};
                   }
            
                }
            
                &.add {
            
                    >ion-icon {
                        color:#{$white};
                    }
            
                }
            
            
            }
            
            ion-back-button {
            
                --background: #{$back-button-background};
                --background-focused: map.get($back-button-background-type, "focused");
                --background-focused-opacity: map.get($back-button-background-type, "focused-opacity");
                --background-hover: map.get($back-button-background-type, "hover");
                --background-hover-opacity: map.get($back-button-background-type, "hover-opacity");
            
                --border-radius: #{$back-button-border-radius};
                --color: #{$back-button-color};
                --color-focused: map.get($back-button-color-type, "focused");
                --color-hover: map.get($back-button-color-type, "hover");
                --icon-font-size: #{$back-button-icon-font-size};
                --icon-font-weight: #{$back-button-icon-font-weight};
            
                --opacity:#{$back-button-opacity};
            
                --padding-bottom: map.get($back-button-padding, "bottom");
                --padding-end: map.get($back-button-padding, "end");
                --padding-start: map.get($back-button-padding, "start");
                --padding-top: map.get($back-button-padding, "top");
            
                --ripple-color: #{$back-button-ripple-color};
                --transition:#{$back-button-transition};
            
                --min-height:#{$back-button-min-height};
                --min-width:#{$back-button-min-width};
            
                --margin-bottom: map.get($back-button-margin, "bottom");
                --margin-end: map.get($back-button-margin, "end");
                --margin-start: map.get($back-button-margin, "start");
                --margin-top: map.get($back-button-margin, "top");
            
                --icon-padding-bottom: map.get($back-button-icon-padding, "bottom");
                --icon-padding-end: map.get($back-button-icon-padding, "end");
                --icon-padding-start: map.get($back-button-icon-padding, "start");
                --icon-padding-top: map.get($back-button-icon-padding, "top");
            
                --icon-margin-bottom: map.get($back-button-icon-margin, "bottom");
                --icon-margin-end: map.get($back-button-icon-margin, "end");
                --icon-margin-start: map.get($back-button-icon-margin, "start");
                --icon-margin-top: map.get($back-button-icon-margin, "top");
            
            
            
            }
        }
    }
}



