@import "../base/color.scss";

//variable
$content-color:initial;
$content-background:$white  url("../../assets/ng-img/bg.jpeg") no-repeat;
$content-keyboard-offset:0px;
$content-offset-bottom:0px;
$content-offset-top:0px;

$content-padding:(
    "bottom":0px,
    "end":0px,
    "start":0px,
    "top":0px
);

ion-content {

  &::part(background) {
    background-size: cover;
  }

    --background:#{$white} url("../../assets/ng-img/bg.jpeg") no-repeat;

    --color:#{$content-color};
    --keyboard-offset:#{$content-keyboard-offset};
    --offset-bottom:#{$content-offset-bottom};
    --offset-top:#{$content-offset-top};
    --padding-bottom:map.get($content-padding,"bottom");
    --padding-end:map.get($content-padding, "end");
    --padding-start:map.get($content-padding, "start");
    --padding-top:map.get($content-padding, "top");

    max-width:100vw;
    max-height: 100vh;
}
