@import "../base/color.scss";

//variable

$icon-color:$geraldine;

:root {
    ion-app {
        &.home-tab {
            ion-icon{
                padding-right: 0px;
                color:#{$icon-color};
            }
        }

        &.expense-tab {
            ion-icon{
                padding-right: 0px;
                color:#{$icon-color};
            }
        }
    }
}