@import "../base/color.scss";

//variable

$input-color:$black;
$input-placeholder-color:$suva-grey;
$input-background:transparent;
$input-padding:(
    "bottom":0px,
    "end":0px,
    "start":0px,
    "top":0px
);
$input-placeholder:(
    "font-style":none,
    "font-weight":none,
    "opacity": 1
);



ion-input {
    --color: #{$input-color};
    --placeholder-color: #{$input-placeholder-color};
    --background: #{$input-background};
    --padding-bottom: map.get($input-padding, "bottom");
    --padding-end: map.get($input-padding, "end");
    --padding-start: map.get($input-padding, "start");
    --padding-top: map.get($input-padding, "top");
    --placeholder-font-style: map.get($input-placeholder, "font-style");
    --placeholder-font-weight: map.get($input-placeholder, "font-weight");
    --placeholder-opacity: map.get($input-placeholder, "opacity");
}


