@import "../../style/util/variable.scss";

//variable

// $input-color:;
$input-placeholder-color:$text-color;
// $input-background:;
// $input-padding:(
//     "bottom":,
//     "end":,
//     "start":,
//     "top":
// );
// $input-placeholder:(
//     "font-style":,
//     "font-weight":,
//     "opacity":
// );



.md{
    ion-input {
        --color: red !important;
        --placeholder-color: #{$input-placeholder-color};
        --background: "";
        --padding-bottom: "";
        --padding-end: "";
        --padding-start: "";
        --padding-top: "";
        --placeholder-font-style: "";
        --placeholder-font-weight: "";
        --placeholder-opacity: "";
    }
}

.ios{
    ion-input {
        --color: blue !important;
        --placeholder-color: #{$input-placeholder-color};
        --background: "";
        --padding-bottom: "";
        --padding-end: "";
        --padding-start: "";
        --padding-top: "";
        --placeholder-font-style: "";
        --placeholder-font-weight: "";
        --placeholder-opacity: "";
    }
}


