@import "../util/variable.scss";

//variable 

// $label-color:;

ion-label{
    --color: #{$text-color} !important;
    font-size: #{$text-font-size};
    margin:0px;
}

[aria-selected="true"]{
    ion-label{
        color:#{$selected-color};
    }
}