@import "../base/color.scss";

//variable

$radio-color:$geraldine;
$radio-color-checked:$geraldine;

$radio-border-radius:20px;
$radio-inner-border-radius:20px;

ion-radio{
    --border-radius:#{$radio-border-radius};
    --color:#{$radio-color};
    --color-checked:#{$radio-color-checked};
    --inner-border-radius:#{$radio-inner-border-radius};
}
