@import "../base/color.scss";


$range-pin-color:$suva-grey;
$range-background:(
    "bar":$geraldine,
    "knob":$geraldine,
    "pin":$geraldine
);
$range-bar-background-active:none;

$range-bar-height:20px;
$range-height:15px;
$range-knob-size:10px;

$range-border-radius:(
    "bar":5px,
    "knob":5px
);
$range-knob-box-shadow:none;

ion-range{

    --pin-color:#{$range-pin-color};

    --bar-background:map.get($range-background, "bar");
    --pin-background:map.get($range-background, "pin");
    --knob-background:map.get($range-background, "knob");

    --bar-background-active:#{$range-bar-background-active};

    --bar-border-radius:map.get($range-border-radius,"bar");
    --knob-border-radius:map.get($range-border-radius, "knob");

    --bar-height:#{$range-bar-height};
    --height:#{$range-height};

    --knob-box-shadow:#{$range-knob-box-shadow};
    --knob-size:#{$range-knob-size};

}