@import "../util/variable.scss";

//variable 

// $title-color:;

.md{

    ion-title {
        color: $text-color;
        font-size: $text-font-size;
    }

}

.ios{

    ion-title {
        color: $text-color;
        font-size: $text-font-size;
        padding: 0px;
    }

}