@import "../util/variable.scss";

//variable 

// $title-color:;

.md{

    ion-title {
        padding-left : 0px;
        padding-right : 0px;
        color: $text-color;
        font-size: $text-font-size;
    }

}

.ios{

    ion-title {
        padding-left : 0px;
        padding-right : 0px;
        color: $text-color;
        font-size: $text-font-size;
    }

}