

//variable

// $toast-color:;
// $toast-border-color:;
// $toast-button-color:;

// $toast-background:;

// $toast-box-model:(
//     "height":,
//     "width":,
//     "min-height":,
//     "min-width":,
//     "max-height":,
//     "max-width":
// );

// $toast-border:(
//     "radius":,
//     "style":,
//     "width":
// );

// $toast-box-shadow:;
// $toast-position-start:;
// $toast-position-end:;