@import "../util/variable.scss";

//variable

$toolbar-color:$bar-color;
// $toolbar-opacity:;

$toolbar-background:$bar-bg2;

// $toolbar-min-height:;
// $toolbar-border:(
//     "color":,
//     "style":,
//     "width":
// );

// $toolbar-padding:(
//     "bottom":,
//     "end":,
//     "start":,
//     "top":
// );

ion-toolbar {
    --color: #{$toolbar-color};
    --background: #{$toolbar-background};
    opacity:1;

    ion-button{
        --opacity: 1;
        --background: #{$transparent};
        >ion-icon{
            color:#{$white-icon} !important;
            filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(100%) contrast(100%);
        }

        >ion-title {
            >ion-text {
                color: white !important;
                font-weight: bold !important;
                font-size: 17px !important;
            }
        }
    }

    >ion-title{
        >ion-text{
            color: white !important;
            font-weight: bold !important;
            font-size: 17px !important;
        }
    }
}
