@import "../../../style/util/mixins.scss";
@import "../../../style/util/variable.scss";
@import "../../../style/component/item.scss";


ion-button {
    margin-top: 20px;
}

form {
    @include flex-col-grid;
    >ion-row {
        @include flex-col-grid;
        >ion-col {
            @include flex-col-grid;
            ion-card {
                @include flex-col-grid;
                padding-bottom:5px;
                ion-card-header {
                    height:10%;
                    padding:3px;
                    ion-row{
                        @include flex-col-grid;
                        ion-text{
                            margin:auto;
                            font-size:large;
                        }
                    }
                }
                ion-card-content {
                    height:90%;
                    padding:3px;

                    ion-item {
                        height: calc(100vh/15);
                        >ion-radio-group {
                            width: -webkit-fill-available;
                            @include flex-col-grid;
                            padding:4px;
                            >ion-row {
                                ion-col {
                                    ion-item{
                                        --padding-start:0px;
                                        ion-radio{
                                            margin-right:4px;
                                            width:12px;
                                            height: 12px;
                                        }
                                        ion-label{
                                            font-size: 2.8vw;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    ion-item:last-of-type{
                        --padding-start:0px;
                    }

                    ion-img {
                        width: 24px;
                        height: 24px;
                    }

                    ion-input {
                        --placeholder-font-weight: lighter;
                        font-size: 1em;
                    }

                    >ion-row:last-child{
                        ion-col {
                            @include grid-col-padding(0px);
                        }

                        ion-text {
                            font-size: 1em;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

ion-img {
    width: 24px;
    height: 24px;
}