ion-title{
    padding-left : 0px;
    padding-right : 0px;
}

ion-grid{
    padding-left:15px;
    padding-right:15px;
    >ion-row{
        padding-top:7px;
        padding-bottom:7px;
        ion-col{
            ion-text{
                font-weight: 500;
            }
            ion-row:first-child{
                ion-text{
                    font-weight: 500;
                }
            }
        }
    }
    ion-row:nth-child(2), :nth-child(3), :nth-child(4){
        ion-col{
            ion-row{
                ion-col:last-child{
                    ion-text{
                        float: right;
                    }
                }
            }
        }
    }
    ion-row:nth-child(7){
        ion-col{
            ion-row{
                padding-top:7px;
                padding-bottom:7px;
            }
        }
    }
}

ion-checkbox{
    float: right;
}

ion-col{
    --ion-grid-column-padding : 0px;
}

ion-range{
    padding : 0px 0px 0px 0px;
}

ion-segment{
    width : 100%;
    height: 35px;
    ion-segment-button:first-child{
        border-left : 2px solid grey;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    ion-segment-button{
        min-width : 25%;
        --padding-start:0px;
        --padding-end:0px;
        border-top :2px solid grey;
        border-bottom :2px solid grey;
        min-height: 100%;
        ion-text{
            font-size: x-small;
            font-weight: 300;
        }
    }

    ion-segment-button.segment-button-checked{
        ion-text{
            color:white;
        }
    }

    ion-segment-button:nth-child(2){
        border-left :2px solid grey;
        border-right :2px solid grey;
    }
    ion-segment-button:nth-child(3){
        border-right :2px solid grey;
    }
    ion-segment-button:last-child{
        margin-right:5px;
        border-right : 2px solid grey;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

ion-footer{
    ion-toolbar{
        ion-button{
            margin:0px 0px 0px 0px;
            width:50%;
        }
        ion-button:first-child{
            float:left;
        }
        ion-button:last-child{
            float:right;
        }
    }
}