
<ion-header>
  <ion-toolbar>
    <ion-title>
      Flight Filter
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reset()">
        <ion-label class="bold">RESET</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="filterForm" (ngSubmit)="filter()">
    <ion-grid>
  
      <ion-label>Stops</ion-label>
      <ion-segment mode="ios" (ionChange)="chooseStop($event)" formControlName="stops"
        [value]="(inputs$ | async).stops">
        <ion-segment-button value="-1">
          <ion-label>All</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1">
          <ion-label>Non-Stop</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>1 Stop</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3">
          <ion-label>2 Stops</ion-label>
        </ion-segment-button>
      </ion-segment>
  
      <ion-label>Departure Time : {{ filterForm.controls['depHours'].value }}</ion-label>
      <ion-range (ionChange)="depRange($event)" class="filter"
      pin="true" ticks="true" snaps="true" min="0" max="24" [value]="(inputs$ | async).depatureHours">
      </ion-range>

      <ion-row>
        <ion-label>0 Hours</ion-label>
        <ion-label>24 Hours</ion-label>
      </ion-row>
  
      <ion-label>Arrival Time : {{ filterForm.controls['arrHours'].value }}</ion-label>
      <ion-range (ionChange)="reRange($event)" class="filter"
      pin="true" ticks="true" snaps="true" min="0" max="24" [value]="(inputs$ | async).arrivalHours">
      </ion-range>

      <ion-row>
        <ion-label>0 Hours</ion-label>
        <ion-label>24 Hours</ion-label>
      </ion-row>

      <ion-label>Price : {{ filterForm.controls['price'].value }}</ion-label>
      <ion-range (ionChange)="priceRange($event)" class="filter"
      pin="true" ticks="true" snaps="true" min="1000" max="100000" step="1000" [value]="(inputs$ | async).price">
      </ion-range>

      <ion-row>
        <ion-label>1000</ion-label>
        <ion-label>10,00,000</ion-label>
      </ion-row>

      <ion-item>
        <ion-label>Corporate Fare</ion-label>
        <ion-checkbox class="default" (ionChange)="corpFare($event)" slot="end"
          [checked]="(inputs$ | async).corporateFare">
        </ion-checkbox>
      </ion-item>

      <ion-label>Preferred Airlines</ion-label>

      <ion-list formGroupName="airlines">
        <div *ngFor="let airline of (inputs$ | async).airlines">
          <ion-item>
            <ion-label>{{airline.name}}</ion-label>
            <ion-checkbox class="default" slot="end" formControlName="{{airline.name}}" [checked]="airline.value">
            </ion-checkbox>
          </ion-item>
        </div>
      </ion-list>
    </ion-grid>
    <ion-input formControlName="depHours" hidden></ion-input>
    <ion-input formControlName="arrHours" hidden></ion-input>
    <ion-input formControlName="price" hidden></ion-input>
    <ion-input formControlName="corpFare" hidden></ion-input>
  </form>
</ion-content>

<ion-footer>
  <form [formGroup]="filterForm" (ngSubmit)="filter()">
    <ion-toolbar>
      <ion-button size="large" (click)="close()">
        <ion-label class="bold">Cancel</ion-label>
      </ion-button>
      <ion-button size="large" type="submit">
        <ion-label class="bold">Apply</ion-label>
      </ion-button>
    </ion-toolbar>
  </form>
</ion-footer>




