
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" slots="icon-only">
        <ion-icon size="large" src="../../../../../assets/ionicons/md-arrow-back-outline.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>Flight filter</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="reset()">
        <ion-text>RESET</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<form [formGroup]="filterForm" (ngSubmit)="filter()">
  <ion-content>
      <ion-grid>
    
        <ion-label>Stops</ion-label>
        <ion-segment mode="ios" (ionChange)="chooseStop($event)" formControlName="stops">
          <ion-segment-button value="null">
            <ion-text>All</ion-text>
          </ion-segment-button>
          <ion-segment-button value="1">
            <ion-text>Non-Stop</ion-text>
          </ion-segment-button>
          <ion-segment-button value="2">
            <ion-text>1 Stop</ion-text>
          </ion-segment-button>
          <ion-segment-button value="3">
            <ion-text>2 Stops</ion-text>
          </ion-segment-button>
        </ion-segment>
    
        <ion-label>Departure Time</ion-label>
        <ion-range (ionChange)="depRange($event)" min="0" max="24" color="secondary" pin="true" ticks="true" snaps="true">
        </ion-range>

        <ion-row>
          <ion-label>0 Hours</ion-label>
          <ion-label>24 Hours</ion-label>
        </ion-row>
    
        <ion-label>Arrival Time</ion-label>
        <ion-range (ionChange)="reRange($event)" min="0" max="24" color="secondary" pin="true" ticks="true" snaps="true">
        </ion-range>

        <ion-row>
          <ion-label>0 Hours</ion-label>
          <ion-label>24 Hours</ion-label>
        </ion-row>

        <ion-label>Price</ion-label>
        <ion-range (ionChange)="priceRange($event)" min="1" max="100" color="secondary" step="10"
          value="{lower:1000;upper:100000000}"
          pin="true" ticks="true" snaps="true">
        </ion-range>

        <ion-row>
          <ion-label>1000</ion-label>
          <ion-label>10,00,00,000</ion-label>
        </ion-row>

        <ion-item>
          <ion-label>Corporate Fare</ion-label>
          <ion-checkbox (ionChange)="corpFare($event)" slot="end"></ion-checkbox>
        </ion-item>

        <ion-label>Preferred Airlines</ion-label>

        <ion-list formGroupName="airlines">
          <div *ngFor="let airline of inputs.airlines">
            <ion-item>
              <ion-label>{{airline}}</ion-label>
              <ion-checkbox slot="end" formControlName="{{airline}}"></ion-checkbox>
            </ion-item>
          </div>
        </ion-list>
      </ion-grid>
      <ion-input formControlName="depHours" hidden></ion-input>
      <ion-input formControlName="arrHours" hidden></ion-input>
      <ion-input formControlName="price" hidden></ion-input>
      <ion-input formControlName="corpFare" hidden></ion-input>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-button size="large" (click)="close()">
        <ion-text>Cancel</ion-text>
      </ion-button>
      <ion-button size="large" type="submit">
        <ion-text>Apply</ion-text>
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</form>




