
<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-text>Flight filter</ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reset()">
        <ion-text>RESET</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="filterForm" (ngSubmit)="filter()">
    <ion-grid>
  
      <ion-label>Stops</ion-label>
      <ion-segment mode="ios" (ionChange)="chooseStop($event)" formControlName="stops"
        [value]="(inputs$ | async).stops">
        <ion-segment-button value="-1">
          <ion-text>All</ion-text>
        </ion-segment-button>
        <ion-segment-button value="1">
          <ion-text>Non-Stop</ion-text>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-text>1 Stop</ion-text>
        </ion-segment-button>
        <ion-segment-button value="3">
          <ion-text>2 Stops</ion-text>
        </ion-segment-button>
      </ion-segment>
  
      <ion-label>Departure Time</ion-label>
      <ion-range (ionChange)="depRange($event)" min="0" max="24" color="secondary" pin="true" ticks="true" snaps="true"
        [value]="(inputs$ | async).depatureHours">
      </ion-range>

      <ion-row>
        <ion-label>0 Hours</ion-label>
        <ion-label>24 Hours</ion-label>
      </ion-row>
  
      <ion-label>Arrival Time</ion-label>
      <ion-range (ionChange)="reRange($event)" min="0" max="24" color="secondary" pin="true" ticks="true" snaps="true"
      [value]="(inputs$ | async).arrivalHours">
      </ion-range>

      <ion-row>
        <ion-label>0 Hours</ion-label>
        <ion-label>24 Hours</ion-label>
      </ion-row>

      <ion-label>Price</ion-label>
      <ion-range (ionChange)="priceRange($event)" min="1000" max="100000" color="secondary" step="1000"
        pin="true" ticks="true" snaps="true" [value]="(inputs$ | async).price">
      </ion-range>

      <ion-row>
        <ion-label>1000</ion-label>
        <ion-label>10,00,000</ion-label>
      </ion-row>

      <ion-item>
        <ion-label>Corporate Fare</ion-label>
        <ion-checkbox (ionChange)="corpFare($event)" slot="end" [value]="(inputs$ | async).corporateFare"></ion-checkbox>
      </ion-item>

      <ion-label>Preferred Airlines</ion-label>

      <ion-list formGroupName="airlines">
        <div *ngFor="let airline of (inputs$ | async).airlines">
          <ion-item>
            <ion-label>{{airline.name}}</ion-label>
            <ion-checkbox slot="end" formControlName="{{airline.name}}" [checked]="airline.value"></ion-checkbox>
          </ion-item>
        </div>
      </ion-list>
    </ion-grid>
    <ion-input formControlName="depHours" hidden></ion-input>
    <ion-input formControlName="arrHours" hidden></ion-input>
    <ion-input formControlName="price" hidden></ion-input>
    <ion-input formControlName="corpFare" hidden></ion-input>
  </form>
</ion-content>

<ion-footer>
  <form [formGroup]="filterForm" (ngSubmit)="filter()">
    <ion-toolbar>
      <ion-button size="large" (click)="close()">
        <ion-text>Cancel</ion-text>
      </ion-button>
      <ion-button size="large" type="submit">
        <ion-text>Apply</ion-text>
      </ion-button>
    </ion-toolbar>
  </form>
</ion-footer>




