<ion-header>
  <ion-toolbar>
    <ion-title>Add Meal & Baggage</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-segment (ionChange)="change($event)" value="meal">
        <ion-col size="6">
          <ion-segment-button value="meal">
            <ion-label>MEALS</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col size="6">
          <ion-segment-button value="baggage">
            <ion-label>BAGGAGE</ion-label>
          </ion-segment-button>
        </ion-col>
      </ion-segment>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-flight-list></app-flight-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="type == 'meal'">
      <ion-col>
        <ion-item>
          <ion-checkbox></ion-checkbox>
          <ion-label>Veg</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-checkbox></ion-checkbox>
          <ion-label>Non Veg</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <!--meal list-->
    <div *ngIf="type == 'meal'">
      <ion-row *ngFor="let meal of meals">
        <ion-col>
          <ion-list>
            <ion-row>
              <ion-col size="8">
                <ion-row>
                  <ion-text>Chickem Tandoori</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text>{{'1282' | currency:'INR'}}</ion-text>
                </ion-row>
              </ion-col>
              <ion-col size="4">
                <ion-row>
                  <ion-col size="4">
                    <ion-icon name="add"></ion-icon>
                  </ion-col>
                  <ion-col size="4">
                    <ion-input type="number" hidden></ion-input>
                    <ion-text>
                      3
                    </ion-text>
                  </ion-col>
                  <ion-col size="4">
                    <ion-icon name="remove"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
    <!--baggage list-->
    <div *ngIf="type == 'baggage'">
      <ion-row *ngFor="let baggage of baggages">
        <ion-col>
          <ion-list>
            <ion-row>
              <ion-col size="8">
                <ion-row>
                  <ion-text>CheckIn Baggage - upto 20 kg</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text>{{'1282' | currency:'INR'}}</ion-text>
                </ion-row>
              </ion-col>
              <ion-col size="4">
                <ion-row>
                  <ion-col size="4">
                    <ion-icon name="add"></ion-icon>
                  </ion-col>
                  <ion-col size="4">
                    <ion-input type="number" hidden></ion-input>
                    <ion-text>
                      3
                    </ion-text>
                  </ion-col>
                  <ion-col size="4">
                    <ion-icon name="remove"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-justify-content-between">
      <ion-col size="5">
        <ion-row>
          <ion-text>
            {{'2000' | currency:'INR'}}
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-text>
            For 1 Adult
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col size="5">
        <ion-button expand="block">
          <ion-text>Confirm</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
