@import "../../../../style/util/variable.scss";

ion-grid{
    >ion-row:nth-child(3){
        ion-item{
            >ion-checkbox{
                background: transparent;
            }
            ion-label{
                margin-left:5px;
            }
        }
    }
    >ion-row:nth-child(2){
        height:60px;
        background:#dcdada;
        >app-flight-list{
            width:100%;
            height:100%;
        }
    }
}

ion-list{
    width:100%;
    >ion-row{
        border-bottom: .05px solid grey;
    }
    >ion-row{
        padding: 5px;
        >ion-col:first-child{
            >ion-row{
                margin-top:2px;
                margin-bottom:2px;
            }
        }
        >ion-col:last-child{
            >ion-row{
                height:100%;
                ion-col{
                    height:100%;
                    padding: 7px;
                }
            }
        }
    }
}

ion-footer{
    background:rgb(204, 204, 204);
    ion-toolbar{
        --background:transparent;
        >ion-row{
            >ion-col{
                ion-row{
                    margin-top:3px;
                    margin-bottom:3px;
                    margin-left:8px;
                }
                ion-button{
                    float:right;
                    margin-right:8px;
                    background:#{$btn4-bg};
                    ion-text{
                        color:white;
                    }
                }
            }
        }
    }
}