@import "../../../style/util/variable.scss";

ion-grid{
    >ion-row:first-child{
        padding:20px;
        >ion-col{
            >mat-accordion{
                >mat-expansion-panel{
                    border: 1px solid grey;
                    border-radius: 4px;
                    margin-top:5px;
                    margin-bottom:5px;
                    >mat-expansion-panel-header{
                        >::ng-deep span.mat-content{
                            >ion-row {
                                >ion-col {
                                    >ion-row {
                                        margin-top: 10px;
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                        }

                    }

                    
                    ::ng-deep .mat-expansion-panel-body {
                        ion-row {
                            border-radius: 4px;
                            padding-top: 7px;
                            padding-bottom: 7px;
                            
                            >ion-col {
                                margin: auto;
                                >ion-row{
                                    >ion-col{
                                        width: 100%;
                                    }
                                }
                            }
                            >ion-col:last-child {
                                >ion-row {
                                    height: 100%;
                                    
                                    >ion-col {
                                        width:100%;
                                        height: 100%;
                                        padding: 7px;
                                        
                                        ion-select {
                                            width: 100%;
                                            padding: 0px;
                                            color:#{$text-color};
                                            opacity: 1;
                                            --placeholder-color:#{$text-color};
                                            font-size: 12px;
                                            vertical-align: text-bottom;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    >ion-row:last-child{
        ion-text{
            color:#3d9ed7 !important;
        }
    }
}