<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon src="../../../../assets/ionicons/arrow-back-outline.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text>{{bookMode$ | async | titlecase}} Book
        {{ (bookMode$ | async) == 'flight' ? '['+(bookType$ | async)+']' : ''}}</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
