
@import "../base/color.scss";
@import "../base/fonts.scss";

:root {
    ion-app {
        &.home-tab{
            .ion2-calendar {
                .startSelection{
                    position: relative !important;
                   >button {
                       &.days-btn {
                           background-color: #{$geraldine} !important;
                           >p {
                               color:#{$white} !important;
                               font-family: 'roboto-title' !important;
                               font-size:#{$large-font} !important;
                           }
            
                       }
                   }
                }
            
                .endSelection {
                    position: relative !important;
                   >button{
                        &.days-btn {
                            background-color: #{$geraldine} !important;
                            >p {
                                color:#{$white} !important;
                                font-family: 'roboto-title' !important;
                                font-size:#{$large-font} !important;
                            }
            
                        }
                   }
                }
            
                button {
                    &.days-btn{
                        >p {
                            font-family: 'roboto-label' !important;
                            font-size:#{$small-font} !important;
                            
                        }
                    }
                    &.days-btn.on-selected {
                        background-color: #{$geraldine} !important;
                        >p {
                            color:#{$white} !important;
                            font-family: 'roboto-title' !important;
                            font-size:#{$large-font} !important;
                        }
            
                    }
                }
            }
        }

        &.expense-tab {
            .startSelection{
                position: relative !important;
               >button {
                   &.days-btn {
                       background-color: #{$limerick} !important;
                       >p {
                           color:#{$white} !important;
                           font-family: 'roboto-title' !important;
                           font-size:#{$large-font} !important;
                       }
        
                   }
               }
            }
        
            .endSelection {
                position: relative !important;
               >button{
                    &.days-btn {
                        background-color: #{$limerick} !important;
                        >p {
                            color:#{$white} !important;
                            font-family: 'roboto-title' !important;
                            font-size:#{$large-font} !important;
                        }
        
                    }
               }
            }
        
            button {
                &.days-btn{
                    >p {
                        font-family: 'roboto-label' !important;
                        font-size:#{$small-font} !important;
                        
                    }
                }
                &.days-btn.on-selected {
                    background-color: #{$limerick} !important;
                    >p {
                        color:#{$white} !important;
                        font-family: 'roboto-title' !important;
                        font-size:#{$large-font} !important;
                    }
        
                }
            }
        }
    }
}