<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="back()">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="bold back-modal">
      {{ (hotelSearch$ | async).city.destination }}
    </ion-title>
    <ion-title class="medium bold  back-modal">
      {{ (hotelSearch$ | async).checkin | date : 'd LLL' }} - {{ (hotelSearch$ | async).checkout | date : 'd LLL' }} |
      {{ (totalGuest$ | async) }} Guest | {{ totalHotels$ | async }} Hotels
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ (hotel$ | async).HotelDetail.HotelName }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <mat-grid-list class="hotel-grid" cols="3" rowHeight="fit" gutterSize="10px">
        <mat-grid-tile *ngFor="let tile of tiles;let i = index"
          [colspan]="tile.cols" [rowspan]="tile.rows"
          [style.background]="'#e87474'">
          <img *ngIf="i !== 6" [src]="tile.img">
          <ion-label
            *ngIf="i == 6"
            class="large white">
            {{ (hotel$ | async).HotelDetail.Images.length + '+' }}
          </ion-label>
          <ion-label
            *ngIf="i == 6"
            class="large white">
              PHOTOS
          </ion-label>
        </mat-grid-tile>
      </mat-grid-list>

      <ion-row class="ion-justify-content-around" *ngIf="(hotel$ | async).HotelDetail.HotelFacilities">
        <ion-row *ngFor="let facility of (hotel$ | async).HotelDetail.HotelFacilities | slice : 0 : 2 ; let i = index">
          <ion-label class="large">{{facility}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="large highlight-text">{{ (hotel$ | async).HotelDetail.HotelFacilities.length + '+' }}
          </ion-label>
          <ion-label class="large highlight-text">Amenities</ion-label>
        </ion-row>
      </ion-row>
    </ion-card-content>
  </ion-card>


  <ion-card class="hotel-about" *ngIf="(hotel$ | async).HotelDetail.Description">
    <ion-card-header>
      <ion-card-title class="medium bold">About the Hotel</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row [innerHTML]="decodeDescritption((hotel$ | async).HotelDetail.Description)" style="flex-direction: column;">
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="selectRoom()">
        <ion-label class="bold">Continue</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
