<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Chennai</ion-title>
    <ion-title>25 sep - 27 sep | 1 Guest | 618 Hotels</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-text>savera hotel next to us consulate</ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <mat-grid-list cols="3" rowHeight="fit" gutterSize="10px">
        <mat-grid-tile *ngFor="let tile of tiles;let i = index" [colspan]="tiles[i].cols" [rowspan]="tiles[i].rows"
          [style.background]="tiles[i].color">
          <ion-thumbnail *ngIf="i !== tiles.length-1">
            <img [src]="tiles[i].img">
          </ion-thumbnail>
          <ion-text *ngIf="i == tiles.length-1">
            20+<br>PHOTOS
          </ion-text>
        </mat-grid-tile>
      </mat-grid-list>
      <ion-row>
        <ion-col>
          <ion-button size="small" fill="outline">Hotel</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>Adyar</ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-text>View on Map</ion-text>
            <ion-icon size="medium" name="map"></ion-icon>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between">
        <ion-col size="2">
          <ion-row>
            <ion-icon size="medium" src="../../../../../assets/icons/hotel/wifi.svg"></ion-icon>
          </ion-row>
          <ion-row>
            <ion-text>
              Free Wifi
            </ion-text>
          </ion-row>
        </ion-col>
        <ion-col size="2">
          <ion-row>
            <ion-icon size="medium" src="../../../../../assets/icons/hotel/swimming.svg"></ion-icon>
          </ion-row>
          <ion-row>
            <ion-text>
              Swimming Pool
            </ion-text>
          </ion-row>
        </ion-col>
        <ion-col size="2">
          <ion-row>
            <ion-icon size="medium" src="../../../../../assets/icons/hotel/restaurant.svg"></ion-icon>
          </ion-row>
          <ion-row>
            <ion-text>
              Reatuarant
            </ion-text>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-text>51+</ion-text>
          </ion-row>
          <ion-row>
            <ion-text>
              Amenities
            </ion-text>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col size="10">
          <ion-card-title>
            <ion-text>Reviews & Ratings</ion-text>
          </ion-card-title>
          <ion-card-subtitle>
            <ion-text>1307 verified Reviews & 1789 Ratings</ion-text>
          </ion-card-subtitle>
        </ion-col>
        <ion-col size="2">
          <ion-badge color="primary">4.5/5</ion-badge>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="4">
          <ion-row>
            <ion-text>EXCELLENT</ion-text>
          </ion-row>
          <ion-row>
            <ion-text>Based on 1089 ratings</ion-text>
          </ion-row>
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <ion-range color="primary" pin="true" value="100"></ion-range>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-row>
            <ion-text>EXCELLENT</ion-text>
          </ion-row>
          <ion-row>
            <ion-text>Based on 1089 ratings</ion-text>
          </ion-row>
        </ion-col>
        <ion-col size="8">
          <ion-range color="secondary" pin="true" value="80"></ion-range>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-row>
            <ion-text>EXCELLENT</ion-text>
          </ion-row>
          <ion-row>
            <ion-text>Based on 1089 ratings</ion-text>
          </ion-row>
        </ion-col>
        <ion-col size="8">
          <ion-range color="success" pin="true" value="60"></ion-range>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-row>
            <ion-text>EXCELLENT</ion-text>
          </ion-row>
          <ion-row>
            <ion-text>Based on 1089 ratings</ion-text>
          </ion-row>
        </ion-col>
        <ion-col size="8">
          <ion-range color="warning" pin="true" value="40"></ion-range>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-row>
            <ion-text>EXCELLENT</ion-text>
          </ion-row>
          <ion-row>
            <ion-text>Based on 1089 ratings</ion-text>
          </ion-row>
        </ion-col>
        <ion-col size="8">
          <ion-range color="danger" pin="true" value="20"></ion-range>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-text>
          About the Hotel
        </ion-text>
      </ion-card-title>
      <ion-card-subtitle>
        <ion-text>Check-In 12PM - Check-Out 12PM</ion-text>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-text>
            {{'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum expedita maxime rerum repellendus ex
            tenetur
            qui vitae ratione et perferendis? Blanditiis, quibusdam eligendi possimus cupiditate veniam facilis
            accusamus assumenda aliquid!' | slice : 0 : 200}}...
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col (click)="readMore()">
          <ion-text>Read More</ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-text>Hotel Rules</ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row *ngFor="let rule of rules | slice:0 : 2">
        <ion-col>
          <ion-row>
            <ion-col>
              <ion-text>Guest Rules</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>Pokémon Yellow</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>Mega Man X</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>The Legend of Zelda</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>Pac-Man</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>Super Mario World</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="3" (click)="showAll()">
          <ion-text>Show All</ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
