@import "../../../../style/base/color.scss";

ion-content {
    >ion-card:nth-child(1) {

        >ion-card-header {
            padding: 10px;
        }

        >ion-card-content {
            height: fit-content;

            >mat-grid-list {

              &.hotel-grid {
                height : 250px;
                width: 100%;
              }

                mat-grid-tile {
                    border-radius: 6px;

                    figure {
                        flex-direction: column;
                    }

                    img{
                      height: 100%;
                      object-fit: cover;
                      width: 100%;
                    }
                }
            }

            >ion-row:first-of-type {
                align-items: center;
                padding: 15px 0px;

                >ion-row {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    height: min-content;
                }


            }


        }
    }
}
