<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismiss()">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Select Pickup & Drop</ion-title>
  </ion-toolbar>
    <ion-segment (ionChange)="changePoint($event)" value="all" class="points">
      <ion-segment-button value="boarding" [ngClass]="{'point': !((selectedPoint$ | async) == 'boarding')}">
        <ion-chip>
          <ion-label>Boarding</ion-label>
        </ion-chip>
      </ion-segment-button>
      <ion-segment-button value="dropping" [ngClass]="{'point': !((selectedPoint$ | async) == 'dropping')}">
        <ion-chip>
          <ion-label>Dropping</ion-label>
        </ion-chip>
      </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content *ngIf="(selectedPoint$ | async) == 'boarding'">

  <ion-item class="pointItem" *ngFor="let board of (boarding$ | async)" (click)="selectBoard(board)"
    [ngClass]="selectColor(board,selectedboarding)">
    <ion-label class="bold" slot="start">{{ board.location }}</ion-label>
    <ion-text class="bold" slot="end">{{ board.time }}</ion-text>
  </ion-item>

</ion-content>

<ion-content *ngIf="(selectedPoint$ | async) == 'dropping'">

  <ion-item class="pointItem" *ngFor="let drop of (dropping$ | async)" (click)="selectDrop(drop)"
    [ngClass]="selectColor(drop,selecteddropping)">
    <ion-label class="bold" slot="start">{{ drop.location }}</ion-label>
    <ion-text class="bold medium" slot="end">{{ (drop.time !== null) ? drop.time : '' }}</ion-text>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="bookBus()">
        <ion-label class="bold">Book</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
