<ion-content>
    <ion-item *ngFor="let book of (allBooking$ | async | sort : sortObj.property : sortObj.state)">
        <ion-row slot="start">
            <ion-label class="large bold">{{ book.traveldate | date : 'd' }}</ion-label>
            <ion-label class="large">{{ book.traveldate | date : 'MMM' }}</ion-label>
            <ion-label>{{ book.traveldate | date : 'EEE' }}</ion-label>
        </ion-row>
        <ion-row class="trip-detail">
            <ion-row class="row1" *ngIf="book.type == 'flight' || book.type == 'train'">
              <ion-row class="mx-4">
                <ion-label class="medium bold">{{ book.source }} </ion-label>
                <ion-icon  *ngIf="book.journey ? book.journey == 1 : false" name="arrow-forward-sharp"></ion-icon>
                <ion-icon  *ngIf="book.journey ? book.journey == 2 : false" src="../../../assets/icons/straight.svg"></ion-icon>
                <ion-icon *ngIf="book.journey ? book.journey == 3 : false" src="../../../assets/icons/around.svg"></ion-icon>
                <ion-label class="medium bold">{{ book.destination }}</ion-label>
              </ion-row>
              <ion-row class="mx-4"> 
                <ion-text class="bold">{{ book.startdate | date : 'h:mm a' }} </ion-text>
                <ion-text class="bold">{{ book.enddate | date : 'h:mm a' }} </ion-text>
              </ion-row>
            </ion-row>
            <ion-row  class="row2" *ngIf="book.type == 'hotel'">
              <ion-row class="mx-4">
                <ion-label class="medium bold">{{ book.source }} </ion-label>
                <ion-label class="medium bold">{{ book.destination }}</ion-label>
              </ion-row>
              <ion-row class="mx-4"> 
                <ion-text class="bold">{{ book.startdate | date : 'h:mm a' }} </ion-text>
                <ion-text class="bold">{{ book.enddate | date : 'h:mm a' }} </ion-text>
              </ion-row>
            </ion-row>

            <ion-row  class="row3" *ngIf="book.type == 'bus'">
              <ion-row class="mx-4">
                <ion-label class="medium bold">{{ book.source }} </ion-label>
                <ion-label class="medium bold">{{ book.destination }}</ion-label>
              </ion-row>
              <ion-row class="mx-4"> 
                <ion-text class="bold">{{ book.startdate | date : 'h:mm a' }} </ion-text>
                <ion-text class="bold">{{ book.enddate | date : 'h:mm a' }} </ion-text>
              </ion-row>
            </ion-row>

            <ion-row class="px-4">
                <ion-icon *ngIf="book.type == 'flight'" src="../../../assets/icons/dashboard/trip-flight.svg"></ion-icon>
                <ion-icon *ngIf="book.type == 'hotel'" src="../../../assets/icons/dashboard/hotel.svg"></ion-icon>
                <ion-icon *ngIf="book.type == 'bus'" src="../../../assets/icons/dashboard/bus.svg"></ion-icon>
                <ion-icon *ngIf="book.type == 'train'" name="train-sharp"></ion-icon>
                <ion-label class="medium">{{ getStatus(book.status) | titlecase }}</ion-label>
            </ion-row>
        </ion-row>
    </ion-item>
</ion-content>