@import "../../../../style/base/color.scss";

ion-content{
    --background: white !important;
    >ion-segment{
        min-height: -webkit-fill-available;
        max-width:100vw;
        border-bottom: 1px solid #c6c6c6;
        >ion-segment-button{
            min-width: 25%;
            width:25vw;
            white-space: normal;
            --padding-start:0px;
            --padding-end:0px;
            --indicator-color:transparent;
        }
    }
}