<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-text>
        Passengers Information
      </ion-text>
    </ion-title>
    <ion-buttons slot="end" (click)="dismissInfo()">
      <ion-button>
        <ion-title>
          <ion-text>OK</ion-text>
        </ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label slot="start">Adults</ion-label>
    <ion-text slot="end">{{(selected$ | async)}}/{{(count$ | async)}} Selected</ion-text>
  </ion-item>
  <ion-list lines="none">
    <ion-item-sliding *ngFor="let pax of (passengers$ | async)">

      <ion-item>
        <ion-checkbox slot="start" [value]="pax" (ionChange)="getPass($event)"
          [checked]="(selectedPassengers$ | async).includes(pax)"
          [disabled]="(selected$ | async) == (count$ | async) && !(selectedPassengers$ | async).includes(pax)">
        </ion-checkbox>
        <ion-row>
          <ion-row>
            <ion-text>{{pax.FirstName}} {{pax.LastName}}</ion-text>
            <ion-text> {{ gender(pax) }}</ion-text>
          </ion-row>
        </ion-row>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="editPassenger(pax)">Edit</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
  <ion-item>
    <ion-row (click)="getDetail()">
      <ion-icon name="add"></ion-icon>
      <ion-text>Add Adults</ion-text>
    </ion-row>
  </ion-item>
</ion-content>
