@import "../../../../style/util/variable.scss";
@import "../../../../style/util/mixins.scss";

ion-content{
    >ion-item:first-child{
        --padding-end: 16px;
        >ion-row {
            align-self: center;

            >ion-text,
            ion-icon {
                color:#{$btn2-bg};
            }
        }
    }
    >ion-row{
        justify-content: space-between;
        align-items: center;
        >ion-item{
            width:65%;
            --inner-padding-end: 16px;
            --border-width: 2px;
            --border-radius: 8px;
            margin: 0px 16px;
            >ion-row{
                width: -webkit-fill-available;
                justify-content: space-between;
                >ion-row{
                    flex-direction: column;
                }
                >ion-text{
                    align-self: center;
                }
            }
        }
        >ion-icon{
            width:10%;
        }
        >ion-text{
            width:10%;
        }
    }
}