<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-text>
        Passengers Information
      </ion-text>
    </ion-title>
    <ion-buttons slot="end" (click)="dismissInfo()">
      <ion-button>
        <ion-title>
          <ion-text>OK</ion-text>
        </ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label slot="start">Adults</ion-label>
    <ion-text slot="end">{{(selected$ | async)}}/{{(count$ | async)}} Selected</ion-text>
  </ion-item>
  <ion-row *ngFor="let pax of (passengers$ | async)">
    <ion-item>
      <ion-checkbox slot="start" [value]="pax" (ionChange)="getPass($event)"
        [checked]="(selectedPassengers$ | async).includes(pax)"
        [disabled]="(selected$ | async) == (count$ | async) && !(selectedPassengers$ | async).includes(pax)">
      </ion-checkbox>
      <ion-row>
        <ion-row>
          <ion-text>{{pax.FirstName}} {{pax.LastName}}</ion-text>
          <ion-text> {{ gender(pax) }}</ion-text>
        </ion-row>
      </ion-row>
    </ion-item>
    <ion-icon name="close" (click)="deletePassneger(pax)"></ion-icon>
    <ion-text (click)="editPassenger(pax)">Edit</ion-text>
  </ion-row>
  <ion-button (click)="getDetail()">
    <ion-icon name="add"></ion-icon>
    <ion-text>Add Adults</ion-text>
  </ion-button>
</ion-content>
