@import "../../../../../../style/util/mixins.scss";

ion-grid {
    @include flex-col-grid;
    margin-left: 0px;
    margin-right: 0px;

    >ion-row {
        @include flex-col-grid;

        >ion-col {
            @include flex-col-grid;

            >ion-row:first-child {
                @include flex-col-grid;
                height: auto;
            }

            >ion-row:last-child {
                @include flex-col-grid;
                ion-col{
                    @include flex-col-grid;
                }
            }
        }
    }
}

app-result-list {
    @include flex-col-grid;
}
