@import "../../../../../../style/util/variable.scss";
@import "../../../../../../style/util/mixins.scss";

ion-header{
    ion-icon{
        filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(100%) contrast(100%);
    }
}

ion-grid {
    @include flex-col-grid;
    margin-left: 0px;
    margin-right: 0px;

    >ion-row {
        @include flex-col-grid;

        >ion-col {
            @include flex-col-grid;

            >ion-row:first-child {
                @include flex-col-grid;
                height: auto;
            }

            >ion-row:last-child {
                @include flex-col-grid;
                ion-col{
                    @include flex-col-grid;
                }
            }
        }
    }
}

ion-segment {
    border-bottom:1px solid #{$text-color};
}

ion-segment-button {
    @include flex-col-grid;

    ion-text {
        font-size: xx-small;
    }
}

app-result-list {
    @include flex-col-grid;
}

ion-footer{
    ion-toolbar{
        --background:#{$text-color};
        --opacity: 0.5;
        ion-row{
            height: 75px;
            padding: 10px;
            ion-col{
                @include flex-col-grid;
                ion-img:first-child {
                    margin-bottom: auto;
                    height: 50% !important;
                    margin-right:auto;
                }

                ion-text {
                    margin-bottom: auto;
                    margin-right:auto;
                    font-size: small;
                    opacity: 0.7;
                    color:black;
                }

                ion-button{
                    --background:#{$btn4-bg};
                    ion-text{
                        margin:auto;
                        color:white;
                    }
                }
            }
        }
    }
}