<ion-header>
  <ion-toolbar>
    <ion-title>
      Passengers Information
    </ion-title>
    <ion-buttons slot="end" (click)="dismissInfo()">
      <ion-button>
        <ion-label>
          OK
        </ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-row *ngIf="(bookMode$ | async) == 'flight'">
    <ion-item>
      <ion-label class="large" slot="start">Adults</ion-label>
      <ion-label class="large bold" slot="end" style="text-align: end;">{{(selected$ | async)}}/{{(count$ | async)}}
        Selected</ion-label>
    </ion-item>
    <ion-row *ngFor="let pax of (passengers$ | async)">
      <ion-item>
        <ion-checkbox slot="start" [value]="pax" (ionChange)="getPass($event)"
          [checked]="(selectedPassengers$ | async).includes(pax)"
          [disabled]="(selected$ | async) == (count$ | async) && !(selectedPassengers$ | async).includes(pax)">
        </ion-checkbox>
        <ion-label>{{pax.FirstName}} {{pax.LastName}}</ion-label>
        <ion-label> {{ gender(pax) }}</ion-label>
      </ion-item>
      <ion-icon name="close-sharp" (click)="deletePassenger(pax)"></ion-icon>
      <ion-label class="bold" (click)="editPassenger(pax)">Edit</ion-label>
    </ion-row>
    <ion-button class="add" (click)="getDetail()">
      <ion-icon name="add"></ion-icon>
      <ion-label class="bold">Add Adults</ion-label>
    </ion-button>
  </ion-row>

  <ion-row *ngIf="(bookMode$ | async) == 'hotel'">

    <!--Adult-->
    <ion-item>
      <ion-label class="large" slot="start">Adults</ion-label>
      <ion-label class="large bold" slot="end" style="text-align: end;">
        {{(selectedAdult$ | async)}}/{{(totalAdult$ | async)}}
        Selected</ion-label>
    </ion-item>

    <ion-row *ngFor="let pax of (hotelAdult$ | async)">
      <ion-item>
        <ion-checkbox slot="start" [value]="pax" (ionChange)="getAdult($event)"
          [checked]="(selectAdult$ | async).includes(pax)"
          [disabled]="(selectedAdult$ | async) == (totalAdult$ | async) && !(selectAdult$ | async).includes(pax)">
        </ion-checkbox>
        <ion-label>{{pax.FirstName}} {{pax.LastName}}</ion-label>
      </ion-item>
      <ion-icon name="close-sharp" (click)="deleteAdult(pax)"></ion-icon>
      <ion-label class="bold" (click)="editAdult(pax)">Edit</ion-label>
    </ion-row>

    
    <ion-row class="buttons">
      <ion-button class="add" (click)="addEmployee($event)">
        <ion-icon name="add"></ion-icon>
        <ion-label class="bold">Add Employee</ion-label>
      </ion-button>
      <ion-button class="add" (click)="addAdult()">
        <ion-icon name="add"></ion-icon>
        <ion-label class="bold">Add Adults</ion-label>
      </ion-button>
    </ion-row>

    <!--Children-->
    <ion-item>
      <ion-label class="large" slot="start">Children</ion-label>
      <ion-label class="large bold" slot="end" style="text-align: end;">
        {{(selectedChildren$ | async)}}/{{(totalChildren$ | async)}}
        Selected</ion-label>
    </ion-item>

    <ion-row *ngFor="let pax of (hotelChildren$ | async)">
      <ion-item>
        <ion-checkbox slot="start" [value]="pax" (ionChange)="getChild($event)"
          [checked]="(selectChildren$ | async).includes(pax)"
          [disabled]="(selectedChildren$ | async) == (totalChildren$ | async) && !(selectChildren$ | async).includes(pax)">
        </ion-checkbox>
        <!-- <ion-label>{{pax.FirstName}} {{pax.LastName}}</ion-label> -->
        <ion-label>{{ ((pax.FirstName !== null) && (pax.LastName !== null)) ? pax.FirstName+ ' ' +pax.LastName : 'Enter Child Details' }}
        </ion-label>
      </ion-item>
      <ion-icon name="close-sharp" (click)="deleteChild(pax)"></ion-icon>
      <ion-label class="bold" (click)="editChild(pax)">Edit</ion-label>
    </ion-row>

    <ion-button class="add" (click)="addChild()">
      <ion-icon name="add"></ion-icon>
      <ion-label class="bold">Add Children</ion-label>
    </ion-button>
  </ion-row>

  <ion-row *ngIf="(bookMode$ | async) == 'train'">
    <ion-item>
      <ion-label class="large" slot="start">Passengers</ion-label>
      <ion-label class="large bold" slot="end" style="text-align: end;">{{(selectedPass$ | async)}}/{{(countPass$ | async)}}
        Selected</ion-label>
    </ion-item>
    <ion-row *ngFor="let pax of (trainPassengers$ | async)">
      <ion-item>
        <ion-checkbox slot="start" [value]="pax" (ionChange)="getTrainPass($event)"
          [checked]="(selectedTrainPassengers$ | async).includes(pax)">
        </ion-checkbox>
        <ion-label>{{pax.name}} {{pax.lastName}}</ion-label>
      </ion-item>
      <ion-icon name="close-sharp" (click)="deleteTrainPassenger(pax)"></ion-icon>
      <ion-label class="bold" (click)="editTrainPassenger(pax)">Edit</ion-label>
    </ion-row>

    <ion-row class="buttons">
      <ion-button class="add" (click)="addTrainPassenger('Adult')">
        <ion-icon name="add"></ion-icon>
        <ion-label class="bold">Add Adult</ion-label>
      </ion-button>
      <ion-button class="add" (click)="addTrainPassenger('Child')">
        <ion-icon name="add"></ion-icon>
        <ion-label class="bold">Add Children</ion-label>
      </ion-button>
    </ion-row>
  </ion-row>

  <ion-row *ngIf="(bookMode$ | async) == 'bus'">
    <ion-item>
      <ion-label class="large" slot="start">Adults</ion-label>
      <ion-label class="large bold" slot="end" style="text-align: end;">{{(selectedBusPass$ | async)}}/{{(countBusPass$ | async)}}
        Selected</ion-label>
    </ion-item>
    <ion-row *ngFor="let pax of (busPassengers$ | async)">
      <ion-item>
        <ion-checkbox slot="start" [value]="pax" (ionChange)="getBusPass($event)"
          [checked]="(selectedBusPassengers$ | async).includes(pax)"
          [disabled]="(selectedBusPass$ | async) == (countBusPass$ | async) && !(selectedBusPassengers$ | async).includes(pax)">
        </ion-checkbox>
        <ion-label>{{pax.name}} {{pax.lastName}}</ion-label>
        <ion-label> {{ gender(pax) }}</ion-label>
      </ion-item>
      <ion-icon name="close-sharp" (click)="deleteBusPassenger(pax)"></ion-icon>
      <ion-label class="bold" (click)="editBusPassenger(pax)">Edit</ion-label>
    </ion-row>
    <ion-button class="add" (click)="addBusPassenger()">
      <ion-icon name="add"></ion-icon>
      <ion-label class="bold">Add Adults</ion-label>
    </ion-button>
  </ion-row>

</ion-content>
