

:root {

    .initial {
        color: grey;
    }

    .initial::placeholder {
        color: grey;
    }

    .invalid {
        color: #E87474 !important;
    }

    .invalid::placeholder {
        color: #E87474 !important;
    }

    .valid {
        color: #5BACDC !important;
    }

    .valid::placeholder {
        color: #5BACDC !important;
    }

}