

//////////////////
///Unused Color///
/////////////////

$grey-bermuda: #7791AA;
$blue-irish: #0AB6CC;
$limerick: #94A73E;
$london-hue: #BA8EB1;
$crusta: #EE925E;


////////////////
///Used Color///
////////////////

$geraldine : #e87474;
$geraldine-rgb : 232,116,116;

$beauty-bush: #f5b8b8;

$malibu: #5BACDC;
$onahau: #b9e4ff;

$suva-grey: #8c8c8c;
$black: #000000;
$white: #ffffff;

:root {

      --ion-color-geraldine: #e87474;
      --ion-color-geraldine-rgb: 232,116,116;
      --ion-color-geraldine-contrast: #000000;
      --ion-color-geraldine-contrast-rgb: 0,0,0;
      --ion-color-geraldine-shade: #cc6666;
      --ion-color-geraldine-tint: #ea8282;


    .initial {
        color: grey;
        --placeholder-color:grey;
    }

    .invalid {
        color: #E87474 !important;
        --placeholder-color: #E87474 !important;

    }

    .valid {
        color: #5BACDC !important;
        --placeholder-color: #5BACDC !important;
    }

}