@import "../../../../../style/base/color.scss";
@import "../../../../../style/util/mixins.scss";

ion-content{

    >ion-row{

        >ion-card{
            width: -webkit-fill-available;
            --background: #{$white};
            >ion-card-header{
                display: flex;
                flex-direction: column;
                >ion-row:nth-child(1){
                    >ion-icon {
                        color: gold !important;
                    }
                }
                >ion-row:nth-child(2) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    >ion-row:nth-child(1){
                        width:75%;
                        flex-direction: column;
                    }
                    >ion-row:nth-child(2) {
                        width:25%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                    }
                }
            }
            >ion-card-content{
                >ion-item{
                    --padding-start: 0px;
                    background-color: #ececec;
                    >ion-row.img{
                        >ion-img{
                            height: 100px;
                            width: 128px;
                            object-fit: cover;
                        }
                        >ion-icon{
                            position: absolute;
                            bottom: 5px;
                            left: 90px;
                            color: white;
                        }
                    }
                    >ion-row.headline{
                        height: -webkit-fill-available;
                        margin: 8px;
                    }
                }
            }
        }

    }

    >ion-row.no-result{
        text-align: center;
        height: -webkit-fill-available;
    }

}
