#map {
    position: absolute;
    height: 500px;
    width: 500px;

    background-color: transparent;
    opacity: 0;
    transition: opacity 150ms ease-in;
}

ion-card-content{
    >ion-row{
        border: 1px solid grey;
        border-radius: 3px;
        >ion-col:first-child {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 10px;
        }
        >ion-col:last-child{
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 10px;
        }
    }
}