@import "../../../../../../style/base/color.scss";

ion-item{
    --padding-end: 10px;
    --padding-top: 5px;
    --padding-bottom: 5px;
    ion-label{
        min-width: fit-content;
        color:black;
        text-overflow: clip;
    }
    ion-input{
        height:100%;
        max-height: 60%;
        min-width: 70%;
        --padding-start: 8px;
        border:1px solid #{$suva-grey};
        font-size: 12px;
        border-radius: 4px;
    }
    &:last-child{
        >ion-label{
            >ion-text {
                color:#{$malibu};
            }
        }
    }
}




ion-footer {
    >ion-row#book-button {
        width: 100%;

        >ion-col {
            ion-button {
                width: -webkit-fill-available;

                ion-text {
                    color: white;
                }
            }
        }
    }
}