<ion-header>
  <ion-toolbar>
     <ion-title>
       <ion-text>select Travellers</ion-text>
     </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <form [formGroup]="traveller" (ngSubmit)="confirm()">
      <ion-row>
        <ion-col size="3" class="ion-align-self-center">
          <ion-text slots="end">Adult</ion-text>
        </ion-col>
        <ion-col size="9">
          <ion-row>
            <ion-col size="4">
              <ion-button type="button" expand="full" (click)="increase('adult')">
                <ion-icon  slot="icon-only" size="large" name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-input type="number" formControlName="adult" hidden></ion-input>
              <ion-text>
                {{traveller.value.adult}}
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-button type="button" expand="full" (click)="decrease('adult')">
                <ion-icon  slot="icon-only" size="large" name="remove-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-text>Child</ion-text>
        </ion-col>
        <ion-col size="9">
          <ion-row>
            <ion-col size="4">
              <ion-button type="button" expand="full" (click)="increase('child')">
                <ion-icon  slot="icon-only" size="large" name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-input type="number" formControlName="child" hidden></ion-input>
              <ion-text>
                {{traveller.value.child}}
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-button type="button" expand="full" (click)="decrease('child')">
                <ion-icon  slot="icon-only" size="large" name="remove-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-text>Infant</ion-text>
        </ion-col>
        <ion-col size="9">
          <ion-row>
            <ion-col size="4">
              <ion-button type="button" expand="full" (click)="increase('infant')">
                <ion-icon  slot="icon-only" size="large" name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-input type="number" formControlName="infant" hidden></ion-input>
              <ion-text>
                {{traveller.value.infant}}
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-button type="button" expand="full" (click)="decrease('infant')">
                <ion-icon  slot="icon-only" size="large" name="remove-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="close()">
            <ion-text>Cancel</ion-text>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button type="submit">
            <ion-text>Confirm</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>

