<ion-header>
  <ion-toolbar>
    <ion-text color="primary">Policy</ion-text>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-text>Cancellation Policy</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ul>
            <li>
              <ion-text>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, atque deleniti quia, dicta aliquid, ex dignissimos corrupti debitis tenetur corporis laudantium itaque amet mollitia ad? Tempora vel natus molestias enim.≈</ion-text>
            </li>
          </ul>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-text>Check-In Policy</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ul>
            <li>
              <ion-text>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, atque deleniti quia, dicta
                aliquid, ex dignissimos corrupti debitis tenetur corporis laudantium itaque amet mollitia ad? Tempora
                vel natus molestias enim.≈</ion-text>
            </li>
          </ul>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-text>Hotel Policy</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ul>
            <li>
              <ion-text>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, atque deleniti quia, dicta
                aliquid, ex dignissimos corrupti debitis tenetur corporis laudantium itaque amet mollitia ad? Tempora
                vel natus molestias enim.≈</ion-text>
            </li>
          </ul>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
