
ion-grid{
    >ion-row{
        >ion-col{
            margin:5px;
            >ion-row:first-child{
                height: 50px;
                background: transparent;
                border-radius: 8px;
                >ion-col{
                        align-self: center;
                        >ion-text{
                            margin-left:5px;
                            font-weight:bold;
                        }
                }
            }
        }
    }
}