@import "../../../../../../style/util/variable.scss";

ion-content{
    >ion-card:nth-child(1) {
        >mat-accordion {
            >mat-expansion-panel {
                >mat-expansion-panel-header {
                    >::ng-deep span {
                        flex-direction: column;

                        >ion-title {
                            padding-left: 0px;
                        }
                    }
                }

                ::ng-deep .mat-expansion-panel-body {
                    >ion-row{
                        margin: 12px auto;
                    }
                    >ion-row:nth-child(1), >ion-row:nth-child(2) {
                        >ion-col {
                            max-width: fit-content;
                        }

                        >ion-col:first-child {
                            >ion-card-title {
                                padding-left: 0px;
                                font-size: small;
                            }
                        }

                        >ion-col:last-child {
                            margin-left: auto;

                            >ion-card-title {
                                padding-right: 0px;
                                text-align: end;
                                font-size: small;
                            }
                        }
                    }
                    >ion-row:last-child{
                        >ion-col{
                            >ion-card-title {
                                padding-left: 0px;
                                font-size: small;
                            }
                        }
                    }
                }
            }
        }
    }
    >ion-card:nth-child(2) {
        >ion-card-header{
            >ion-row {
                margin: 12px auto;
            }

            >ion-row {
                >ion-col {
                    max-width: fit-content;
                }

                >ion-col:first-child {
                    >ion-card-title {
                        padding-left: 0px;
                        font-size: small;
                    }
                }

                >ion-col:last-child {
                    margin-left: auto;

                    >ion-card-title {
                        padding-right: 0px;
                        text-align: end;
                        font-size: small;
                    }
                }
            }
            >mat-divider{
                color: #{$text-color};
            }
        }
        >ion-card-content{
            >ion-list{
                >div{
                    >ion-item {
                        --padding-start: 0px;
                        --min-height: 35px;
                    }
                }
            }
        }
    }
}

ion-footer {
    >ion-toolbar {
        --background: #{$toolbar-bg};

        >ion-item {
            >ion-row {
                flex-direction: column;

                >ion-title {
                    padding: 0px;
                }
            }
        }

        ion-button {
            width: -webkit-fill-available;
            --opacity: 1;
            --background:#{$btn4-bg};

            ion-text {
                color: white;
            }
        }
    }
}