<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button slot="icon-only">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Terms And Conditions</ion-label>
        </ion-item>
        <ul>
          <li>
            <ion-text>Customer has the Legal right to ask or a GST invoice irrespective of customer having a GSTIN in the same State or not</ion-text>
          </li>
          <li>
            <ion-text>Credit would not be available unless the customer has a GSTIN in the same state</ion-text>
          </li>
          <li>
            <ion-text>In case customer has a GSTIN in a different State,Hotel is not bound to put that on the hotel invoice</ion-text>
          </li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>