<ion-content>
  <ion-card *ngFor="let allBooking of (allBookings | async | sort : 'id')">
    <!-- trip_request -->
    <ion-card-content>
      <ion-row>
        <ion-row>
          <ion-text>{{allBooking.trip_requests.Segments[0].OriginName}}</ion-text>
          <ion-text>From</ion-text>
        </ion-row>
        <ion-row>
          <ion-text>{{tripType(allBooking)}}</ion-text>
          <!-- <ion-icon name="add"></ion-icon> -->
        </ion-row>
        <ion-row>
          <ion-text>{{allBooking.trip_requests.Segments[0].DestinationName}}</ion-text>
          <ion-text>To</ion-text>
        </ion-row>
      </ion-row>
      <ion-row>
        <ion-row>
          <ion-text>{{allBooking.travel_date | date : 'd'}}th</ion-text>
          <ion-text>{{allBooking.travel_date | date : 'LLL'}}</ion-text>
        </ion-row>
        <ion-chip>
          <ion-text>{{allBooking.passenger_details.fare_response.published_fare | currency: 'INR'}}</ion-text>
        </ion-chip>
      </ion-row>
      <ion-row>
        <ion-text *ngIf="allBooking.status == 'rej'">Rejected</ion-text>
        <ion-button *ngIf="allBooking.status == 'pending'" (click)="getApprove(allBooking.id)">Approve</ion-button>
        <ion-text *ngIf="allBooking.status == 'open' || allBooking.status == 'booked'">Approved</ion-text>
      </ion-row>
    </ion-card-content>
    <!-- kiosk_request -->
    <!-- <ion-card-content>
      <ion-row>
        <ion-row>
          <ion-text>{{allBooking.passenger_details.kioskRequest.fromValue.cityName}}</ion-text>
          <ion-text>From</ion-text>
        </ion-row>
        <ion-row>
          <ion-text>{{tripType(allBooking)}}</ion-text>
        </ion-row>
        <ion-row>
          <ion-text>{{allBooking.passenger_details.kioskRequest.toValue.cityName}}</ion-text>
          <ion-text>To</ion-text>
        </ion-row>
      </ion-row>
      <ion-row>
        <ion-row>
          <ion-text>{{allBooking.passenger_details.kioskRequest.onwardDate | date : 'd'}}th</ion-text>
          <ion-text>{{allBooking.passenger_details.kioskRequest.onwardDate | date : 'LLL'}}</ion-text>
        </ion-row>
        <ion-chip>
          <ion-text>{{allBooking.passenger_details.fare_response.published_fare | currency: 'INR'}}</ion-text>
        </ion-chip>
      </ion-row>
      <ion-row>
        <ion-text *ngIf="allBooking.status == 'rej'">Rejected</ion-text>
        <ion-button *ngIf="allBooking.status == 'pending'" (click)="getApprove(allBooking.id)">Approve</ion-button>
        <ion-text *ngIf="allBooking.status == 'open' || allBooking.status == 'booked'">Approved</ion-text>
      </ion-row>
    </ion-card-content> -->
  </ion-card>
</ion-content>
