@import "../../../../../style/util/mixins.scss";
@import "../../../../../style/base/color.scss";

ion-content {
    >ion-row.loading{
        display: flex;
        height: 50px;
        justify-content: center;
        margin: 20px auto auto auto;
        >ion-label{
            font-size: 20px;
        }
    }
    >ion-virtual-scroll{
        >ion-card {
            min-height: fit-content;
    
            >ion-card-content {
                >ion-row {
                    justify-content: space-between;
                    margin: 10px 0px;
    
                    >ion-row {
                        flex-direction: column;
                    }
    
                    >ion-row:last-child {
                        >ion-text:last-child {
                            text-align: end;
                        }
                    }
    
                    ion-button{
                        >ion-label{
                            margin:8px;
                        }
                    }
                }
    
                >ion-row:nth-child(2) {
                    >ion-chip {
                        background: #{$geraldine};
                        align-self: center;
                        padding-right: 24px;
                        margin: 0px -32px 0px 0px;
                    }
                }
    
                >ion-row:last-child {
                    justify-content: flex-end;
    
                    >ion-text.booked {
                        color: #{$malibu} !important;
                    }
    
                    >ion-text.pending {
                        color: #{$malibu} !important;
                    }
    
                    >ion-text.open {
                        color: #89f789 !important;
                    }
    
                    >ion-text.rej {
                        color: #{$geraldine} !important;
                    }
                }
            }
        }
    }
}

ion-skeleton-text {
    width: -webkit-fill-available !important;
}