ion-calendar{
    padding:0px 0px 0px 0px;
    height:100%;
}

ion-grid{
    --ion-grid-padding:0px;
    height:100%;
    ion-row{
        height:100%;
        ion-col{
        height:100%;
            --ion-grid-column-padding:0px;
        }
    }
}
