

ion-footer{
    ion-toolbar:first-child{
        --background: white;
        ion-buttons{
            max-width: 100vw;
            ion-button{
                min-width: 25%;
                margin: 0px;
            }
        }
    }
}