@import "../../../../../../../style/base/color.scss";
@import "../../../../../../../style/util/mixins.scss";

ion-content{
    --background: white !important;
    >ion-row {
        height: -webkit-fill-available;
        min-height: 100%;
        max-width: calc(100vw + 4px);

        >ion-row:first-child {
            display: flex;
            flex-direction: column;
            transition: width 20ms linear 0s;

            &.depart-shrink {
                width: 25vw;
            }
    
            &.depart-grow {
                width: 75vw;
            }

            >ion-title {
                min-height: 5%;
                color:black;
                font-size: 17px;
                font-weight: 500;
                margin-left:8px;
            }

            >app-result-list {
                min-height: 95%;
                border-top: 2px solid #dad9de;
                border-right: 8px solid #dad9de;
            }

        }

        >ion-row:last-child {

            display: flex;
            flex-direction: column;
            transition: width 20ms linear 0s;

            &.return-grow {
                width: 75vw;
            }
    
            &.return-shrink {
                width: 25vw;
            }

            >ion-title{
                min-height: 5%;
                color:black;
                font-size: 17px;
                font-weight: 500;
                margin-left:8px;
            }

            >app-result-list {
                min-height: 95%;
                border-top: 2px solid #dad9de;
            }

        }
    
    
    }
}
