@import "../../../../../../../style/util/variable.scss";
@import "../../../../../../../style/util/mixins.scss";

ion-header{
    ion-icon {
        filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(100%) contrast(100%);
    }
}

ion-content{
    >ion-row {
        height: -webkit-fill-available;
        min-height: 100%;
        max-width: calc(100vw + 4px);
    
        >app-result-list:first-child {
            border: 2px solid grey;
            transition: width 20ms linear 0s;
    
            &.depart-shrink {
                width: 35vw;
            }
    
            &.depart-grow {
                width: 65vw;
            }
        }
    
        >app-result-list:last-child {
            border: 2px solid grey;
            transition: width 20ms linear 0s;
    
            &.return-grow {
                width: 65vw;
            }
    
            &.return-shrink {
                width: 35vw;
            }
        }
    }
}

ion-footer {
    --background:none;
    ion-toolbar {
        --background:#{$text-color};
        --opacity: 0.5;
        >ion-row{
            flex-direction: row;
            justify-content: space-around;
            >ion-row{
                margin: 5px 0px;
                flex-direction: column;
                width: fit-content;
    
                >ion-label{
                    margin: 4px 0px;
                }
    
                >ion-row{
                    margin: 4px 0px;
                    >ion-img{
                        margin: 0px 8px 0px 0px;
                    }
    
                    >ion-row{
                        flex-direction: column;
                        >ion-text {
                            font-size: 17px;
                        }
                    }
    
                }
                
            } 
        }
    }
}
