@import "../../../../style/util/variable.scss";

ion-grid {
    >ion-row {
        margin: 5px;

        >ion-col {
            margin: 5px;
        }
    }
    >ion-row {
        >ion-col {
            >ion-row {
                margin-top: 10px;
                margin-bottom: 10px;
                height: 40px;
                >ion-col {
                    height: 100%;
                    padding: 2px;

                    >ion-input {
                        height: 100%;
                        --padding-start: 8px;
                        border:1px solid #{$text-color};
                        font-size: 12px;
                        border-radius: 4px;
                    }

                    >ion-select {
                        height: 100%;
                        --padding-start: 8px;
                        border:1px solid #{$text-color};
                        font-size: 12px;
                        border-radius: 4px;
                        align-items: center;

                        --padding-bottom: 0px;
                        --padding-top: 0px;
                        --padding-end: 0px;
                    }
                }
            }
        }
    }
    >ion-row:last-child{
        >ion-col{
            ion-button{
                max-width: -webkit-fill-available;
                --opacity: 1;
                --background:#{$btn4-bg};

                ion-text,
                ion-icon {
                    color: white !important;
                }
            }
        }
    }
}