
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="oneWaySearch">
          <ion-row>
            <ion-col>
              <!--Place-->
              <ion-row class="ion-justify-content-between">
                <!--from-->
                <ion-input formControlName="from" hidden></ion-input>
                <ion-col size="4" (click)="selectCity('from')">
                  <ion-row>
                    <ion-text>From</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text>{{this.oneWaySearch.value.from !== null ? this.oneWaySearch.value.from.city_code : 'MAS'}}</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text>{{this.oneWaySearch.value.from !== null ? this.oneWaySearch.value.from.city_name : 'Chennai'}}</ion-text>
                  </ion-row>
                </ion-col>
                <!--exhange-->
                <ion-col size="2">
                  <ion-row>
                    <ion-item button lines="none">
                      <ion-icon src="../../../../../../assets/icons/straight.svg"></ion-icon>
                    </ion-item>
                  </ion-row>
                </ion-col>
                <!--to-->
                <ion-input formControlName="to" hidden></ion-input>
                <ion-col size="4" (click)="selectCity('to')">
                  <ion-row>
                    <ion-text>To</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text>{{this.oneWaySearch.value.to !== null ? this.oneWaySearch.value.to.city_code : 'BAN'}}</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text>{{this.oneWaySearch.value.to !== null ? this.oneWaySearch.value.to.city_name : 'Bangalore'}}</ion-text>
                  </ion-row>
                </ion-col>
              </ion-row>
              <!--Date-->
              <ion-row class="ion-justify-content-between">
                <ion-input formControlName="departure" hidden></ion-input>
                <!--depart-->
                <ion-col size="4" (click)="selectDate()">
                  <ion-row>
                    <ion-text>Depart</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text>Tue,25 Feb</ion-text>
                  </ion-row>
                </ion-col>
                <ion-col size="1">
                  <ion-icon src="../../../../../../assets/icons/letter.svg"></ion-icon>
                </ion-col>
                <!--traveller number-->
                <ion-col size="4">
                  <ion-row>
                    <ion-text>Travellers</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text>1 Traveller</ion-text>
                  </ion-row>
                </ion-col>
              </ion-row>
              <!--class-->
              <ion-row class="ion-justify-content-between">
                <!--class-->
                <ion-col size="4">
                  <ion-row>
                    <ion-text>Class</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text>Economy</ion-text>
                  </ion-row>
                </ion-col>
                <ion-col size="1">
                  <ion-icon src="../../../../../../assets/icons/letter.svg"></ion-icon>
                </ion-col>
                <!--blank-->
                <ion-col size="4">
                </ion-col>
              </ion-row>
              <!--search button-->
              <ion-row>
                <ion-col size="6" offset="3">
                  <ion-item button>
                    <ion-text>{{'Search Flight' | titlecase}}</ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
