<form [formGroup]="oneWaySearch" (ngSubmit)="searchFlight()">
  <ion-grid>
    <ion-row>
      <!--from-->
      <ion-col (click)="selectCity('from')">
        <ion-row>
          <ion-label class="bold large">From</ion-label>
          <ion-text class="medium bold" [ngClass]="errorClass('from')">
            {{this.oneWaySearch.value.from !== null ? this.oneWaySearch.value.from.city_code : 'Select'}}
          </ion-text>
          <ion-text class="medium bold" [ngClass]="errorClass('from')">
            {{this.oneWaySearch.value.from !== null ? this.oneWaySearch.value.from.city_name : 'Origin'}}
          </ion-text>
        </ion-row>
      </ion-col>
      <!--exhange-->
      <ion-col>
        <ion-button class="swap" expand=full fill="clear" (click)="swapTrip()">
          <ion-icon src="../../../../../../assets/icons/straight.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <!--to-->
      <ion-col (click)="selectCity('to')">
        <ion-row>
          <ion-label class="bold large">To</ion-label>
          <ion-text class="medium bold" [ngClass]="errorClass('to')">
            {{this.oneWaySearch.value.to !== null ? this.oneWaySearch.value.to.city_code : 'Select'}}
          </ion-text>
          <ion-text class="medium bold" [ngClass]="errorClass('to')">
            {{this.oneWaySearch.value.to !== null ? this.oneWaySearch.value.to.city_name : 'Destination'}}
          </ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <!--depart-->
      <ion-col (click)="selectDate()">
        <ion-row>
          <ion-label class="bold large">Depart</ion-label>
          <ion-text class="medium bold" [ngClass]="errorClass('departure')">
            {{this.oneWaySearch.value.departure !== null ? 
              (this.oneWaySearch.value.departure | date : 'EEE,d LLL' | titlecase) : 
              'Select Date'}}
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-icon src="../../../../../../assets/icons/letter.svg"></ion-icon>
      <!--traveller number-->
      <ion-col (click)="selectPassengers()">
        <ion-row>
          <ion-label class="bold large">Travellers</ion-label>
          <ion-text class="medium bold"
           [ngClass]="errorClass('traveller')"
            *ngIf="(this.oneWaySearch.value.traveller == null) ||
                  (this.oneWaySearch.value.traveller?.adult <= 0 &&
                    this.oneWaySearch.value.traveller?.child <=0 &&
                    this.oneWaySearch.value.traveller.infant <=0)"
          >
            Select Passengers
          </ion-text>
          <ion-text class="medium bold"
            [ngClass]="errorClass('traveller')"
            *ngIf="this.oneWaySearch.value.traveller !== null && this.oneWaySearch.value.traveller.adult > 0">
            {{this.oneWaySearch.value.traveller.adult+'   Adult'}}
          </ion-text>
          <ion-text class="medium bold"
            [ngClass]="errorClass('traveller')"
            *ngIf="this.oneWaySearch.value.traveller !== null && this.oneWaySearch.value.traveller.child > 0">
            {{this.oneWaySearch.value.traveller.child+'   Child'}}
          </ion-text>
          <ion-text class="medium bold"
            [ngClass]="errorClass('traveller')"
            *ngIf="this.oneWaySearch.value.traveller !== null && this.oneWaySearch.value.traveller.infant > 0">
            {{this.oneWaySearch.value.traveller.infant+'   Infant'}}
          </ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <!--class-->
      <ion-col>
        <ion-row>
          <ion-label class="bold large">Class</ion-label>
          <ion-text class="medium bold"
            [ngClass]="errorClass('class')"
            (click)="selectClass()">{{(this.oneWaySearch.value.class !== null ? this.oneWaySearch.value.class : 'Select Class') | titlecase}}</ion-text>
          <ion-item hidden="true">
            <ion-label>Class</ion-label>
            <ion-select 
              #select 
              formControlName="class" 
              cancelText="Cancel" 
              okText="Confirm"
              [interfaceOptions]="customAlertOptions"
              (ionChange)="changeClass($event)"
              >
              <ion-select-option value="all">All</ion-select-option>
              <ion-select-option value="economy">Economy</ion-select-option>
              <ion-select-option value="premium economy">Premium Economy</ion-select-option>
              <ion-select-option value="bussiness">Bussiness</ion-select-option>
              <ion-select-option value="first class">First Class</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
      </ion-col>
      <ion-icon src="../../../../../../assets/icons/letter.svg"></ion-icon>
      <!--blank-->
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button type="submit">
        <ion-text class="large boldest">{{'Search Flight' | titlecase}}</ion-text>
      </ion-button>
    </ion-row>
  </ion-grid>
  <ion-input formControlName="from" hidden required></ion-input>
  <ion-input formControlName="to" hidden required></ion-input>
  <ion-input formControlName="departure" hidden required></ion-input>
  <ion-input formControlName="traveller" hidden required></ion-input>
</form>
