
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="oneWaySearch" ngxsForm="search.oneWaySearch">
          <ion-row>
            <ion-col>
              <!--Place-->
              <ion-row class="ion-justify-content-between">
                <!--from-->
                <ion-input formControlName="from" hidden></ion-input>
                <ion-col size="4" (click)="selectCity('from')">
                  <ion-row>
                    <ion-text>From</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text>{{this.oneWaySearch.value.from !== null ? this.oneWaySearch.value.from.city_code : 'MAS'}}</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text>{{this.oneWaySearch.value.from !== null ? this.oneWaySearch.value.from.city_name : 'Chennai'}}</ion-text>
                  </ion-row>
                </ion-col>
                <!--exhange-->
                <ion-col size="3">
                  <ion-row>
                    <ion-item button lines="none" (click)="swapTrip()">
                      <ion-icon src="../../../../../../assets/icons/straight.svg"></ion-icon>
                    </ion-item>
                  </ion-row>
                </ion-col>
                <!--to-->
                <ion-input formControlName="to" hidden></ion-input>
                <ion-col size="4" (click)="selectCity('to')">
                  <ion-row>
                    <ion-text>To</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text>{{this.oneWaySearch.value.to !== null ? this.oneWaySearch.value.to.city_code : 'BAN'}}</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text>{{this.oneWaySearch.value.to !== null ? this.oneWaySearch.value.to.city_name : 'Bangalore'}}</ion-text>
                  </ion-row>
                </ion-col>
              </ion-row>
              <!--Date-->
              <ion-row class="ion-justify-content-between">
                <!--depart-->
                <ion-col size="5" (click)="selectDate()">
                  <ion-row>
                    <ion-text>Depart</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text>{{this.oneWaySearch.value.departure !== null ? (this.oneWaySearch.value.departure | date : 'EEE,d LLL' | titlecase) : 'Tue,25 Feb'}}</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text></ion-text>
                  </ion-row>
                </ion-col>
                <ion-col size="1">
                  <ion-icon src="../../../../../../assets/icons/letter.svg"></ion-icon>
                </ion-col>
                <!--traveller number-->
                <ion-col size="5" (click)="selectPassengers()">
                  <ion-row>
                    <ion-text>Travellers</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-col
                      *ngIf="(this.oneWaySearch.value.traveller == null) ||
                      (this.oneWaySearch.value.traveller?.adult <= 0 &&
                      this.oneWaySearch.value.traveller?.child <= 0 &&
                      this.oneWaySearch.value.traveller.infant <= 0)">
                      <ion-text>Select Passengers</ion-text>
                    </ion-col>
                    <ion-col *ngIf="this.oneWaySearch.value.traveller !== null">
                      <ion-row *ngIf="this.oneWaySearch.value.traveller.adult > 0">
                        <ion-col>
                          <ion-row>
                            <ion-text>{{this.oneWaySearch.value.traveller.adult}}</ion-text>
                          </ion-row>
                        </ion-col>
                        <ion-col>
                          <ion-row>
                            <ion-text>
                              Adult
                            </ion-text>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                      <ion-row *ngIf="this.oneWaySearch.value.traveller.child > 0">
                        <ion-col>
                          <ion-row>
                            <ion-text>{{this.oneWaySearch.value.traveller.child}}</ion-text>
                          </ion-row>
                        </ion-col>
                        <ion-col>
                          <ion-row>
                            <ion-text>
                              Child
                            </ion-text>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                      <ion-row *ngIf="this.oneWaySearch.value.traveller.infant > 0">
                        <ion-col>
                          <ion-row>
                            <ion-text>{{this.oneWaySearch.value.traveller.infant}}</ion-text>
                          </ion-row>
                        </ion-col>
                        <ion-col>
                          <ion-row>
                            <ion-text>
                              Infant
                            </ion-text>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-text></ion-text>
                  </ion-row>
                </ion-col>
              </ion-row>
              <!--class-->
              <ion-row class="ion-justify-content-between">
                <!--class-->
                <ion-col size="4">
                  <ion-row>
                    <ion-text>Class</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text (click)="selectClass()">{{(this.oneWaySearch.value.class !== null ? this.oneWaySearch.value.class : 'Economy') | titlecase}}</ion-text>
                    <ion-item hidden="true">
                      <ion-label>Class</ion-label>
                      <ion-select #select formControlName="class" cancelText="Cancel" okText="Confirm">
                        <ion-select-option value="economy">Economy</ion-select-option>
                        <ion-select-option value="premium economy">Premium Economy</ion-select-option>
                        <ion-select-option value="bussiness">Bussiness</ion-select-option>
                        <ion-select-option value="first class">First Class</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-row>
                </ion-col>
                <ion-col size="1">
                  <ion-icon src="../../../../../../assets/icons/letter.svg"></ion-icon>
                </ion-col>
                <!--blank-->
                <ion-col size="4">
                </ion-col>
              </ion-row>
              <!--search button-->
              <ion-row>
                <ion-col size="6" offset="3">
                  <ion-item button (click)="searchFlight()">
                    <ion-text>{{'Search Flight' | titlecase}}</ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-input formControlName="departure" hidden></ion-input>
          <ion-input formControlName="traveller" hidden></ion-input>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
