
ion-item {
    --background:transparent;
}

ion-button {
    margin-top : 20px;
}

<<<<<<< HEAD
=======
ion-item{
    ion-icon{
    width: 25px;
    }
}

>>>>>>> 8fb4fd12f19ddbd0034f79848d9a1437baa4a6b2
form {
    >ion-item {
        --inner-padding-top : 5px;
        --inner-padding-bottom : 5px;
    }
}