@import "../../../../style/component/item.scss";
@import "../../../../style/util/mixins.scss";

ion-content{
    >ion-item{
        >ion-row{
            margin:10px;
        }
        >ion-row[slot="start"]{
            >ion-label:last-child {
                text-align: end;
            }
        }
        >ion-row[slot="end"] {
            >ion-label:last-child {
                text-align: end;
            }
        }
    }
    >ion-card.flight-reschedule{
        // >ion-card-header{

        // }
        >ion-card-content{
            >form {
                >ion-row{
                    >ion-row{
                        >ion-item {
                            @include profile;
                            min-width: -webkit-fill-available;
                            >ion-input {
                                margin: 0px !important;
                                min-width: -webkit-fill-available !important;
                            }
                            >ion-datetime {
                                margin: 0px !important;
                                min-width: -webkit-fill-available !important;
                            }
                        }
                    }
                }
                >ion-item{
                    @include profile;
                    >ion-input{
                        margin: 0px !important;
                        min-width: -webkit-fill-available !important;
                    }
                }
            }
        }
    }
    >mat-accordion.flight {
        @include flex-col-grid;
        margin: 5px;
        height: auto;

        mat-expansion-panel {
            margin-top: 3px;
            margin-bottom: 3px;

            >mat-expansion-panel-header {
                padding-left: 10px;
                padding-right: 10px;
                border: 2px solid #{$suva-grey};

                >::ng-deep span {
                    >ion-row {
                        display: flex;
                        flex-direction: column;

                        >ion-row {
                            width: 150px;
                            justify-content: space-between;
                        }
                    }
                }
            }

            ::ng-deep .mat-expansion-panel-body {
                padding: 0px;
                height: 100%;
                margin: 5px;

                >div {
                    ion-item {
                        --padding-start: 0px;

                        >ion-row {
                            >* {
                                margin: auto 5px;
                            }

                            >ion-row {
                                flex-direction: column;
                            }
                        }

                        >ion-row:last-child {
                            >ion-row {
                                >ion-text {
                                    align-self: flex-end;
                                }

                                >ion-label {
                                    align-self: flex-end;
                                }
                            }
                        }
                    }

                    >ion-row {
                        justify-content: space-between;

                        >ion-col {
                            flex-direction: column;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;

                            &:first-child {
                                align-items: flex-start;
                            }

                            &:last-child {
                                align-items: flex-end;
                            }
                        }
                    }
                }

            }

            ::ng-deep .mat-expansion-indicator {
                color:#{$geraldine};
            }
        }
    }

    ion-card {
        ion-card-content {
            ion-item {
                ion-label {
                    min-width: max-content;
                }
            }
        }
    }
}