ion-item {
    --background: transparent;
}



ion-grid {
    display: flex;
    flex-flow: column;
    height: 100%;

    >ion-row {
        >ion-col {
            padding: 0px 0px 0px 0px;
        }
    }

    >ion-row:last-child {
        flex-grow: 1;
        height: 100%;

        >ion-col {
            display: flex;
            flex-flow: column;
        }
    }
}

ion-icon {
    margin: 0px 0px 0px 0px;
}