ion-item {
    --background:transparent;

    >ion-label {
        width : 100%;
        height : 100%;
        font-size: small;
        font-family : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}



ion-grid{
    display: flex; 
    flex-flow: column;
    height: 100%;
    >ion-row:last-child{
        flex-grow: 1;
        height: 100%;
        >ion-col{
            display: flex; 
            flex-flow: column;
        }
    }
}

ion-icon {
    margin : 0px 0px 0px 0px;
}
