
<ion-content *ngIf="!(newBookings$ | async)">
  <ion-card *ngFor="let newBooking of [1,2,3,4,5,6,7,8,9,10]">
    <ion-card-content>
      <ion-row>
        <ion-row style="width:25%">
          <ion-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
          <ion-label>From</ion-label>
        </ion-row>
        <ion-row style="width:25%">
          <ion-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
        </ion-row>
        <ion-row style="width:25%">
          <ion-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
          <ion-label>To</ion-label>
        </ion-row>
      </ion-row>
      <ion-row>
        <ion-row style="width:30%">
          <ion-text class="medium bold">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
          <ion-text class="medium bold">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
        </ion-row>
        <ion-chip style="width:25%">
          <ion-text class="medium bold">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
        </ion-chip>
      </ion-row>
      <ion-row>
        <ion-text style="width:25%">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-text>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content>
  <ion-card *ngFor="let newBooking of (newBookings$ | async | sort : 'id' : 'des')">
    <ion-card-content>
      <ion-row>
        <ion-row>
          <ion-text>
            {{newBooking.trip_requests.Segments[0] ? newBooking.trip_requests.Segments[0].OriginName : ''}}
          </ion-text>
          <ion-label>From</ion-label>
        </ion-row>
        <ion-row>
          <ion-text>{{tripType(newBooking)}}</ion-text>
        </ion-row>
        <ion-row>
          <ion-text>
            {{newBooking.trip_requests.Segments[0] ? newBooking.trip_requests.Segments[0].DestinationName : ''}}
          </ion-text>
          <ion-label>To</ion-label>
        </ion-row>
      </ion-row>
      <ion-row>
        <ion-row>
          <ion-text class="medium bold">{{newBooking.travel_date | date : 'd'}}th</ion-text>
          <ion-text class="medium bold">{{newBooking.travel_date | date : 'LLL'}}</ion-text>
        </ion-row>
        <ion-chip>
          <ion-text class="medium bold">{{newBooking.passenger_details.fare_response.published_fare | currency: 'INR'}}
          </ion-text>
        </ion-chip>
      </ion-row>
      <ion-row>
        <ion-text *ngIf="newBooking.status=='pending'" class="pending">Waiting For Approval</ion-text>
        <ion-text *ngIf="newBooking.status == 'open'" class="open">Approved</ion-text>
        <ion-text *ngIf="newBooking.status == 'rej'" class="rej">Rejected</ion-text>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>