
<ion-content *ngIf="(loading$ | async)">
  <ion-virtual-scroll  [items]="[1,2,3,4,5,6,7,8,9,0]" approxItemHeight="60px">
    <ion-card *virtualItem="let allBooking">
      <ion-card-content>
        <ion-row>
          <ion-row style="width:25%">
            <ion-text>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-text>
            <ion-label>From</ion-label>
          </ion-row>
          <ion-row style="width:25%">
            <ion-text>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-text>
          </ion-row>
          <ion-row style="width:25%">
            <ion-text>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-text>
            <ion-label>To</ion-label>
          </ion-row>
        </ion-row>
        <ion-row>
          <ion-row style="width:30%">
            <ion-text class="medium bold">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-text>
            <ion-text class="medium bold">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-text>
          </ion-row>
          <ion-chip style="width:25%">
            <ion-text class="medium bold">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-text>
          </ion-chip>
        </ion-row>
        <ion-row>
          <ion-text style="width:25%">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-virtual-scroll>
</ion-content>

<ion-content *ngIf="!(loading$ | async)">
  <ion-virtual-scroll [items]="(newBookings$ | async | sort : 'id' : 'asc')"  approxItemHeight="60px">
    <ion-card *virtualItem="let newBooking">
      <ion-card-content>
  
        <ion-row *ngIf="(type$ | async) == 'flight'">
          <ion-row>
            <ion-label class="large">
              {{ newBooking.trip_requests.Segments[0].OriginName }}
            </ion-label>
            <ion-label class="bold">
              From
            </ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="large">{{ tripType(newBooking) }}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="large">
              {{ newBooking.trip_requests.Segments[0].DestinationName }}
            </ion-label>
            <ion-label class="bold">
              To
            </ion-label>
          </ion-row>
        </ion-row>
  
        <ion-row *ngIf="(type$ | async) == 'hotel'">
          <ion-row>
            <ion-label class="large">
              {{ newBooking.guest_details.basiscInfo.CheckInDate }}
            </ion-label>
            <ion-label class="bold">
              Check In
            </ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="large"> </ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="large">
              {{ newBooking.guest_details.basiscInfo.CheckOutDate }}
            </ion-label>
            <ion-label class="bold">
              Check Out
            </ion-label>
          </ion-row>
        </ion-row>
  
        <ion-row *ngIf="(type$ | async) == 'bus'">
          <ion-row>
            <ion-label class="large">
              {{ newBooking.bus_requests[0].sourceCity }}
            </ion-label>
            <ion-label class="bold">
              From
            </ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="large"> </ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="large">
              {{ newBooking.bus_requests[0].destinationCity }}
            </ion-label>
            <ion-label class="bold">
              To
            </ion-label>
          </ion-row>
        </ion-row>
  
        <ion-row *ngIf="(type$ | async) == 'train'">
          <ion-row>
            <ion-label class="large">
              {{ newBooking.train_requests.Segments[0].OriginName }}
            </ion-label>
            <ion-label class="bold">
              From
            </ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="large"> </ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="large">
              {{ newBooking.train_requests.Segments[0].DestinationName }}
            </ion-label>
            <ion-label class="bold">
              To
            </ion-label>
          </ion-row>
        </ion-row>
  
        <ion-row>
          <ion-row>
            <ion-label class="medium bold">{{ updateDate(newBooking) | date : 'd'}}th</ion-label>
            <ion-label class="medium bold">{{ updateDate(newBooking) | date : 'LLL'}}</ion-label>
          </ion-row>
          <ion-chip>
            <ion-label class="medium bold" *ngIf="(type$ | async) == 'flight'">{{ newBooking.passenger_details.fare_response.published_fare | currency: 'INR'}}</ion-label>
            <ion-label class="medium bold" *ngIf="(type$ | async) == 'hotel'">{{ newBooking.guest_details.basiscInfo.TotalBaseFare | currency: 'INR'}}</ion-label>
            <ion-label class="medium bold" *ngIf="(type$ | async) == 'bus'">{{ newBooking.passenger_details.fareDetails.total_amount | currency: 'INR'}}</ion-label>
            <ion-label class="medium bold" *ngIf="(type$ | async) == 'train'">{{  newBooking.passenger_details.basiscInfo.TotalBaseFare | currency: 'INR'}}</ion-label>
          </ion-chip>
        </ion-row>
  
        <ion-row>
          <ion-label *ngIf="newBooking.status=='pending'" class="medium bold pending">Waiting For Approval</ion-label>
          <ion-label *ngIf="newBooking.status == 'open'" class="medium bold open">Approved</ion-label>
          <ion-label *ngIf="newBooking.status == 'rej'" class="medium bold rej">Rejected</ion-label>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-virtual-scroll>
</ion-content>