
<ion-content *ngIf="!(newBookings$ | async)">
  <ion-card *ngFor="let newBooking of [1,2,3,4,5,6,7,8,9,10]">
    <ion-card-content>
      <ion-row>
        <ion-row style="width:25%">
          <ion-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
          <ion-label>From</ion-label>
        </ion-row>
        <ion-row style="width:25%">
          <ion-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
        </ion-row>
        <ion-row style="width:25%">
          <ion-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
          <ion-label>To</ion-label>
        </ion-row>
      </ion-row>
      <ion-row>
        <ion-row style="width:30%">
          <ion-text class="medium bold">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
          <ion-text class="medium bold">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
        </ion-row>
        <ion-chip style="width:25%">
          <ion-text class="medium bold">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
        </ion-chip>
      </ion-row>
      <ion-row>
        <ion-text style="width:25%">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-text>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content>
  <ion-card *ngFor="let newBooking of (newBookings$ | async | sort : 'id' : 'asc')">
    <ion-card-content>

      <ion-row>
        <ion-row>
          <ion-label class="large">
            {{ originName(newBooking) | async }}
          </ion-label>
          <ion-label class="bold">
            {{ (type$ | async) !== 'hotel' ? 'From' : 'Hotel Name' }}
          </ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="large">{{ tripType(newBooking) | async }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="large">
            {{ DestinationName(newBooking) | async }}
          </ion-label>
          <ion-label class="bold">
            {{ (type$ | async) !== 'hotel' ? 'To' : 'Rooms Type' }}
          </ion-label>
        </ion-row>
      </ion-row>

      <ion-row>
        <ion-row>
          <ion-label class="medium bold">{{ updateDate(newBooking) | date : 'd'}}th</ion-label>
          <ion-label class="medium bold">{{ updateDate(newBooking) | date : 'LLL'}}</ion-label>
        </ion-row>
        <ion-chip>
          <ion-label class="medium bold">{{ fare(newBooking) | async | currency: 'INR'}}
          </ion-label>
        </ion-chip>
      </ion-row>

      <ion-row>
        <ion-label *ngIf="newBooking.status=='pending'" class="medium bold pending">Waiting For Approval</ion-label>
        <ion-label *ngIf="newBooking.status == 'open'" class="medium bold open">Approved</ion-label>
        <ion-label *ngIf="newBooking.status == 'rej'" class="medium bold rej">Rejected</ion-label>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>