
<ion-header>
  <ion-toolbar id="approve-req">
    <ion-buttons slot="start" (click)="back()">
      <ion-button>
        <ion-icon name="arrow-back-sharp" size="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="large">
      Other Request
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: -webkit-center;">
    <ion-spinner class="m-3" *ngIf="(otherRequest$ | async).length == 0  && (getLoading$ | async)"></ion-spinner>
    <ion-item *ngFor="let book of (otherRequest$ | async | sort : sortObj.property : sortObj.state)" (click)="getOther(book.id,book.type)">
        <ion-row slot="start">
            <ion-label class="large bold">{{ book.traveldate | date : 'd' }}</ion-label>
            <ion-label class="large">{{ book.traveldate | date : 'MMM' }}</ion-label>
            <ion-label>{{ book.traveldate | date : 'EEE' }}</ion-label>
        </ion-row>
        <ion-row class="trip-detail">

            <ion-row class="row1" *ngIf="book.type == 'flight' || book.type == 'train'">
              <ion-row class="mx-4">
                <ion-label class="medium bold">{{ book.source }} </ion-label>
                <ion-icon  *ngIf="book.journey == 1" name="arrow-forward-sharp"></ion-icon>
                <ion-icon  *ngIf="book.journey == 2" src="../../../assets/icons/straight.svg"></ion-icon>
                <ion-icon *ngIf="book.journey == 3" src="../../../assets/icons/around.svg"></ion-icon>
                <ion-label class="medium bold">{{ book.destination }}</ion-label>
              </ion-row>
              <ion-row class="mx-4">
                <ion-text class="bold">{{ book.startdate }} </ion-text>
                <ion-text class="bold">{{ book.enddate }} </ion-text>
              </ion-row>
            </ion-row>

            <ion-row class="row2" *ngIf="book.type == 'hotel'">
              <ion-row class="mx-4">
                <ion-label class="medium bold">{{ book.source }} </ion-label>
                <ion-label class="medium bold">{{ book.destination }}</ion-label>
              </ion-row>
              <ion-row class="mx-4">
                <ion-text class="bold">{{ book.startdate }} </ion-text>
                <ion-text class="bold">{{ book.enddate }} </ion-text>
              </ion-row>
            </ion-row>

            <ion-row class="row3" *ngIf="book.type == 'bus'">
              <ion-row class="mx-4">
                <ion-label class="medium bold">{{ book.source }} </ion-label>
                <ion-label class="medium bold">{{ book.destination }}</ion-label>
              </ion-row>
              <ion-row class="mx-4">
                <ion-text class="bold">{{ book.startdate }} </ion-text>
                <ion-text class="bold">{{ book.enddate }} </ion-text>
              </ion-row>
            </ion-row>

            <ion-row class="px-4">
                <ion-icon *ngIf="book.type == 'flight'" src="../../../assets/icons/dashboard/trip-flight.svg"></ion-icon>
                <ion-icon *ngIf="book.type == 'hotel'" src="../../../assets/icons/dashboard/hotel.svg"></ion-icon>
                <ion-icon *ngIf="book.type == 'bus'" src="../../../assets/icons/dashboard/bus.svg"></ion-icon>
                <ion-icon *ngIf="book.type == 'train'" name="train-sharp"></ion-icon>
            </ion-row>
        </ion-row>
    </ion-item>
  </div>
</ion-content>
