<ion-content>
  <ion-item>
    <ion-label>Select Branch</ion-label>
    <ion-select placeholder="Select Branch" (ionChange)="branchChange($event)">
      <ion-select-option *ngFor="let branch of branches" [value]="branch">{{branch.company_name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-text *ngIf="users.length == 0" class="ion-text-center">Currently,You do not have any User</ion-text>
  <ion-list *ngIf="users.length > 0" lines="none">
    <ion-item class="ion-activatable ripple-parent" *ngFor="let user of users" (click)="editUser(user)">
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      <ion-row>
        <ion-row>
          <ion-text>{{user.name}}</ion-text>
          <ion-text>{{user.email}}</ion-text>
        </ion-row>
        <ion-row>
          <ion-text>{{user.phone_number}}</ion-text>
        </ion-row>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>