<ion-header>
  <ion-toolbar>
    <ion-title>
      Selected Flight
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let cflight of (selectedFlight$ | async).connectingFlights;let i = index" [expanded]="'true'">
      <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'45px'">
        <ion-item>
          <ion-label class="large bold">
            Trip {{1 + (selectedFlight$ | async).connectingFlights.indexOf(cflight)}}
          </ion-label>
        </ion-item>
      </mat-expansion-panel-header>
      <div *ngFor="let c of cflight">
        <ion-item>
          <ion-row slot="start">
            <ion-img src="../../../../../../assets/AirlineLogo/{{c.Airline.AirlineCode}}.gif"></ion-img>
            <ion-row>
              <ion-label class="bold">{{c.Airline.AirlineName}}</ion-label>
              <ion-text class="large bold">{{c.Airline.AirlineCode}} - {{c.Airline.FlightNumber}}</ion-text>
            </ion-row>
          </ion-row>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-text class="bold">({{c.Origin.Airport.AirportCode}}) {{c.Origin.DepTime  | date : 'HH:mm'}}</ion-text>
            <ion-text class="bold">{{c.Origin.DepTime | date : 'EEE,d LLL' | titlecase}}</ion-text>
            <ion-text class="bold">{{c.Origin.Airport.CityName}}</ion-text>
          </ion-col>
          <ion-col>
            <ion-icon size="large" src="../../../../../../assets/icons/passage-of-time.svg"></ion-icon>
            <ion-text class="bold">{{c.Duration}}</ion-text>
          </ion-col>
          <ion-col>
            <ion-text class="bold">({{c.Destination.Airport.AirportCode}}) {{c.Destination.ArrTime  | date : 'HH:mm'}}
            </ion-text>
            <ion-text class="bold">{{c.Destination.ArrTime | date : 'EEE,d LLL' | titlecase}}</ion-text>
            <ion-text class="bold">{{c.Destination.Airport.CityName}}</ion-text>
          </ion-col>
        </ion-row>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ion-content>

<ion-footer *ngIf="(selectedFlight$ | async) !== null">
  <ion-toolbar class="result-footer">
    <ion-row class="multi-city">
      <ion-label class="large bold">{{(selectedFlight$ | async).fare | currency : (selectedFlight$ | async).currency}}
      </ion-label>
      <ion-button (click)="book()">
        <ion-label class="large bold">Book</ion-label>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
