@import "../../../style/util/mixins.scss";
@import "../../../style/util/variable.scss";
@import "../../../style/component/item.scss";

ion-content{
    text-align: center;
    >ion-img{
        width: 220px;
        height: 70px;
        margin: 1vh auto;
    }
    >ion-text{
        font-size: 20px;
    }
    >app-custom-stepper{
        form, div, app-add-branch, app-add-user, app-add-profile{
            width: -webkit-fill-available;
            >button{
                width: -webkit-fill-available;
                >ion-button {
                    --background: #A6D2AE !important;
                }
            }
            >ion-item{
                --padding-start:0px;
                >ion-img{
                    width: 24px;
                    height: 24px;
                }
            }
            >ion-searchbar, ion-searchbar:focus{
                text-align-last: justify;
            }
        }
    }
}

ion-fab-button{
    ion-icon{
        color:white !important;
    }
}