@import "../../../style/util/mixins.scss";
@import "../../../style/util/variable.scss";
@import "../../../style/component/item.scss";

ion-content{
    >ion-img{
        width: 220px;
        height: 70px;
        margin: 1vh auto;
    }
    >ion-title{
        font-size: 20px;
        text-align: center;
    }
    >app-custom-stepper{
        form, div, app-add-branch, app-add-user, app-add-profile{
            width: -webkit-fill-available;
            >ion-button {
                --background: #A6D2AE !important;
            }
            >ion-item{
                --padding-start:0px;
                >ion-img{
                    width: 24px;
                    height: 24px;
                }
            }
            >app-branch-list{

            }
            >app-user-list{
                
            }
        }
    }
}

ion-fab-button{
    ion-icon{
        color:white !important;
    }
}