@import "../../../../style/util/variable.scss";
@import "../../../../style/util/mixins.scss";

@function flight-row-height($row){
    $row-height:100/$row;
    @return #{$row-height}+"%";
}

ion-content{
    ion-row {
        width: 100%;
    
        ion-col {
            @include flex-col-grid;
    
            mat-accordion {
                @include flex-col-grid;
                height:100%;
                flex-grow:1;
                >mat-expansion-panel {
                    border-bottom: 2px solid grey !important;
    
                    >mat-expansion-panel-header {
                        @include flex-col-grid;
                        padding: 0px;
    
                        >::ng-deep span {
                            width: 100%;
                            @include flex-col-grid;
    
                            >ion-row {
                                width: 100%;
                                height: 100%;
    
                                >ion-col {
                                    height:100%;

                                    >ion-row {
                                        width: 100%;
    
                                        ion-col {
                                            ion-img:first-child {
                                                margin-top: auto;
                                                width: 100% !important;
                                                height: 50% !important;
                                            }
    
                                            ion-text:first-child {
                                                text-align: center;
                                                margin-top: auto;
                                            }
    
                                            ion-text:last-child {
                                                text-align: center;
                                                margin-bottom: auto;
                                            }
                                        }
                                    }
                                }
    
                                >ion-col:last-child {
                                    ion-icon {
                                        margin: auto;
                                    }
                                }
                            }
                        }
                    }
    
                    ::ng-deep .mat-expansion-panel-body {
                        border-top: 1px solid grey;
                        padding: 3px;
    
                        >ion-row:first-child {
                            ion-text {
                                margin-top: 2px;
                                margin-bottom: 2px;
                            }
                        }
    
                        >ion-row:last-child {
    
                            ion-col {
                                @include flex-col-grid;
    
                                * {
                                    margin: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.selectedItem{
    background: rgb(229, 173, 173) !important;
    ion-text{
        color:white;
    }
}

.mat-expansion-panel-spacing{
    margin-top:0px;
    margin-bottom:0px;
}