@import "../../../../style/util/variable.scss";
@import "../../../../style/util/mixins.scss";

ion-content{
    ion-row {
        width: 100%;
    
        ion-col {
            @include flex-col-grid;
    
            mat-accordion {
                @include flex-col-grid;
                height:100%;
                flex-grow:1;
                >mat-expansion-panel {
                    border-bottom: 2px solid grey !important;
    
                    >mat-expansion-panel-header {
                        @include flex-col-grid;
                        max-height: fit-content;
                        padding: 0px;
    
                        >::ng-deep span {
                            width: 100%;
                            @include flex-col-grid;
    
                            >ion-row {
                                width: 100%;
                                height: fit-content;

                                ion-text{
                                    font-size: calc(1vw + 6px);
                                    white-space: nowrap;
                                }
    
                                >ion-col {
                                    max-width: fit-content !important;
                                    margin: 5px 0px;

                                    ion-img {
                                        width: 25px;
                                        height: 25px;
                                    }
                                    >ion-row {
                                        width: 100%;
    
                                        ion-col {
    
                                            ion-text:first-child {
                                                text-align: center;
                                                margin-top: auto;
                                            }
    
                                            ion-text:last-child {
                                                text-align: center;
                                                margin-bottom: auto;
                                            }
                                        }
                                    }
                                }
                            }
                            >ion-button{
                                margin:0px;
                                height: min-content;
                            }
                        }
                    }
    
                    ::ng-deep .mat-expansion-panel-body {
                        border-top: 1px solid grey;
                        padding: 3px;
    
                        >ion-row:first-child {
                            ion-text {
                                margin-top: 2px;
                                margin-bottom: 2px;
                            }
                        }
    
                        >ion-row:last-child {
    
                            ion-col {
                                @include flex-col-grid;
    
                                * {
                                    margin: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.selectedItem{
    background: rgb(229, 173, 173) !important;
    ion-text{
        color:white;
    }
}

.mat-expansion-panel-spacing{
    margin-top:0px;
    margin-bottom:0px;
}