@import "../../../../style/util/variable.scss";
@import "../../../../style/util/mixins.scss";

ion-content{
    >ion-row {
        width: 100%;
    
        >ion-col {
            @include flex-col-grid;
    
            >mat-accordion {
                @include flex-col-grid;
                height:100%;
                flex-grow:1;
                >mat-expansion-panel {
                    border-bottom: 2px solid grey !important;
    
                    >mat-expansion-panel-header {
                        @include flex-col-grid;
                        max-height: fit-content;
                        padding: 0px;
    
                        >::ng-deep span {
                            width: 100%;
                            @include flex-col-grid;

                            >ion-row:first-child {
                                padding: 5px 0px;
                                justify-content: space-between;

                                >ion-label {
                                    margin: auto 10px;
                                    font-size: 20px !important;
                                    list-style: upper-alpha;
                                }

                                >ion-row{
                                    >ion-row:first-of-type{
                                        width: auto;
                                        flex-direction: column;
                                        margin: auto 10px;
                                    }
                                    >ion-row:last-of-type{
                                        justify-content: flex-end;
                                        padding: 6px 0px;
                                        width: fit-content;
    
                                        ion-label {
                                            margin: 0px 10px;
                                            align-self: center;
                                        }
    
                                        ion-checkbox {
                                            margin: 0px 5px;
                                        }
                                    }
                                }

                            }
    
                            >ion-row{
                                width: 100%;
                                height: fit-content;

                                >ion-text{
                                    font-size: calc(1vw + 6px);
                                    white-space: nowrap;
                                    margin: auto;
                                }
    
                                >ion-col {
                                    display: flex;
                                    flex-direction: column;
                                    max-width: fit-content;
                                    margin: 5px 0px;
                                    height:auto;

                                    ion-img {
                                        width: 25px;
                                        height: 25px;
                                    }

                                    &:nth-child(2){
                                        width: 100%;
                                        opacity:1;
                                        transition:all 20ms linear 0s;
                                        &.col-grow {
                                            width: 100%;
                                            opacity: 1;
                                        }

                                        &.col-shrink {
                                            max-width: 0px;
                                            opacity: 0;
                                        }
                                    }

                                    &:nth-child(3) {
                                        width: 100%;
                                        opacity:1;
                                        transition:all 20ms linear 0s;
                                        &.col-grow {
                                            width: 100%;
                                            opacity: 1;
                                        }

                                        &.col-shrink {
                                            max-width: 0px;
                                            opacity: 0;
                                        }
                                    }
                                }
                            }

                            >ion-row:last-of-type{
                                justify-content: flex-end;
                                padding: 6px 0px;
                                ion-label {
                                    margin: 0px 10px;
                                    align-self: center;
                                }

                                ion-checkbox {
                                    margin: 0px 5px;
                                }
                            }

                            >ion-button{
                                margin:0px;
                                height: 30px;
                            }
                        }
                    }
    
                    ::ng-deep .mat-expansion-panel-body {
                        border-top: 1px solid grey;
                        padding: 0px;

                        ion-row:first-child {
                            background: #{$bar-bg2};
                            height: fit-content;
                            padding: 10px 0px 28px 0px;

                            >ion-thumbnail {
                                >ion-title {
                                    color:#{$white-text};
                                    padding: 0px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.selectedItem{
    background: rgb(229, 173, 173) !important;
    ion-text,ion-label{
        color:white;
    }
}

.mat-expansion-panel-spacing{
    margin-top:0px;
    margin-bottom:0px;
}