<ion-header>

  <ion-toolbar>
    <ion-title>Select inventory Room</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list class="mx-4">
    <ion-item *ngFor="let room of (rooms$ | async)">
      <ion-checkbox slot="start" [value]="room" [checked]="" (ionChange)="selectRoom($event)"></ion-checkbox>
      <ion-label class="bold large"> {{ room.room_type }} </ion-label>
      <ion-label class="bold large" slot="end">{{ room.price | currency : 'INR'}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end" (click)="sendInventory()">
      <ion-button>
        <ion-label class="large bold">Send</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
