@import "../../../../style/util/variable.scss";
@import "../../../../style/util/mixins.scss";

ion-content{
    >ion-card{
        >ion-card-content{
            display: flex;
            flex-direction: column;
            >ion-text{
                margin:12px 0px;
            }
        }
    }

    >form{
        >ion-item{
            --padding-end:16px;
        }
    }

}