<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-text>
        {{form == 'add' ? 'Add Passenger Details' : form == 'edit' ? 'Edit Passenger Details' : 'Passenger Details'}}
      </ion-text>
    </ion-title>
    <ion-buttons slot="end" (click)="dismissDetail()">
      <ion-button>
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-text>
        Enter your name as it is mentioned on your passport.For
        international Travel,passport should be valid for
        minimun 6 months from the date of travel. if you are
        travelling to the USA and/or Canada.please ensure that
        you enter the correct password details for every
        passenger, in case you fail to do so,you may not be
        allowed to enter the USA and/or canada.
      </ion-text>
      <ion-text>
        Meals are subject to availability with the airlines,Please
        check with the Airlines before travel
      </ion-text>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="Passenger" (ngSubmit)="addPassenger()">
    <ion-item lines="full">
      <ion-label>Passenger Details</ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-select placeholder="Title" slot="start" [interfaceOptions]="customAlertOptions" formControlName="Title"
        required
        [ngClass]="errorClass('Title')">
        <ion-select-option value="Mr">Mr</ion-select-option>
        <ion-select-option value="Ms">Ms</ion-select-option>
        <ion-select-option value="Mrs">Mrs</ion-select-option>
        <ion-select-option value="Mstr">Mstr</ion-select-option>
      </ion-select>
      <ion-input type="text" placeholder="First & Middle Name" formControlName="FirstName" required [ngClass]="errorClass('FirstName')">
      </ion-input>
      <ion-text slot="end" *ngIf="Passenger.controls['FirstName'].hasError('minlength')"
        [ngClass]="errorClass('FirstName')">Min 3 Charatcer</ion-text>
    </ion-item>
    <ion-item lines="full">
      <ion-input type="text" placeholder="Last Name" formControlName="LastName" [ngClass]="errorClass('LastName')" required></ion-input>
      <ion-text slot="end" *ngIf="Passenger.controls['LastName'].hasError('minlength')"
        [ngClass]="errorClass('LastName')">Min 3 Charatcer</ion-text>
    </ion-item>
    <ion-item lines="full">
      <ion-input type="email" placeholder="Email" formControlName="Email" [ngClass]="errorClass('Email')" required pattern></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-datetime type="date" displayFormat="DD-MMM-YYYY" (ionFocus)="focusDate($event)"
      placeholder="Select Date Of Birth" formControlName="DateOfBirth" [ngClass]="errorClass('DateOfBirth')" required>
      </ion-datetime>
    </ion-item>
    <ion-item lines="full">
      <ion-input type="text" placeholder="Address" formControlName="Address" [ngClass]="errorClass('Address')"></ion-input>
    </ion-item>
    <ion-item lines="full" (click)="selectCity('City')" (ionFocus)="selectCity('City')">
      <ion-input placeholder="Select City" formControlName="City" [ngClass]="errorClass('City')"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input type="number" placeholder="Phone Number" formControlName="ContactNo" [ngClass]="errorClass('ContactNo')" required pattern></ion-input>
    </ion-item>
    <ion-item lines="full" *ngIf="passportValidation() == 'domestic'">
      <ion-input placeholder="Passport Number" formControlName="PassportNo"
        [ngClass]="errorClass('PassportNo')"></ion-input>
    </ion-item>
    <ion-item lines="full" *ngIf="passportValidation() == 'international'">
      <ion-input placeholder="Passport Number" formControlName="PassportNo" required pattern
        [ngClass]="errorClass('PassportNo')"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input type="text" slot="start" placeholder="Nationality" formControlName="nationality"></ion-input>
    </ion-item>
    <ion-item lines="full" *ngIf="passportValidation() == 'domestic'">
      <ion-datetime displayFormat="DD-MMM-YYYY" type="date"
        placeholder="Select Passport Expiry Date" max="2050" formControlName="PassportExpiry"
        [ngClass]="errorClass('PassportExpiry')">
      </ion-datetime>
    </ion-item>
    <ion-item lines="full" *ngIf="passportValidation() == 'international'">
      <ion-datetime displayFormat="DD-MMM-YYYY" type="date" placeholder="Select Passport Expiry Date" max="2050"
        formControlName="PassportExpiry" required [ngClass]="errorClass('PassportExpiry')">
      </ion-datetime>
    </ion-item>
    <ion-item lines="full">
      <ion-input placeholder="Frequent Traveller Number" formControlName="ftnumber"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-text>Frequent Flyer Number is subject to airline acceptance</ion-text>
    </ion-item>
    <ion-item lines="full">
      <ion-label>GST Details</ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-input type="text" placeholder="Company Name" formControlName="CompanyName" [ngClass]="errorClass('CompanyName')" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input type="email" placeholder="Company Email" formControlName="CompanyEmail" [ngClass]="errorClass('CompanyEmail')" required pattern></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input type="text" placeholder="GST Number" formControlName="GSTNumber" [ngClass]="errorClass('GSTNumber')" required pattern></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input type="text" placeholder="Company Address" formControlName="CompanyAddress" [ngClass]="errorClass('CompanyAddress')"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input type="number" placeholder="Company Number" formControlName="CompanyNumber" [ngClass]="errorClass('CompanyNumber')" required pattern></ion-input>
    </ion-item>
    <ion-button expand="block" fill="solid" *ngIf="false">
      <ion-icon name="add"></ion-icon>
      <ion-text (click)="addMeal()">Meal & Baggage</ion-text>
    </ion-button>
    <ion-button type="submit" expand="block" fill="solid">
      <ion-text>{{form == 'add' ? 'Add Passenger' : form == 'edit' ? 'Edit Passenger' : 'Add Passsenger'}}</ion-text>
    </ion-button>
  </form>
</ion-content>