<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-text>
        {{form == 'add' ? 'Add Passenger Details' : form == 'edit' ? 'Edit Passenger Details' : 'Passenger Details'}}
      </ion-text>
    </ion-title>
    <ion-buttons slot="end" (click)="dismissDetail()">
      <ion-button>
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-text>
        Enter your name as it is mentioned on your passport.For
        international Travel,passport should be valid for
        minimun 6 months from the date of travel. if you are
        travelling to the USA and/or Canada.please ensure that
        you enter the correct password details for every
        passenger, in case you fail to do so,you may not be
        allowed to enter the USA and/or canada.
      </ion-text>
      <ion-text>
        Meals are subject to availability with the airlines,Please
        check with the Airlines before travel
      </ion-text>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="Passenger" (ngSubmit)="addPassenger()">
    <ion-item>
      <ion-select placeholder="Title" slot="start" formControlName="Title" required [ngClass]="errorClass('Title')">
        <ion-select-option value="Mr">Mr</ion-select-option>
        <ion-select-option value="Ms">Ms</ion-select-option>
        <ion-select-option value="Mrs">Mrs</ion-select-option>
        <ion-select-option value="Mstr">Mstr</ion-select-option>
      </ion-select>
      <ion-input placeholder="First & Middle Name" formControlName="FirstName" required
        [ngClass]="errorClass('FirstName')">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Last Name" formControlName="LastName"></ion-input>
    </ion-item>
    <ion-item [ngClass]="errorClass('DateOfBirth')">
      <ion-label>Date Of Birth</ion-label>
      <ion-datetime displayFormat="DD-MMM-YYYY"
      placeholder="Select Date Of Birth" formControlName="DateOfBirth">
      </ion-datetime>
    </ion-item>
    <ion-item [ngClass]="errorClass('PassportNo')">
      <ion-input placeholder="Passport Number" formControlName="PassportNo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input slot="start" placeholder="Nationality" formControlName="nationality"></ion-input>
    </ion-item>
    <ion-item [ngClass]="errorClass('PassportExpiry')">
      <ion-label>PassPort Expiry Date</ion-label>
      <ion-datetime displayFormat="DD-MMM-YYYY"
        placeholder="Select Passport Expiry Date" max="2050" formControlName="PassportExpiry" required>
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Frequent Traveller Number" formControlName="ftnumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-text>Frequent Flyer Number is subject to airline acceptance</ion-text>
    </ion-item>
    <ion-button expand="block" fill="solid" *ngIf="false">
      <ion-icon name="add"></ion-icon>
      <ion-text (click)="addMeal()">Meal & Baggage</ion-text>
    </ion-button>
    <ion-button type="submit" expand="block" fill="solid">
      <ion-text>{{form == 'add' ? 'Add Passenger' : form == 'edit' ? 'Edit Passenger' : 'Add Passsenger'}}</ion-text>
    </ion-button>
  </form>
</ion-content>