<ion-menu contentId="sidebar" side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item (click)="onLogout()">Log Out</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header id="sidebar">
  <ion-toolbar>
      <ion-item lines="none" button slot="start" mode="md" (click)="openMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-item>
    <ion-title>
      <ion-grid id="header">
        <ion-row>
          <ion-col size="8">
            <ion-item lines="none">
              <ion-text>
                Travellers Pass
              </ion-text>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-item lines="none" button (click)="notification()">
              <ion-avatar slot="start">
                <ion-icon name="notifications-outline" size="large"></ion-icon>
              </ion-avatar>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-item lines="none" button (click)="profile()">
              <ion-avatar slot="start">
                <ion-icon src="../../../../../assets/ionicons/md-people-circle-outline.svg" size="large"></ion-icon>
              </ion-avatar>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>