<ion-menu contentId="sidebar" side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item (click)="onLogout()">Log Out</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header id="sidebar">
  <ion-toolbar>
      <ion-item button slot="start" mode="md" (click)="openMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-item>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>