@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$transparent:transparent !default;

// $bar-bg:#4deb1a !default;
$bar-color:#ffffff !default;
$bar-bg:#89f789 !default;
$bar-bg2:#5BACDC 0% 0% no-repeat padding-box !default;
$bar-opacity: 1;

$btn-bg:#90bd1c !default;
$btn2-bg:#3d9ed7 !default;
$btn3-bg:#A6D2AE !default;
$btn4-bg: #3566ee;
$btn-opacity:0.4 !default;


$item-bg:$transparent;

$text-color:grey;
$text-bg:#dcdcdc;
$text-font-size:small;

$segment-bg:#A0A0A0;
$selected-bg: #3566ee;
$selected2-bg:#F3973E;
$selected-color:white;

$selected-item:rgb(255, 232, 232) !important;

$toolbar-bg:#dedede;
$white-text:white;

//icons
$white-icon:white;
$icon-color:grey;
$icon-color2:#5BACDC;

//font
$mobile-font-family : 'Roboto',sans-serif;
$mobile-font-size: calc(1.3rem + 3.6vw);

//tabs
$tab-color:#E87474 !default;
$tab-background:white !default;
$tab-selected-background:#E87474 !default;
$tab-selected-color:white !default;
$tab-border:$tab-color;

//text
$white-text:white;

//css variale

*{
    --ion-safe-area-top:0px !important;
    --ion-safe-area-right:0px !important;
    --ion-safe-area-bottom:0px !important;
    --ion-safe-area-left:0px !important;
}

$color-one:#E87474 !important







