@import "../../../../style/base/color.scss";

ion-card.rules {
    >ion-card-content {
        >ion-row:not(:last-child) {
            margin-top: 4px;
            margin-bottom: 4px;
        }

        >ion-row {
            >ion-col {
                >ion-row:first-child {
                    >ion-col {
                        margin-left: 0px;
                        border-bottom: 1px solid grey;
                    }
                }

                >ion-row {
                    >ion-col {
                        margin-left: 10px;
                    }
                }
            }
        }

        >ion-row:last-child {
            >ion-col {
                >ion-text {
                    color: #{$malibu};
                }
            }
        }
    }
}