<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="hotelSearch" (ngSubmit)="searchHotel()">
        <ion-row>
          <ion-row (click)="selectCity()">
            <ion-text>City/State</ion-text>
            <ion-text [ngClass]="errorClass('city')">
              {{this.hotelSearch.value.city !== null ? this.hotelSearch.value.city.destination : 'Select'}}
            </ion-text>
            <ion-text [ngClass]="errorClass('city')">
              {{this.hotelSearch.value.city !== null ? this.hotelSearch.value.city.stateprovince : 'City'}}
            </ion-text>
          </ion-row>
        </ion-row>
        <ion-row>
          <ion-row (click)="selectRoom()">
            <ion-text>Rooms</ion-text>
            <ion-text [ngClass]="errorClass('rooms')">1 Room</ion-text>
            <ion-text [ngClass]="errorClass('rooms')">1 Adult</ion-text>
          </ion-row>
          <ion-row>
            <ion-text>Nationality</ion-text>
            <ion-text [ngClass]="errorClass('nationality')">Indian</ion-text>
          </ion-row>
          <ion-row>
            <ion-text>Star Hotel</ion-text>
            <ion-text [ngClass]="errorClass('star')">1 Star</ion-text>
          </ion-row>
        </ion-row>
        <ion-row>
          <ion-row>
            <ion-text>Check-In</ion-text>
            <ion-text [ngClass]="errorClass('checkin')">Thu,27 Feb 20</ion-text>
          </ion-row>
          <ion-row>
            <ion-text>Check-Out</ion-text>
            <ion-text [ngClass]="errorClass('checkout')">Fri,28 Feb 20</ion-text>
          </ion-row>
        </ion-row>
        <ion-row>
          <ion-button expand="full" type="submit">
            <ion-text>{{'Search Hotel' | titlecase}}</ion-text>
          </ion-button>
        </ion-row>
        <ion-input formControlName="city"></ion-input>
        <ion-input formControlName="rooms"></ion-input>
        <ion-input formControlName="nationality"></ion-input>
        <ion-input formControlName="star"></ion-input>
        <ion-input formControlName="checkin"></ion-input>
        <ion-input formControlName="checkout"></ion-input>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <mat-divider></mat-divider>
      </ion-col>
      <ion-col size="10">
        <ion-card class="tab">
            <ion-card-content>
              <ion-row>
                <ion-col>
                  <ion-chip color="secondary">
                     <ion-icon name="checkmark-circle"></ion-icon>
                    <ion-text>Domestic</ion-text>
                  </ion-chip>
                </ion-col>
                <ion-col>
                  <ion-chip color="secondary">
                     <ion-icon name="checkmark-circle"></ion-icon>
                    <ion-text>International</ion-text>
                  </ion-chip>
                </ion-col>
              </ion-row>
            </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="1">
        <mat-divider></mat-divider>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="content">
          <ion-card-header>
            <ion-row class="ion-justify-content-center">
              <ion-col size="6">
                <ion-row>
                  <ion-text>City/Area/Hotel Name</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text>New Delhi</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text>India</ion-text>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col (click)="selectRoom()">
                <ion-row>
                  <ion-text>1 Room</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text>1 Adult</ion-text>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <ion-text>Nationality</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text>Indian</ion-text>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <ion-text>Star Hotel</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text>1 Star</ion-text>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-row>
                  <ion-text>Check-In</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text>Thu,27 Feb 20</ion-text>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <ion-icon name="moon" size="medium"></ion-icon>
                </ion-row>
                <ion-row>
                  <ion-text>1 Night</ion-text>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row>
                  <ion-text>Check-Out</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text>Fri,28 Feb 20</ion-text>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="6">
                <ion-button (click)="searchRoom()">
                  <ion-text>Search Hotels</ion-text>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
