<ion-header>
  <ion-toolbar>
    <ion-title>
      Send Request
    </ion-title>
    <ion-buttons slot="end" (click)="dismiss()">
      <ion-button>
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="!(isAdmin$ | async) && (appovalStatus$ | async)">
    <ion-label class="large bold" slot="start">Approver</ion-label>
    <ion-label class="large" slot="end">{{approverName$ | async}}</ion-label>
  </ion-item>

  <ion-item *ngIf="(appovalStatus$ | async)">
    <ion-label class="large bold">Mail CC</ion-label>
    <ion-select okText="Okay" cancelText="Dismiss" multiple="true" [interfaceOptions]="ccAlertOptions"
      (ionChange)="mail($event)">
      <ion-select-option [value]="manager.email" *ngFor="let manager of (managers$ | async)">{{manager.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label class="large bold">Purpose</ion-label>
    <ion-select okText="Okay" cancelText="Dismiss" [interfaceOptions]="purposeAlertOptions"
      (ionChange)="purpose($event)">
      <ion-select-option [value]="purpose" *ngFor="let purpose of purposeArray">{{purpose}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label class="large bold" position="floating">Comments</ion-label>
    <ion-textarea rows="8" (ionChange)="comment($event)"></ion-textarea>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-label class="medium bold">
          Cancel
        </ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="bookRequest()" *ngIf="type == 'book'">
        <ion-label class="medium bold">
          Book Ticket
        </ion-label>
      </ion-button>
      <ion-button (click)="sendRequest()" *ngIf="type == 'request'">
        <ion-label class="medium bold">
          Send Request
        </ion-label>
      </ion-button>
      <ion-button (click)="offlineRequest()" *ngIf="type == 'offline'">
        <ion-label class="medium bold">
          Offline Request
        </ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

