<ion-content>
  <ion-virtual-scroll [items]="items" approxItemHeight="70px">
    <ion-item class="ion-activatable ripple-parent" lines="none" *virtualItem="let item">
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      <ion-icon slot="start" src="../../../assets/icons/dashboard/trip-flight.svg"></ion-icon>
      <ion-icon slot="end" src="../../../assets/ionicons/md-alert-circle.svg"></ion-icon>
      <ion-row>
        <ion-row>
          <ion-text>{{ item.from }}</ion-text>
          <ion-icon src="../../../assets/icons/straight.svg"></ion-icon>
          <ion-text>{{ item.to }}</ion-text>
        </ion-row>
        <ion-row>
          <ion-text>{{ item.date | date }} | {{ item.time | date : 'shortTime' }}</ion-text>
        </ion-row>
      </ion-row>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>