<form [formGroup]="roundTripSearch" ngxsForm="search.roundTripSearch">
<ion-grid>
  <ion-row>
    <ion-col>
        <ion-row>
          <ion-col>
            <ion-row class="ion-justify-content-between">
              <!--from-->
              <ion-col size="4" (click)="selectCity('from')">
                <ion-row>
                  <ion-text>From</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text>{{this.roundTripSearch.value.from !== null ? this.roundTripSearch.value.from.city_code : 'MAS'}}
                  </ion-text>
                </ion-row>
                <ion-row>
                  <ion-text>
                    {{this.roundTripSearch.value.from !== null ? this.roundTripSearch.value.from.city_name : 'Chennai'}}
                  </ion-text>
                </ion-row>
              </ion-col>
              <!--exhange-->
              <ion-col size="3">
                <ion-button expand=full fill="clear" (click)="swapTrip()">
                  <ion-icon src="../../../../../../assets/icons/straight.svg"></ion-icon>
                </ion-button>
              </ion-col>
              <!--to-->
              <ion-col size="4" (click)="selectCity('to')">
                <ion-row>
                  <ion-text>To</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text>{{this.roundTripSearch.value.to !== null ? this.roundTripSearch.value.to.city_code : 'BAN'}}
                  </ion-text>
                </ion-row>
                <ion-row>
                  <ion-text>
                    {{this.roundTripSearch.value.to !== null ? this.roundTripSearch.value.to.city_name : 'Bangalore'}}
                  </ion-text>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-between">
              <ion-col size="5" (click)="selectDate('departure')">
                <ion-row>
                  <ion-text>Depart</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text>
                    {{this.roundTripSearch.value.departure !== null ? (this.roundTripSearch.value.departure | date : 'EEE,d LLL' | titlecase) : 'Tue,25 Feb'}}
                  </ion-text>
                </ion-row>
              </ion-col>
              <ion-col size="1">
                <ion-icon src="../../../../../../assets/icons/letter.svg"></ion-icon>
              </ion-col>
              <ion-col size="5" (click)="selectDate('return')">
                <ion-row>
                  <ion-text>Return</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text>
                    {{this.roundTripSearch.value.return !== null ? (this.roundTripSearch.value.return | date : 'EEE,d LLL' | titlecase) : 'Tue,25 Feb'}}
                  </ion-text>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-between">
              <ion-col size="5" (click)="selectPassengers()">
                <ion-row>
                  <ion-text>Travellers</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text *ngIf="(this.roundTripSearch.value.traveller == null) ||
                          (this.roundTripSearch.value.traveller?.adult <= 0 &&
                            this.roundTripSearch.value.traveller?.child <=0 &&
                            this.roundTripSearch.value.traveller.infant <=0)">
                    Select Passengers
                  </ion-text>
                  <ion-text
                    *ngIf="this.roundTripSearch.value.traveller !== null && this.roundTripSearch.value.traveller.adult > 0">
                    {{this.roundTripSearch.value.traveller.adult+'   Adult'}}
                  </ion-text>
                  <ion-text
                    *ngIf="this.roundTripSearch.value.traveller !== null && this.roundTripSearch.value.traveller.child > 0">
                    {{this.roundTripSearch.value.traveller.child+'   Child'}}
                  </ion-text>
                  <ion-text *ngIf="this.roundTripSearch.value.traveller !== null && this.roundTripSearch.value.traveller.infant > 0">
                    {{this.roundTripSearch.value.traveller.infant+'   Infant'}}
                  </ion-text>
                </ion-row>
              </ion-col>
              <ion-col size="1">
                <ion-icon src="../../../../../../assets/icons/letter.svg"></ion-icon>
              </ion-col>
              <!--blank-->
              <ion-col size="5">
                <ion-row>
                  <ion-text>Class</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text (click)="selectClass()">
                    {{(this.roundTripSearch.value.class !== null ? this.roundTripSearch.value.class : 'Economy') | titlecase}}
                  </ion-text>
                  <ion-item hidden="true">
                    <ion-label>Class</ion-label>
                    <ion-select #select formControlName="class" cancelText="Cancel" okText="Confirm">
                      <ion-select-option value="economy">Economy</ion-select-option>
                      <ion-select-option value="premium economy">Premium Economy</ion-select-option>
                      <ion-select-option value="bussiness">Bussiness</ion-select-option>
                      <ion-select-option value="first class">First Class</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" offset="3">
                <ion-button expand="full" (click)="searchFlight()">
                  <ion-text>{{'Search Flight' | titlecase}}</ion-text>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-input formControlName="from" hidden></ion-input>
  <ion-input formControlName="to" hidden></ion-input>
  <ion-input formControlName="departure" hidden></ion-input>
  <ion-input formControlName="return" hidden></ion-input>
  <ion-input formControlName="traveller" hidden></ion-input>
</form>