<form [formGroup]="roundTripSearch" (ngSubmit)="searchFlight()">
  <ion-grid>
    <ion-row>
      <!--from-->
      <ion-col (click)="selectCity('from')">
        <ion-row>
          <ion-label class="bold large">From</ion-label>
          <ion-text class="medium bold" [ngClass]="errorClass('from')">
            {{this.roundTripSearch.value.from !== null ? this.roundTripSearch.value.from.city_code : 'Select'}}
          </ion-text>
          <ion-text [ngClass]="errorClass('from')">
            {{this.roundTripSearch.value.from !== null ? this.roundTripSearch.value.from.city_name : 'Origin'}}
          </ion-text>
        </ion-row>
      </ion-col>
      <!--exhange-->
      <ion-col>
        <ion-button class="swap" expand=full fill="clear" (click)="swapTrip()">
          <ion-icon src="../../../../../../assets/icons/straight.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <!--to-->
      <ion-col (click)="selectCity('to')">
        <ion-row>
          <ion-label class="bold large">To</ion-label>
          <ion-text class="medium bold" [ngClass]="errorClass('to')">
            {{this.roundTripSearch.value.to !== null ? this.roundTripSearch.value.to.city_code : 'Select'}}
          </ion-text>
          <ion-text class="medium bold" [ngClass]="errorClass('to')">
            {{this.roundTripSearch.value.to !== null ? this.roundTripSearch.value.to.city_name : 'Destination'}}
          </ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="selectDate('departure')">
        <ion-row>
          <ion-label class="bold large">Depart</ion-label>
          <ion-text class="medium bold" [ngClass]="errorClass('departure')">
            {{this.roundTripSearch.value.departure !== null ? 
              (this.roundTripSearch.value.departure | date : 'EEE,d LLL' | titlecase) : 
              'Select Date'}}
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-icon src="../../../../../../assets/icons/letter.svg"></ion-icon>
      <ion-col (click)="selectDate('return')">
        <ion-row>
          <ion-label class="bold large">Return</ion-label>
          <ion-text class="medium bold" [ngClass]="errorClass('return')">
            {{this.roundTripSearch.value.return !== null ? 
              (this.roundTripSearch.value.return | date : 'EEE,d LLL' | titlecase) : 
              'Select Date'}}
          </ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="selectPassengers()">
        <ion-row>
          <ion-label class="bold large">Travellers</ion-label>
          <ion-text class="medium bold" [ngClass]="errorClass('traveller')"
            *ngIf="(this.roundTripSearch.value.traveller == null) ||
                  (this.roundTripSearch.value.traveller?.adult <= 0 &&
                    this.roundTripSearch.value.traveller?.child <=0 &&
                    this.roundTripSearch.value.traveller.infant <=0)">
            Select Passengers
          </ion-text>
          <ion-text class="medium bold" [ngClass]="errorClass('traveller')"
            *ngIf="this.roundTripSearch.value.traveller !== null && this.roundTripSearch.value.traveller.adult > 0">
            {{this.roundTripSearch.value.traveller.adult+'   Adult'}}
          </ion-text>
          <ion-text class="medium bold" [ngClass]="errorClass('traveller')"
            *ngIf="this.roundTripSearch.value.traveller !== null && this.roundTripSearch.value.traveller.child > 0">
            {{this.roundTripSearch.value.traveller.child+'   Child'}}
          </ion-text>
          <ion-text class="medium bold" [ngClass]="errorClass('traveller')"
            *ngIf="this.roundTripSearch.value.traveller !== null && this.roundTripSearch.value.traveller.infant > 0">
            {{this.roundTripSearch.value.traveller.infant+'   Infant'}}
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-icon src="../../../../../../assets/icons/letter.svg"></ion-icon>
      <ion-col>
        <ion-row>
          <ion-label class="bold large">Class</ion-label>
          <ion-text class="medium bold" (click)="selectClass()" [ngClass]="errorClass('class')">
            {{(this.roundTripSearch.value.class !== null ? this.roundTripSearch.value.class : 'Select Class') | titlecase}}
          </ion-text>
          <ion-item hidden="true">
            <ion-label>Class</ion-label>
            <ion-select 
              #select 
              formControlName="class" 
              cancelText="Cancel" 
              okText="Confirm"
              [interfaceOptions]="customAlertOptions"
              (ionChange)="changeClass($event)"
              >
              <ion-select-option value="all">All</ion-select-option>
              <ion-select-option value="economy">Economy</ion-select-option>
              <ion-select-option value="premium economy">Premium Economy</ion-select-option>
              <ion-select-option value="bussiness">Bussiness</ion-select-option>
              <ion-select-option value="first class">First Class</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button type="submit">
        <ion-text class="large boldest">{{'Search Flight' | titlecase}}</ion-text>
      </ion-button>
    </ion-row>
  </ion-grid>
  <ion-input formControlName="from" hidden></ion-input>
  <ion-input formControlName="to" hidden></ion-input>
  <ion-input formControlName="departure" hidden></ion-input>
  <ion-input formControlName="return" hidden></ion-input>
  <ion-input formControlName="traveller" hidden></ion-input>
</form>