<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-text>Forgot Password</ion-text>
    </ion-title>
    <ion-buttons slot="end" (click)="dismiss()">
      <ion-button>
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="passwordForm" (click)="confirmPassword()">
    <ion-item>
      <ion-icon slot="start" src="../../../assets/ng-img/icons/password.svg"></ion-icon>
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="text" formControlName="new" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" src="../../../assets/ng-img/icons/password.svg"></ion-icon>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="text" formControlName="confirm" required></ion-input>
    </ion-item>
    <ion-button type="submit">
      <ion-text>Update</ion-text>
    </ion-button>
  </form>
</ion-content>