<ion-content>
  <ion-title>New Password</ion-title>
  <form [formGroup]="passwordForm" (click)="confirmPassword()">
    <ion-item>
      <ion-icon slot="start" src="../../../assets/ng-img/icons/password.svg"></ion-icon>
      <ion-row>
        <ion-input type="text" formControlName="new" required placeholder="New Password"></ion-input>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" src="../../../assets/ng-img/icons/password.svg"></ion-icon>
      <ion-row>
        <ion-input type="text" formControlName="confirm" required placeholder="Confirm Password"></ion-input>
      </ion-row>
    </ion-item>
    <ion-button expand="block" fill="solid" type="submit">
      <ion-text>Update</ion-text>
    </ion-button>
  </form>
</ion-content>