<ion-menu content-id="sidebar" side="start" menu-id="first">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-text>
          Menu
        </ion-text>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="full">
      <ion-item (click)="dashboard()">
        <ion-label>
          <ion-text>
            Dashboard
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item (click)="myBookings()">
        <ion-label>
          <ion-text>
            My Bookings
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item (click)="approvalRequest()" *ngIf="isManager | async">
        <ion-label>
          <ion-text>
            Approval Request
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item (click)="onLogout()">
        <ion-label>
          <ion-text>
            Log Out
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
