ion-content {
    >ion-row:first-child {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    >ion-row {
        >ion-col {
            >ion-row {
                >ion-img {
                    width: -webkit-fill-available;
                }

                >ion-card {
                    background: white;
                    position: relative;
                    top: -36px;
                    width: -webkit-fill-available;

                    >ion-card-content {}
                }
            }
        }
    }
}