@import "../../../../style/base/color.scss";

ion-header{
    ion-title{
        padding:0px;
    }
}


ion-content{

    >ion-row{
        padding: 0px 10px;

        >*{
            padding:10px 0px;
        }

        >ion-item{
            width: -webkit-fill-available;
            ion-label[slot="end"]{
                text-align: end;
            }
        }
        >ion-item.checkinout {
            >ion-row{
                display: flex;
                flex-direction: column;
            }
        }
    }
}
