@import "../../../../../style/base/color.scss";
@import "../../../../../style/util/mixins.scss";

ion-content{

    >ion-row{
        padding:8px;
        display: flex;
        flex-direction: column;

        >* {
            padding:10px 0px;
        }

            >ion-row.checkinout{
                display: flex;
                justify-content: space-between;
                align-items: center;
                >ion-row{
                    display: flex;
                    flex-direction: column;
                }
            }
        
            // >ion-row.selectpassenger{
        
            // }
        
            >ion-row.pass-detail-1{
                ion-select{
                    border: 1px solid grey;
                    border-radius: 10px;
                    margin: 0px 6px;
                }
        
                ion-input{
                    border: 1px solid grey;
                    border-radius: 10px;
                    margin: 0px 6px;
                }
            }
        
            >ion-row.pass-detail-2{
                ion-input {
                    border: 1px solid grey;
                    border-radius: 10px;
                    margin: 0px 6px;
                }
            }
        
            >ion-row.add-pass{
                justify-content: space-around;
                ion-button{
                    ion-label{
                        margin:12px;
                    }
                }
            }
    }
}


ion-footer {
    ion-item {
        --padding-start: 16px;

        ion-row.room-cost {
            display: flex;
            flex-direction: column;
        }
    }
}