<ion-header>
  <ion-toolbar>
    <ion-title>hotel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-label>Nortels HeightsHotel Apartments</ion-label>
        </ion-row>
        <ion-row>
          <ion-text>Chennai, India</ion-text>
        </ion-row>
        <ion-row>
          <ion-text>1 Room, 2 Guests</ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-between">
      <ion-col>
        <ion-row>
          <ion-text>CHECK IN</ion-text>
        </ion-row>
        <ion-row>
          <ion-label>04 APR, SAT</ion-label>
        </ion-row>
        <ion-row>
          <ion-label>11 PM</ion-label>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-icon src="../../../../../assets/ionicons/chevron-forward-outline.svg"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-text>CHECK OUT</ion-text>
        </ion-row>
        <ion-row>
          <ion-label>05 APR, SAT</ion-label>
        </ion-row>
        <ion-row>
          <ion-label>11 PM</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-label>Hotel Rules</ion-label>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-text>GUEST PROFILE</ion-text>
        </ion-row>
        <ion-row>
          <ion-text>Unmarried Couples are not allowed</ion-text>
        </ion-row>
        <ion-row>
          <ion-text>READ MORE</ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-label>Primary Guest Details</ion-label>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>I am Looking for </ion-text>
          </ion-col>
          <ion-col>
            <ion-row class="ion-justify-content-between">
              <ion-col>
                <ion-radio></ion-radio>
              </ion-col>
              <ion-col>
                <ion-text>My self</ion-text>
              </ion-col>
              <ion-col>
                <ion-radio></ion-radio>
              </ion-col>
              <ion-col>
                <ion-text>Someone else</ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input class="form-control"></ion-input>
            <!-- <ion-item>
              <ion-label position="floating">
                TITLE
              </ion-label>
            </ion-item> -->
          </ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
