<ion-header>
  <ion-toolbar>
    <ion-title>Hotel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-label>Nortels HeightsHotel Apartments</ion-label>
        </ion-row>
        <ion-row>
          <ion-text>Chennai, India</ion-text>
        </ion-row>
        <ion-row>
          <ion-text>1 Room | 2 Guests</ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-between">
      <ion-col>
        <ion-row>
          <ion-text>CHECK IN</ion-text>
        </ion-row>
        <ion-row>
          <ion-label>04 APR, SAT</ion-label>
        </ion-row>
        <ion-row>
          <ion-label>11 PM</ion-label>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-icon src="../../../../../assets/ionicons/chevron-forward-outline.svg"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-text>CHECK OUT</ion-text>
        </ion-row>
        <ion-row>
          <ion-label>05 APR, SAT</ion-label>
        </ion-row>
        <ion-row>
          <ion-label>11 PM</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Hotel Rules</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-text>GUEST PROFILE</ion-text>
        </ion-row>
        <ion-row>
          <ul>
            <li>
              <ion-text>Unmarried Couples are not allowed</ion-text>
            </li>
          </ul>
        </ion-row>
        <ion-row>
          <ion-label (click)="hotelRules()">READ MORE</ion-label>
        </ion-row>
        <ion-row>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Primary Guest Details</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-label>I am Looking for </ion-label>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col>
                <ion-radio></ion-radio>
                <ion-text>My self</ion-text>
              </ion-col>
              <ion-col>
                <ion-radio></ion-radio>
                <ion-text>Someone else</ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col size="3">
            <ion-select value="Mr" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="Mr">Mr</ion-select-option>
              <ion-select-option value="Ms">Ms</ion-select-option>
              <ion-select-option value="Mrs">Mrs</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="4">
            <ion-input placeholder="First Name"></ion-input>
          </ion-col>
          <ion-col size="5">
            <ion-input placeholder="Last Name"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="Email"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="Pan Number"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-select value="+91" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="+91">+91</ion-select-option>
              <ion-select-option value="+91435">+91435</ion-select-option>
              <ion-select-option value="+65">+65</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="9">
            <ion-input placeholder="Phone Number"></ion-input>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <mat-divider></mat-divider>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-checkbox slot="start"></ion-checkbox>
              <ion-text>Add Other Guest Details (optionals)</ion-text>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-around">
          <ion-col size="4">
            <ion-row>
              <ion-button expand="block" (click)="addGuest()">
                <ion-icon slot="start" name="Add"></ion-icon>
                <ion-text>ADULT</ion-text>
              </ion-button>
            </ion-row>
          </ion-col>
          <ion-col size="4">
            <ion-row>
              <ion-button expand="block" (click)="addGuest()">
                <ion-icon slot="start" name="Add"></ion-icon>
                <ion-text>CHILD</ion-text>
              </ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <mat-divider></mat-divider>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-checkbox slot="start"></ion-checkbox>
              <ion-text>I have a GST Number(optionals)</ion-text>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="Registration Number"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="Registered Company Name"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="Registered Company Address"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label (click)="terms_condition()">Terms and Condition</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <mat-divider></mat-divider>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item button (click)="specialRequest()">
          <ion-label>MAKE SPECIAL REQUEST</ion-label>
          <ion-icon src="../../../../../assets/ionicons/chevron-forward-outline.svg" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <mat-divider></mat-divider>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>This is Non-Refundable Price</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <mat-divider></mat-divider>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item button (click)="policies()">
          <ion-label>Policies you should know</ion-label>
          <ion-icon src="../../../../../assets/ionicons/chevron-forward-outline.svg" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-label>{{'2357' | currency : 'INR'}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-text>Total Prize for 1 Night with Taxes</ion-text>
    </ion-row>
    <ion-buttons slot="end">
      <ion-button expand="block" (click)="fare()">
        <ion-text>Continue</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
