<ion-content>
  <ion-title>Login</ion-title>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-icon slot="start" src="../../../../assets/ng-img/icons/mail.svg"></ion-icon>
      <ion-row>
        <ion-input type="email" formControlName="email" placeholder="E-mail"></ion-input>
        <ion-label *ngIf="
                loginForm.controls['email'].touched &&
                loginForm.controls['email'].hasError('required')" color="danger">
          Email Address Required
        </ion-label>
        <ion-label *ngIf="
                loginForm.controls['email'].touched && 
                loginForm.controls['email'].dirty && 
                loginForm.controls['email'].hasError('pattern')" color="danger">
          Invalid Email Address
        </ion-label>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" src="../../../../assets/ng-img/icons/password.svg"></ion-icon>
      <ion-row>
        <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
        <ion-label *ngIf="
                loginForm.controls['password'].touched &&
                loginForm.controls['password'].hasError('required')" color="danger">
          Password Required
        </ion-label>
      </ion-row>
    </ion-item>
    <ion-button expand="block" fill="solid" type="submit">
      <ion-text>Login</ion-text>
    </ion-button>
    <a>
      <ion-text class="ion-float-right" (click)="forgotPassword()">Forgot Email or Password</ion-text>
    </a>
  </form>
</ion-content>