@import '../../../../style/util/mixins.scss';

form {
    padding: 0px 10px;
    min-height: -webkit-fill-available;

    >ion-item {
        margin: 20px auto;
    }

    >ion-button {
        --background: #A6D2AE !important;
    }
}