
<ion-content *ngIf="(loading$ | async)">
  <ion-virtual-scroll  [items]="[1,2,3,4,5,6,7,8,9,0]" approxItemHeight="60px">
    <ion-card *virtualItem="let allBooking">
      <ion-card-content>
        <ion-row>
          <ion-row style="width:25%">
            <ion-text>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-text>
            <ion-label>From</ion-label>
          </ion-row>
          <ion-row style="width:25%">
            <ion-text>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-text>
          </ion-row>
          <ion-row style="width:25%">
            <ion-text>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-text>
            <ion-label>To</ion-label>
          </ion-row>
        </ion-row>
        <ion-row>
          <ion-row style="width:30%">
            <ion-text class="medium bold">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-text>
            <ion-text class="medium bold">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-text>
          </ion-row>
          <ion-chip style="width:25%">
            <ion-text class="medium bold">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-text>
          </ion-chip>
        </ion-row>
        <ion-row>
          <ion-text style="width:25%">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-virtual-scroll>
</ion-content>

<ion-content class="data" *ngIf="!(loading$ | async)">
  <ion-virtual-scroll [items]="(historyBookings | async | sort : 'createdAt' : 'des')"  approxItemHeight="60px">
    <ion-card *virtualItem="let historyBooking">
      <ion-card-content>
        <ion-row *ngIf="(type$ | async) == 'flight'">
          <ion-row>
            <ion-label class="large">
              {{ historyBooking.trip_requests.Segments[0].OriginName }}
            </ion-label>
            <ion-label class="bold">
              From
            </ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="large">{{ tripType(historyBooking) }}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="large">
              {{ historyBooking.trip_requests.Segments[0].DestinationName }}
            </ion-label>
            <ion-label class="bold">
              To
            </ion-label>
          </ion-row>
        </ion-row>

        <ion-row *ngIf="(type$ | async) == 'hotel'">
          <ion-row>
            <ion-label class="large">
              {{ historyBooking.guest_details.basiscInfo.CheckInDate }}
            </ion-label>
            <ion-label class="bold">
              Check In
            </ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="large"> </ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="large">
              {{ historyBooking.guest_details.basiscInfo.CheckOutDate }}
            </ion-label>
            <ion-label class="bold">
              Check Out
            </ion-label>
          </ion-row>
        </ion-row>

        <ion-row *ngIf="(type$ | async) == 'bus'">
          <ion-row>
            <ion-label class="large">
              {{ historyBooking.bus_requests[0].sourceCity }}
            </ion-label>
            <ion-label class="bold">
              From
            </ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="large"> </ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="large">
              {{ historyBooking.bus_requests[0].destinationCity }}
            </ion-label>
            <ion-label class="bold">
              To
            </ion-label>
          </ion-row>
        </ion-row>

        <ion-row *ngIf="(type$ | async) == 'train'">
          <ion-row>
            <ion-label class="large">
              {{ historyBooking.train_requests.Segments[0].OriginName }}
            </ion-label>
            <ion-label class="bold">
              From
            </ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="large">{{ tripType(historyBooking) }}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="large">
              {{ historyBooking.train_requests.Segments[0].DestinationName }}
            </ion-label>
            <ion-label class="bold">
              To
            </ion-label>
          </ion-row>
        </ion-row>

        <ion-row>
          <ion-row>
            <ion-label class="medium bold">{{ updateDate(historyBooking) | date : 'd'}}th</ion-label>
            <ion-label class="medium bold">{{ updateDate(historyBooking) | date : 'LLL'}}</ion-label>
          </ion-row>
          <ion-chip>
            <ion-label class="medium bold" *ngIf="(type$ | async) == 'flight'">{{ historyBooking.passenger_details.published_fare | currency: 'INR'}}</ion-label>
            <ion-label class="medium bold" *ngIf="(type$ | async) == 'hotel'">{{ historyBooking.guest_details.basiscInfo.TotalBaseFare | currency: 'INR'}}</ion-label>
            <ion-label class="medium bold" *ngIf="(type$ | async) == 'bus'">{{ historyBooking.passenger_details.fareDetails.total_amount | currency: 'INR'}}</ion-label>
            <ion-label class="medium bold" *ngIf="(type$ | async) == 'train'">{{  historyBooking.passenger_details.basiscInfo.TotalBaseFare | currency: 'INR'}}</ion-label>
          </ion-chip>
        </ion-row>

        <ion-row *ngFor="let pnr of getPNR(historyBooking)">
          <ion-label class="medium bold" (click)="viewFile(pnr)">View</ion-label>
          <ion-button (click)="rescheduleTicket(historyBooking)">
            <ion-label class="medium bold">Reschedule</ion-label>
          </ion-button>
          <ion-button (click)="cancelTicket(historyBooking)">
            <ion-label class="medium bold">Cancel</ion-label>
          </ion-button>
          <ion-button (click)="downloadTicket(pnr)">
            <ion-label class="medium bold">Download</ion-label>
          </ion-button>
        </ion-row>
      </ion-card-content>

    </ion-card>

  </ion-virtual-scroll>
</ion-content>
