
<ion-content *ngIf="!(historyBookings | async)">
  <ion-card *ngFor="let newBooking of [1,2,3,4,5,6,7,8,9,10]">
    <ion-card-content>
      <ion-row>
        <ion-row style="width:25%">
          <ion-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
          <ion-text>From</ion-text>
        </ion-row>
        <ion-row style="width:25%">
          <ion-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
        </ion-row>
        <ion-row style="width:25%">
          <ion-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
          <ion-text>To</ion-text>
        </ion-row>
      </ion-row>
      <ion-row>
        <ion-row style="width:30%">
          <ion-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
          <ion-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
        </ion-row>
        <ion-chip style="width:25%">
          <ion-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
        </ion-chip>
      </ion-row>
      <ion-row>
        <ion-text style="width:25%">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-text>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content>
  <ion-card *ngFor="let historyBooking of (historyBookings | async | sort : 'id')">
    <ion-card-content>
      <ion-row>
        <ion-row>
          <ion-text>{{historyBooking.trip_requests.Segments[0].OriginName}}</ion-text>
          <ion-text>From</ion-text>
        </ion-row>
        <ion-row>
          <ion-text>{{tripType(historyBooking)}}</ion-text>
          <!-- <ion-icon name="add"></ion-icon> -->
        </ion-row>
        <ion-row>
          <ion-text>{{historyBooking.trip_requests.Segments[0].DestinationName}}</ion-text>
          <ion-text>To</ion-text>
        </ion-row>
      </ion-row>
      <ion-row>
        <ion-row>
          <ion-text>{{historyBooking.travel_date | date : 'd'}}th</ion-text>
          <ion-text>{{historyBooking.travel_date | date : 'LLL'}}</ion-text>
        </ion-row>
        <ion-chip>
          <ion-text>{{historyBooking.passenger_details.fare_response.published_fare | currency: 'INR'}}</ion-text>
        </ion-chip>
      </ion-row>
      <ion-row>
        <ion-button (click)="downloadTicket(historyBooking)">
          Download
        </ion-button>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
