
<ion-content *ngIf="!(historyBookings | async)">
  <ion-card *ngFor="let newBooking of [1,2,3,4,5,6,7,8,9,10]">
    <ion-card-content>
      <ion-row>
        <ion-row style="width:25%">
          <ion-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
          <ion-label>From</ion-label>
        </ion-row>
        <ion-row style="width:25%">
          <ion-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
        </ion-row>
        <ion-row style="width:25%">
          <ion-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
          <ion-label>To</ion-label>
        </ion-row>
      </ion-row>
      <ion-row>
        <ion-row style="width:30%">
          <ion-text class="medium bold">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
          <ion-text class="medium bold">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
        </ion-row>
        <ion-chip style="width:25%">
          <ion-text class="medium bold">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-text>
        </ion-chip>
      </ion-row>
      <ion-row>
        <ion-text style="width:25%">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-text>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content class="data">
  <ion-card *ngFor="let historyBooking of (historyBookings | async | sort : 'id' : 'asc')">
    <ion-card-content>
      <ion-row>
        <ion-row>
          <ion-label class="large">{{historyBooking.trip_requests.Segments[0].OriginName}}</ion-label>
          <ion-label class="bold">From</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="large">{{tripType(historyBooking)}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="large">{{historyBooking.trip_requests.Segments[0].DestinationName}}</ion-label>
          <ion-label class="bold">To</ion-label>
        </ion-row>
      </ion-row>
      <ion-row>
        <ion-row>
          <ion-label class="medium bold">{{historyBooking.updatedAt | date : 'd'}}th</ion-label>
          <ion-label class="medium bold">{{historyBooking.updatedAt | date : 'LLL'}}</ion-label>
        </ion-row>
        <ion-chip>
          <ion-label class="medium bold">
            {{historyBooking.passenger_details.fare_response.published_fare | currency: 'INR'}}</ion-label>
        </ion-chip>
      </ion-row>
      <ion-row *ngFor="let pnr of getPNR(historyBooking.passenger_details.PNR)">
        <ion-label class="medium bold" (click)="viewFile(pnr)">View</ion-label>
        <ion-button (click)="downloadTicket(pnr)">
          <ion-label class="medium bold">Download</ion-label>
        </ion-button>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
