ion-header {
    ion-title {
        padding: 0px !important;
    }
}


ion-content {
    >ion-grid {
        --ion-grid-padding: 10px !important;

        >* {
            margin: 4px 0px;
        }

        >ion-segment {
            min-height: 40px !important;
            >ion-segment-button {
                min-width: 20px !important;
            }
        }

        >ion-range {
            margin: auto 4px;
            padding: 0px;
        }

        >ion-item {
            min-height: 50px;
        }

        >ion-row {
            justify-content: space-between;
        }
    }
}