<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismiss()">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Hotel Filter</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reset()">
        <ion-label class="bold">RESET</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-label>Star Rating</ion-label>
    <ion-segment mode="ios" (ionChange)="chooseStarRating($event)" [value]="(inputs$ | async).starRating">
      <ion-segment-button value="-1">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>One</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Two</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-label>Three</ion-label>
      </ion-segment-button>
      <ion-segment-button value="4">
        <ion-label>Four</ion-label>
      </ion-segment-button>
      <ion-segment-button value="5">
        <ion-label>Five</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-label>Price : {{ (inputs$ | async).price }}</ion-label>
    <ion-range (ionChange)="priceRange($event)" class="filter" pin="true" ticks="true" snaps="true" min="1000"
      max="100000" step="1000" [value]="(inputs$ | async).price">
    </ion-range>

    <ion-row>
      <ion-label>1000</ion-label>
      <ion-label>10,00,000</ion-label>
    </ion-row>

    <ion-label>Preferred Hotels</ion-label>

    <ion-list>
      <div *ngFor="let airline of (inputs$ | async).place">
        <ion-item>
          <ion-label>{{airline.name}}</ion-label>
          <ion-checkbox class="default" slot="end" [checked]="airline.value" (ionChange)="choosePlaces($event)"
            [value]="airline">
          </ion-checkbox>
        </ion-item>
      </div>
    </ion-list>

  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end" (click)="dismiss()">
      <ion-button>
        <ion-label>Done</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>


  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-text>Price(Per Night)</ion-text>
        </ion-row>
        <ion-row>
          <ion-text>{{'0' | currency:'INR'}} to {{'3000' | currency:'INR'}}</ion-text>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-range min="-200" max="200" color="secondary">
                <ion-icon slot="start" name="sunny"></ion-icon>
                <ion-icon slot="end" name="sunny"></ion-icon>
              </ion-range>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-text>Set Budget</ion-text>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-chip *ngFor="let budget of options.budget;let i = index" (click)="chipSelection(budget,i)">
              <ion-text>{{ budget.min | currency:'INR'}} - {{ budget.max | currency:'INR'}}</ion-text>
              <ion-icon name="close" *ngIf="budget.selection"></ion-icon>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-item (click)="selectLocation()">
              <ion-label>Location</ion-label>
              <ion-icon src="../../../assets/ionicons/chevron-forward-outline.svg" slot="end"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-chip *ngFor="let location of options.location;let i = index" (click)="chipSelection(location,i)">
              <ion-icon name="close" *ngIf="budget.selection"></ion-icon>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-text>Property Types</ion-text>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-chip *ngFor="let property of options.property_type;let i = index" (click)="chipSelection(property,i)">
              <ion-text>{{ property.name }}({{property.value}})</ion-text>
              <ion-icon name="close" *ngIf="property.selection"></ion-icon>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-text>Amenities</ion-text>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-chip *ngFor="let amenities of options.amenities;let i = index" (click)="chipSelection(amenities,i)">
              <ion-text>{{ amenities.name }}({{amenities.value}})</ion-text>
              <ion-icon name="close" *ngIf="amenities.selection"></ion-icon>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-text>User Rating</ion-text>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-chip *ngFor="let rating of options.user_rating;let i = index" (click)="chipSelection(rating,i)">
              <ion-text>{{ rating.rate }} & Above({{rating.value}})</ion-text>
              <ion-icon name="close" *ngIf="rating.selection"></ion-icon>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid> -->
