<form [formGroup]="fairSummary">
  <ion-row id="fare">
    <ion-col>
      <!-- summary -->
      <ion-row *ngFor="let summary of summaries">
        <ion-col>
          <ion-row>
            <ion-title>{{ summary.title | uppercase }}</ion-title>
          </ion-row>
          <ion-row class="ion-justify-content-between" *ngFor="let fare of summary.fares">
            <ion-col size="5">
              <ion-text>{{ fare.name }}</ion-text>
            </ion-col>
            <ion-col size="5">
              <ion-row class="ion-justify-content-end">
                <ion-col size="9">
                  <ion-text *ngIf="fare.name !== 'Markup'">{{ fare.amount | currency : "INR" }}</ion-text>
                  <ion-input *ngIf="fare.name == 'Markup'" formControlName="markup" type="number"></ion-input>
                </ion-col>
                <ion-col size="3">
                  <ion-text>INR</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <!--total-->
      <ion-row>
        <ion-col>
          <ion-row class="ion-justify-content-between">
            <ion-col size="5">
              <ion-text>{{'grand total' | uppercase}}</ion-text>
            </ion-col>
            <ion-col size="5">
              <ion-row class="ion-justify-content-end">
                <ion-col size="9">
                  <ion-text>{{ '40000' | currency : "INR" }}</ion-text>
                </ion-col>
                <ion-col size="3">
                  <ion-text>INR</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <!-- cancelation -->
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-title>{{ 'Cancelation Risk' | uppercase }}</ion-title>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-radio-group formControlName="risk">
                <ion-row class="ion-justify-content-around">
                  <ion-col size="3">
                    <ion-item>
                      <ion-label>0 - 25%</ion-label>
                      <ion-radio slot="start" value="cancel-25"></ion-radio>
                    </ion-item>
                  </ion-col>
                  <ion-col size="3">
                    <ion-item>
                      <ion-label>25 - 50%</ion-label>
                      <ion-radio slot="start" value="cancel-50"></ion-radio>
                    </ion-item>
                  </ion-col>
                  <ion-col size="3">
                    <ion-item>
                      <ion-label>50 - 75%</ion-label>
                      <ion-radio slot="start" value="cancel-75"></ion-radio>
                    </ion-item>
                  </ion-col>
                  <ion-col size="3">
                    <ion-item>
                      <ion-label>75 - 100%</ion-label>
                      <ion-radio slot="start" value="cancel-100"></ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-item>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</form>