@import "../../../../style/util/variable.scss";
@import "../../../../style/component/item.scss";


ion-button {
    margin-top : 20px;
}

form {
    >ion-item {
        --padding-start:0px;
        >ion-input {
        }
        >ion-img {
            width: 24px;
            height: 24px;
        }
    }
    >ion-row{
        ion-col{
            >ion-button{
                --background: #A6D2AE !important;
                >ion-text{
                    color:white;
                }
            }
        }
    }
}