

ion-item{
    --padding-end:16px;
}

ion-content{
    >ion-row:last-child{
        >ion-col{
            max-width: fit-content;
            >ion-list{
                >ion-row{
                    >ion-col{
                        max-width: fit-content;
                        ion-chip{
                            display: flex;
                            flex-direction: column;
                            height: fit-content;
                            width: fit-content;
                        }
                    }
                }
            }
        }
    }
}

ion-footer {
    >ion-row#book-button {
        width: 100%;

        >ion-col {
            ion-button {
                width: -webkit-fill-available;
            }
        }
    }
}