/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$ionicons-font-path: "~ionicons/dist/fonts";
@import '~ionicons/dist/scss/ionicons.scss';


ion-content {
    --background: url(./assets/ng-img/bg.jpeg);
    --background-repeat: no-repeat;
    --background-size: cover;
}

:root {

    ion-icon,
    ion-back-button {
        padding-right: 0px;
        color: #3d9ed7 !important;
        // color : #90bd1c; approve button
        // color : #e44b00; rejecrt button
    }

    ion-button {
        --opacity: 0.4;
        --background: #90bd1c;

    }

    button {
        background: transparent;

        ion-button {
            --opacity: 0.4;
            --background: #90bd1c;

        }
    }

    ion-text,
    ion-label,
    ion-back-button {
        color: grey;
        font-size: large;
    }

    ion-item {
        --background: transparent;
    }

    ion-back-button {
        --padding-start: 0px;
        --padding-end: 0px;
        --icon-padding-start: 0px;
        --icon-padding-end: 0px;
    }

    ion-toolbar {
        --color: #ffffff;
        --background: rgb(137, 247, 137);

        * {
            background: transparent;
            --background: transparent;
        }
    }

    ion-modal{
        position: absolute;
    }
}
