/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

// @import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "style/main.scss";

:root {

    .baggage {
        .modal-wrapper, .picker-wrapper{
        position: absolute;
        overflow: hidden;
        max-width: 320px;
        border-radius: 10px;
        width: 90vw;
        height: 50vh !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 0;
        box-shadow: 0 16px 20px rgba(0,0,0,.4);
        background-color: #fafafa;
        }
    }

    .passenger
    {
        .modal-wrapper,
        .picker-wrapper {
            position: absolute;
            overflow: hidden;
            max-width: 320px;
            border-radius: 10px;
            width: 90vw;
            height: 29vh !important;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border: 0;
            box-shadow: 0 16px 20px rgba(0, 0, 0, .4);
            background-color: #fafafa;
        }
    }

    .emailitinerary
    {
        .modal-wrapper,
        .picker-wrapper {
            position: absolute;
            overflow: hidden;
            max-width: 320px;
            border-radius: 10px;
            width: 90vw;
            height: 52vh !important;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border: 0;
            box-shadow: 0 16px 20px rgba(0, 0, 0, .4);
            background-color: #fafafa;
        }
    }

    .forgot {
        .modal-wrapper,
        .picker-wrapper {
            position: absolute;
            overflow: hidden;
            max-width: 320px;
            border-radius: 10px;
            width: 90vw;
            height: 60vh !important;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border: 0;
            box-shadow: 0 16px 20px rgba(0, 0, 0, .4);
            background-color: #fafafa;
        }
    }

    .get-expense {
        .popover-content{
            right: 20px;
            left:331px !important;
            width : auto !important;
        }
    }   
}
