ion-card-header {
    padding:4px 4px 4px 4px;
}

ion-col {
    padding : 0px 0px 0px 0px;
}

ion-card-content{
    padding: 0px 0px 0px 0px;
}

ion-segment-button {
    font-size:x-small;
}

ion-datetime{
    padding-left : 0px;
}