
<ion-header>
    <ion-row class="totalExpense">
        <ion-row class="total">
            <ion-label>TOTAL EXPENSES</ion-label>
            <ion-title class="larger" *ngIf="!(loading$ | async)">{{ totalCost() | async | currency : 'INR' }}</ion-title>
            <ion-skeleton-text animated style="width: 20%" *ngIf="(loading$ | async)"></ion-skeleton-text>
    
        </ion-row>
        <ion-progress-bar type="indeterminate" *ngIf="(loading$ | async)"></ion-progress-bar>
        <ion-progress-bar [value]="progress$ | async" *ngIf="!(loading$ | async)"></ion-progress-bar>
        <ion-row class="paid-bal">
            <ion-row>
                <ion-label class="bold large" *ngIf="!(loading$ | async)">{{ totalSpent() | async | currency : 'INR' }}</ion-label>
                <ion-skeleton-text animated *ngIf="(loading$ | async)"></ion-skeleton-text>
                <ion-label class="title">SPENT</ion-label>
            </ion-row>
            <ion-row>
                <ion-label class="bold large" *ngIf="!(loading$ | async)">{{ totalSaving() | async | currency : 'INR' }}</ion-label>
                <ion-skeleton-text animated *ngIf="(loading$ | async)"></ion-skeleton-text>
                <ion-label class="title">SAVED</ion-label>
            </ion-row>
        </ion-row>
    </ion-row>
    <ion-row class="addtrip">
        <ion-label class="bold large"> Total Advance : {{ totalAdvance$ | async | currency : 'INR' }}</ion-label>
        <ion-button (click)="addTrip()">
            <ion-label>Add Trip</ion-label>
        </ion-button>
    </ion-row>
</ion-header>


<ion-content>

    <ion-row class="ion-justify-content-space-between">
        <ion-col class="bold large"> Total Expense : {{ (totalExpense$ | async) | currency : 'INR' }}</ion-col>
        <ion-col class="bold large"> Balance adavance : {{ ((totalAdvance$ | async) - (totalExpense$ | async)) | currency : 'INR' }}</ion-col>
    </ion-row>

    <ion-row class="booking" *ngIf="isManager$ | async">
        <ion-segment mode="ios" (ionChange)="tripChange($event)" [value]="tripType$ | async" class="search">
            <ion-segment-button value="mytrips" class="search">
                <ion-text class="medium bold">My Trips</ion-text>
            </ion-segment-button>
            <ion-segment-button value="approvaltrips" class="search">
                <ion-text class="medium bold">Approval Trips</ion-text>
            </ion-segment-button>
        </ion-segment>
      </ion-row>

    <ion-card *ngIf="(loading$ | async) && (trips$ | async).length == 0">
        <ion-card-header>
            <ion-item>
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <ion-item class="total">
                <ion-skeleton-text slot="start" animated></ion-skeleton-text>
                <ion-skeleton-text slot="end" animated></ion-skeleton-text>
            </ion-item>
            <ion-item class="reimburse">
                <ion-skeleton-text slot="start" animated></ion-skeleton-text>
                <ion-skeleton-text slot="end" animated></ion-skeleton-text>
            </ion-item>
        </ion-card-content>
    </ion-card>
    
    <ion-card *ngFor="let trip of (trips$ | async)" (click)="getExpense(trip)" >
        <ion-card-header>
            <ion-item>
                <ion-label  class="large bold">{{ trip.startDate | date : 'LLL yyyy' | uppercase}}</ion-label>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <ion-item class="total">
                <ion-title slot="start" class="large bold">{{ trip.trip_name | titlecase }}</ion-title>
                <ion-title slot="end" class="large bold">{{ tripTotalCost(trip) | async | currency : 'INR' }}</ion-title>
            </ion-item>
            <ion-item class="reimburse">
                <ion-label slot="start" class="large bold">Reimbursable Amount</ion-label>
                <ion-label slot="end"  class="large bold">{{ tripReImbursableCost(trip) | async | currency : 'INR' }}</ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-label class="large bold" *ngIf="(!(loading$ | async)) && (trips$ | async).length == 0">
        There is no trips
    </ion-label>
</ion-content>