@import "../../../../../style/base/color.scss";

ion-content{
    ion-item.date{
        --padding-start: 10px;
        --padding-end: 10px;
        --padding-top: 12px;
        --padding-bottom: 12px;
        >ion-row{
            margin: 0px;
            ion-label{
                margin: 8px;
            }
            ion-input{   
                border: 2px solid #{$suva-grey};
                margin: auto;
                height: 30px;
                min-width: 100px;
                border-radius: 6px;
                --padding-start: 0px !important;
                --padding-end: 0px;
                --padding-top: 0px;
                --padding-bottom: 0px;
            }
        }
    }

    ion-virtual-scroll{
        ion-item{
            --padding-start: 10px;
            --padding-end: 10px;
            --padding-top: 10px;
            --padding-bottom: 10px;
            >ion-label{
                border: 2px solid #{$limerick};
                padding: 10px;
                border-radius: 6px;
            }
        }
    }
}  