<ion-header id="sidebar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      My Bookings - {{ (type$ | async) | titlecase }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-justify-content-around">
    <ion-row>
      <ion-thumbnail class="dashboard">
        <ion-icon class="flight" src="../../../../../assets/icons/dashboard/flight.svg"
          (click)="viewBooking('flight')">
        </ion-icon>
      </ion-thumbnail>
      <ion-label class="large white">Flight</ion-label>
    </ion-row>
    <ion-row>
      <ion-thumbnail class="dashboard">
        <ion-icon class="hotel" src="../../../../../assets/icons/dashboard/hotel.svg"
          (click)="viewBooking('hotel')">
        </ion-icon>
      </ion-thumbnail>
      <ion-label class="large white">Hotel</ion-label>
    </ion-row>
    <ion-row>
      <ion-thumbnail class="dashboard">
        <ion-icon class="bus" src="../../../../../assets/icons/dashboard/bus.svg" (click)="viewBooking('bus')">
        </ion-icon>
      </ion-thumbnail>
      <ion-label class="large white">Bus</ion-label>
    </ion-row>
    <ion-row>
      <ion-thumbnail class="dashboard">
        <ion-icon class="train" name="train-sharp" (click)="viewBooking('train')">
        </ion-icon>
      </ion-thumbnail>
      <ion-label class="large white">Train</ion-label>
    </ion-row>
    <!-- <ion-row>
      <ion-thumbnail class="dashboard">
        <ion-icon class="cab" src="../../../../../assets/icons/dashboard/cab.svg" (click)="viewBooking('cab')">
        </ion-icon>
      </ion-thumbnail>
      <ion-label class="large white">Cab</ion-label>
    </ion-row> -->
  </ion-row>

  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="new">
        <ion-label class="large bold">New</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="history">
        <ion-label class="large bold">History</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
