@import "../../../../style/base/color.scss";
@import "../../../../style/util/mixins.scss";


ion-content{
    >ion-row:first-child {
        background: #{$geraldine};
        padding: 20px 0px;
        height: 150px;

        >ion-row {
            text-align: center;
            display: flex;
            flex-direction: column;
            height: min-content;

            >ion-label {
                margin-top: 10px;
            }
        }
    }
    ion-row.booking {
        height: 35px;
        margin: 20px 40px;
    }
    >ion-tabs{
        top: 200px !important;

        >ion-tab-bar {
            justify-content: space-between;
            --border:transparent;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 20px;
            margin-bottom: 20px;
            height: 6vh;

            @include first-tab-border("new", #{$geraldine});
            @include last-tab-border("history", #{$geraldine});

            >ion-tab-button {
                max-width: -webkit-fill-available;
                background:#{$white};
                color:#{$geraldine};

                >ion-label {
                    color:#{$geraldine} !important;
                }

                &[aria-selected="true"] {
                    background:#{$geraldine};
                    color:#{$white};

                    >ion-label {
                        color:#{$white} !important;
                    }

                }
            }
        }
    }
}