<ion-header id="sidebar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text>My Bookings</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-around">
    <ion-thumbnail>
      <ion-icon size="large" src="../../../../../assets/icons/dashboard/flight.svg" (click)="viewBooking('flight')"></ion-icon>
      <ion-title>Flight</ion-title>
    </ion-thumbnail>
    <ion-thumbnail>
      <ion-icon size="large" src="../../../../../assets/icons/dashboard/bus.svg" (click)="viewBooking('bus')">
      </ion-icon>
      <ion-title>Bus</ion-title>
    </ion-thumbnail>
    <ion-thumbnail>
      <ion-icon size="large" src="../../../../../assets/icons/dashboard/hotel.svg" (click)="viewBooking('hotel')">
      </ion-icon>
      <ion-title>Hotel</ion-title>
    </ion-thumbnail>
    <ion-thumbnail>
      <ion-icon size="large" src="../../../../../assets/icons/dashboard/cab.svg" (click)="viewBooking('cab')">
      </ion-icon>
      <ion-title>Cab</ion-title>
    </ion-thumbnail>
  </ion-row>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="new">
        <ion-label>New</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="history">
        <ion-label>History</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
