@import "../../../../style/util/mixins.scss";
@import "../../../../style/base/color.scss";

ion-content {
    >ion-row:first-child {
        background: #{$geraldine};
        padding: 20px 0px;
        height: 150px;

        >ion-row {
            text-align: center;
            display: flex;
            flex-direction: column;
            height: min-content;

            >ion-label {
                margin-top: 10px;
            }
        }
    }
    ion-router-outlet{
        top:120px;
    }
}