<ion-header id="sidebar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Approval Request
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-around">
    <ion-row>
      <ion-thumbnail class="dashboard">
        <ion-icon class="flight" src="../../../../../assets/icons/dashboard/flight.svg"
          (click)="viewApproval('flight')">
        </ion-icon>
      </ion-thumbnail>
      <ion-label class="large white">Flight</ion-label>
    </ion-row>
    <ion-row>
      <ion-thumbnail class="dashboard">
        <ion-icon class="bus" src="../../../../../assets/icons/dashboard/bus.svg" (click)="viewApproval('bus')">
        </ion-icon>
      </ion-thumbnail>
      <ion-label class="large white">Bus</ion-label>
    </ion-row>
    <ion-row>
      <ion-thumbnail class="dashboard">
        <ion-icon class="hotel" src="../../../../../assets/icons/dashboard/hotel.svg"
          (click)="viewApproval('hotel')">
        </ion-icon>
      </ion-thumbnail>
      <ion-label class="large white">Hotel</ion-label>
    </ion-row>
    <ion-row>
      <ion-thumbnail class="dashboard">
        <ion-icon class="cab" src="../../../../../assets/icons/dashboard/cab.svg" (click)="viewApproval('cab')">
        </ion-icon>
      </ion-thumbnail>
      <ion-label class="large white">Cab</ion-label>
    </ion-row>
  </ion-row>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

