<app-menu-bar></app-menu-bar>
<ion-header id="sidebar">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
        <ion-text>
          Travellers Pass
        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="notification()">
        <ion-icon slot="icon-only" name="notifications-outline" size="large"></ion-icon>
      </ion-button>
      <ion-button (click)="profile()">
        <ion-icon slot="icon-only" src="../../../../../assets/ionicons/md-people-circle-outline.svg" size="large">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="ion-justify-content-around">
      <ion-tab-button tab="home-tab">
        <ion-icon name="briefcase"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="trip-tab">
        <ion-icon name="home"></ion-icon>
        <ion-label>Trips</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="expense-tab">
        <ion-icon name="card"></ion-icon>
        <ion-label>Expense</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>