@import "../../../../style/util/variable.scss";
@import "../../../../style/util/mixins.scss";


ion-grid#header{
    --ion-grid-padding:0px;
    ion-row{
        ion-col{
            --ion-grid-column-padding : 0px;
            height:50px;
        }
    }
}

ion-title{
    padding-left : 0px;
    padding-right : 0px;
}

ion-label{
    font-size: small;
}