<!--dear user tr-->
<tr><td align='center' valign='top'><!-- CONTENT TABLE // --><table border='0' cellpadding='0' cellspacing='0' width='100%'>
<tr><td colspan='3' style='font-size:12px;text-align:justify;'><b>Dear User,</b><br>As per your request, we
are forwarding itineraries from {{Chennai (MAA)}} to {{Singapore (SIN)}}<br></td></tr>
</tr>
<!--from - to & passenger no-->
<tr><td><table border='0' cellpadding='0' cellspacing='0' width='100%'><tr style='background:#dee4f6;border:1px solid #d9deee;font-size:12px;'><td colspan='2'><b>Chennai (MAA) to London (LHR)</b></td><td style='text-align:right'><b>3 Adult(s) </b></td></tr><br/></table></td></tr>
<!--itinerary title-->
<tr><td align='center' valign='top'><!-- CONTENT TABLE // --><table border='0' cellpadding='0' cellspacing='0' width='100%'><tr style='background:#dee4f6;padding:6px;'><td width='48%' colspan='2'><b style='margin-left: 5px;font-size:12px;'>Itinerary 1</b><b style='margin-left:5px;font-size:12px;'>PREMIUM ECONOMY (<span style='color:#f58832;'>Refundable</span>)</b></td><td width='48%' style='text-align:right'>Fare : Rs. 447757.93</td></tr></table></td></tr>
<!--flight list-->
<tr><td align='center' valign='top'><!-- CONTENT TABLE // --><table border='0' cellpadding='0' cellspacing='0' width='100%'><tr style='border-top:1px solid #d9deee;font-size: 11px; padding-left:20px; padding-right:0;'><td width='25%' style='font-weight:bold;'><img src='https://www.travellerspass.com/assets/AirlineLogo/BA.gif' width='20' height='20' class='CToWUd'>&nbspBritish Airways</td><td width='40%'><b>Depart:</b> Chennai (MAA)</td><td width='35%' style='text-align:right'><b>Arrive:</b>London (LHR)</td></tr><tr style='font-size: 11px;'><td style='padding-bottom:10px'><b>BA - 36&nbspT</b></td><td style='padding-bottom:10px'><b>Time:</b>2021-01-11T07:30:00</td>
<td style='text-align:right;padding-bottom:10px'><b>Time:</b> 2021-01-11T13:15:00</td></tr><tr style='font-size: 11px;'>
<td colspan='3' style='text-align:right'><b>Journey Time: </b>5H 45M </td></tr></table><!-- // CONTENT TABLE --></td></tr>