

ion-content{
    >form {
        padding: 0px 10px;
        min-height: min-content;

        >ion-item {
            margin: 20px auto;

            >ion-row {
                display: flex;
                flex-direction: column;
            }
        }
    }
}