<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-text>Forgot Password</ion-text>
    </ion-title>
    <ion-buttons slot="end" (click)="dismiss()">
      <ion-button>
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="emailForm" (ngSubmit)="sendMail()">
    <ion-item>
      <ion-icon slot="start" src="../../../assets/ng-img/icons/mail.svg"></ion-icon>
      <ion-row>
        <ion-input type="text" formControlName="email" required email placeholder="Confirmation Mail"></ion-input>
      </ion-row>
    </ion-item>
    <ion-button expand="block" fill="solid" type="submit">
      <ion-text>Send Mail</ion-text>
    </ion-button>
  </form>
</ion-content>
