@import "../../../../../../style/util/variable.scss";
@import "../../../../../../style/util/mixins.scss";

ion-footer {
    ion-toolbar {
        --background:#{$text-color};
        --opacity: 0.5;

        >ion-row {
            height: 75px;
            padding: 3px;

            ion-col {
                @include flex-col-grid;
                @include footer-col;
                padding: 3px;
                >ion-row{
                    height: 40px;
                    ion-col{
                    @include flex-col-grid;
                    @include footer-col;
                    }
                }
            }
        }
    }
}