<ion-header>
  <ion-toolbar>
    <ion-title>bus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
          <ion-title>
            Parveen Travels
          </ion-title>
          <ion-text>
            Non AC Semi Sleeper(2+2)
          </ion-text>
        </mat-expansion-panel-header>
        <ion-row class="ion-justify-content-between">
          <ion-col>
            <ion-card-title>
              17:45 <ion-text>20 may</ion-text>
            </ion-card-title>
            <ion-text>
              Adyar Perungalathur
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-card-title>
              17:45 <ion-text>20 may</ion-text>
            </ion-card-title>
            <ion-text>
              Adyar Perungalathur
            </ion-text>
          </ion-col>
        </ion-row>
      </mat-expansion-panel>
    </mat-accordion>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Travellers Details
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row class="ion-justify-content-between">
        <ion-col>
          <ion-card-title>Name</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-card-title>Seat 16</ion-card-title>
          <ion-text>Seater</ion-text>
        </ion-col>
      </ion-row>
      <ion-item class="form-control">
        <ion-input type="text" value="Marriappan" readonly="true"></ion-input>
        <ion-icon slot="end" name="person"></ion-icon>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-card-title>Age</ion-card-title>
          <ion-row>
            <ion-item class="form-control">
              <ion-input type="text" value="30" readonly="true"></ion-input>
            </ion-item>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-card-title>Gender</ion-card-title>
          <ion-row>
            <ion-segment>
              <ion-segment-button>
                <ion-text>Male</ion-text>
              </ion-segment-button>
              <ion-segment-button>
                <ion-text>Female</ion-text>
              </ion-segment-button>
            </ion-segment>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-row>
          <ion-card-title>Enter Contact Details</ion-card-title>
          <ion-card-title>to receive your e-ticket and updates</ion-card-title>
        </ion-row>
        <ion-icon slot="end" src="../../../../../assets/icons/smartphone.svg"></ion-icon>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>Enter Email Address</ion-card-title>
      <ion-item class="form-control">
        <ion-input type="text" value="Marriappan@gmail.com" readonly="true"></ion-input>
      </ion-item>
      <ion-card-title>Phone Number</ion-card-title>
      <ion-item class="form-control">
        <ion-input type="text" value="7684345234" readonly="true"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-row>
          <ion-card-title>Enter GST Details</ion-card-title>
          <ion-text>options</ion-text>
        </ion-row>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>GSTIN Number</ion-card-title>
      <ion-item class="form-control">
        <ion-input type="text" value="Marriappan@gmail.com" readonly="true"></ion-input>
      </ion-item>
      <ion-card-title>Company Name</ion-card-title>
      <ion-item class="form-control">
        <ion-input type="text" value="7684345234" readonly="true"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-radio-group>
      <ion-item>
        <ion-row>
          <ion-text>Yes,Secure my trip</ion-text>
          <ion-text>I agree the Terms and Conditions</ion-text>
        </ion-row>
        <ion-radio slot="start" value="biff"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-text>No,I do not wish to insure my trip</ion-text>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-row>
        <ion-text>I Agree to the <span>Privacy Policy,User Agreement</span> and <span>Terms and Conditions</span></ion-text>
      </ion-row>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-row>
        <ion-title>{{'1150' | currency : 'INR'}}</ion-title>
        <ion-text>For 1 Seat</ion-text>
      </ion-row>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button>
        <ion-text>Next</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
