
<ion-content>

  <ion-card>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
          <ion-title>
            {{ (busDetail$ | async).operatorName }}
          </ion-title>
          <ion-label>
            {{ (busDetail$ | async).busType }}
          </ion-label>
        </mat-expansion-panel-header>
        <ion-row class="ion-justify-content-between">
          <ion-col>
            <label>
              {{ (busDetail$ | async).departureTime }}
            </label>
          </ion-col>
          <ion-col>
            <label>
              {{ (busDetail$ | async).arrivalTime }}
            </label>
          </ion-col>
        </ion-row>
      </mat-expansion-panel>
    </mat-accordion>
  </ion-card>

  <ion-row class="addpass" (click)="addPassengerDetails()">
    <ion-label class="large bold">Passenger Details</ion-label>
    <ion-label>{{ totalSeat$ | async}} Seats</ion-label>
  </ion-row>

  <ion-card>
    <ion-card-header>
      <ion-row class="ion-justify-content-between">
        <ion-col>
          <ion-text class="medium bold">  </ion-text>
          <ion-text class="bold">  </ion-text>
        </ion-col>
        <ion-col>
          <ion-text class="medium bold">Seat Number</ion-text>
          <ion-text class="bold">{{ (selectedSeat$ | async)[0].id }}</ion-text>
        </ion-col>
      </ion-row>
      <mat-divider></mat-divider>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-row slot="start">
            <ion-text class="medium bold">Base Fare</ion-text>
          </ion-row>
          <ion-row slot="end">
            <ion-text class="medium bold">{{ (busDetail$ | async).fare | currency : 'INR'}}</ion-text>
          </ion-row>
        </ion-item>
        <mat-divider></mat-divider>
        <ion-item>
          <ion-row slot="start">
            <ion-text class="medium bold">Service Charges</ion-text>
          </ion-row>
          <ion-row slot="end">
            <ion-text class="medium bold">{{ (fareDetail$ | async).service_Charges | currency : 'INR'}}</ion-text>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-row slot="start">
            <ion-text class="medium bold">Other Charges</ion-text>
          </ion-row>
          <ion-row slot="end">
            <ion-text class="medium bold">{{ 0 | currency : 'INR'}}</ion-text>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-row slot="start">
            <ion-text class="medium bold">SGST(9%)</ion-text>
          </ion-row>
          <ion-row slot="end">
            <ion-text class="medium bold">{{ (fareDetail$ | async).sgst_Charges | currency : 'INR'}}</ion-text>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-row slot="start">
            <ion-text class="medium bold">CGST(9%)</ion-text>
          </ion-row>
          <ion-row slot="end">
            <ion-text class="medium bold">{{ (fareDetail$ | async).cgst_Charges | currency : 'INR'}}</ion-text>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-row slot="start">
            <ion-text class="medium bold">IGST(9%)</ion-text>
          </ion-row>
          <ion-row slot="end">
            <ion-text class="medium bold">{{ (fareDetail$ | async).igst_Charges | currency : 'INR'}}</ion-text>
          </ion-row>
        </ion-item>
        <mat-divider></mat-divider>
        <ion-item>
          <ion-row slot="start">
            <ion-text class="medium bold">Net Payable</ion-text>
          </ion-row>
          <ion-row slot="end">
            <ion-text class="medium bold">{{ (fareDetail$ | async).total_amount | currency : 'INR'}}</ion-text>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
