<ion-header>
  <ion-toolbar>
    <ion-title>
      Search {{ title | titlecase }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar type="text" inputmode="text" animated
    (ionInput)="search($event.target.value)" #city [placeholder]="'Select ' + title | titlecase">
  </ion-searchbar>
  
  <ion-list-header class="searchHeading" *ngIf="type == 'flight'">
    <ion-label class="bold large">City Name [ City Code ]</ion-label>
    <ion-label class="bold large" style="text-align: end;">Airport Name [ Airport Code ]</ion-label>
  </ion-list-header>

  <ion-list-header class="searchHeading" *ngIf="type == 'hotel'">
    <ion-label class="bold large">City</ion-label>
    <ion-label class="bold large" style="text-align: end;">Country [ Country Code ]</ion-label>
  </ion-list-header>

  <ion-list-header class="searchHeading" *ngIf="title == 'nationality'">
    <ion-label class="bold large">Nationality</ion-label>
    <ion-label class="bold large" style="text-align: end;">Country Code</ion-label>
  </ion-list-header>



  <ion-list *ngIf="(flightcities$ | async).length > 0">
    <ion-item class="searchItem" lines="none" *ngFor="let city of (flightcities$ | async)" (click)="select(city)">
      <ion-label class="bold large">{{city.city_name}} [ {{city.city_code}} ]</ion-label>
      <ion-text class="medium bold">{{city.airport_name}} [ {{city.airport_code}} ]</ion-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="(hotelcities$ | async).length > 0">
    <ion-item class="searchItem" lines="none" *ngFor="let city of (hotelcities$ | async)" (click)="select(city)">
      <ion-label class="bold large">{{city.destination}}</ion-label>
      <ion-text class="medium bold">{{city.country}} [ {{city.countrycode}} ]</ion-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="(nationalities$ | async).length > 0">
    <ion-item class="searchItem" lines="none" *ngFor="let nation of (nationalities$ | async)" (click)="select(nation)">
      <ion-label class="bold large">{{nation.nationality}}</ion-label>
      <ion-text class="medium bold">{{nation.country_code}}</ion-text>
    </ion-item>
  </ion-list>

</ion-content>
