ion-content{
    >ion-row{
        >ion-col{
            flex-direction: column;
            padding: 10px;
            >ion-row{
                justify-content: center;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
}