<ion-content>
  <!-- <ion-list>
    <ion-item *ngFor="let user of employee" class="employee-name">
      <ion-label>{{ user.name+ ' ' +user.lastname }}</ion-label>
    </ion-item>
  </ion-list> -->

  <ion-list class="employee-list">
    <ion-item-group *ngFor="let emp of (employee | async)">
      <ion-item-divider>
        <ion-title class="large">{{ emp[0].designation | titlecase }}</ion-title>
      </ion-item-divider>

      <ion-item class="mx-3" *ngFor="let e of emp" (click)="SelectEmployee(e)">
        <ion-label>{{ ((e.name !== null) && (e.lastname !== null)) ? (e.name+ ' ' +e.lastname | titlecase) : (e.name | titlecase) }}</ion-label>
        <ion-icon src="../../../../assets/ionicons/checkmark-outline.svg"
          *ngIf="checkAdded(e) | async"></ion-icon>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>
